Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

chore(sdk): re-add test that should pass now
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

chore: add changeset
  .changeset/strange-parents-lay.md
Due: none

test(sdk): Pegged Variable Criteria Incentive
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Due: check

refactor(Incentives): rename methods for clarity and consistency
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

feat: add getIncentiveScalar method to Erc20PeggedVariableCriteriaIncentive class
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

refactor: correct interface name and update comments
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

chore: generate changeset
  .changeset/five-chicken-float.md
Due: none

fix(sdk): capitilization issue
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
Due: check

fix(evm): tweak deploy script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

feat: add criteria to incentive payload interface
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

feat(evm): Pegged Variable Criteria Incentive
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Due: forge

feat(Incentives): add peg method for peggedVariableCriteriaIncenitve
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

feat(evm): Pegged Variable Criteria Incentive scripts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

test(evm): Pegged Variable Criteria Incentive
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
Due: forge

feat(helpers): add ERC20PeggedVariableCriteriaIncentive support
  test/src/helpers.ts
Due: check

test: add ERC20PeggedVariableCriteriaIncentive tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

chore: format
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Due: forge

refactor(Incentive): update incentive type mapping key
  packages/sdk/src/Incentives/Incentive.ts
Due: check

feat(evm): add criteria to ERC20PeggedIncentive
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Due: forge

fix: rearrange params
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check, forge

feat: add criteria parameter to incentive payload function
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

test: add ERC20PeggedVariableCriteriaIncentive tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  test/src/helpers.ts
Due: check

test: add basic and owner-related tests for ERC20 incentive
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

test: Remove unused function and update test values
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

chore(sdk): remove failing test
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

fix(evm): utilize consistent manager paradigm for incentives
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

test(sdk): add manager to incentive init params
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Due: check
