Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

test(sdk): update pointsincentive test for new signer
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Due: check

test(sdk): update SignerValidator utils and interfaces
  packages/sdk/src/Validators/SignerValidator.test.ts
Due: check

test(sdk): update erc1155 incentive test for new signer
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
Due: check

test(sdk): update erc20 intentive test for new signer
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
Due: check

refactor(sdk): generate hashed data locally
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
Due: check

fix(sdk): don't hardcode incentiveQuantity
  packages/sdk/src/utils.ts
Due: check

test(sdk): update prepareSignerValidatorClaimDataPayload
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Due: check

chore(sdk): update prepareSignerValidatorClaimDataPayload to use interface, proper documentation
  package.json
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/utils.ts
  pnpm-lock.yaml
Due: check

chore: re-add missing type
  packages/sdk/src/utils.ts
Due: check

fix(evm): validation param reordering
  packages/evm/contracts/validators/SignerValidator.sol
  packages/sdk/src/utils.ts
Due: check, forge

chore: install ethereum-cryptography
  package.json
  pnpm-lock.yaml
Due: check

test(sdk): update allowlist tests for new signature
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/test/helpers.ts
Due: check

fix(evm): make SignerValidator utilize EIP712
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/shared/IBoostClaim.sol
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

test(sdk): update cgda test for new signer
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
Due: check

feat(sdk): update SignerValidator utils and interfaces
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
Due: check

s/Validator/AValidator/g
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/actions/Action.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/e2e/EndToEnd.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
  packages/sdk/src/Validators/Validator.ts
Due: check, forge

feat(evm): add delegated claims interface
  packages/evm/contracts/BoostCore.sol
Due: forge

fix(evm): APointsIncentive change claim perms to this vs sender
  packages/evm/contracts/incentives/APointsIncentive.sol
Due: forge

test(evm): APointsIncentive change claim perms to this vs sender
  packages/evm/test/incentives/PointsIncentive.t.sol
Due: forge

chore(sdk): execute points tests
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Due: check

feat(evm): allow SignerValidator to track up to 8 incentives per Boost
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/validators/SignerValidator.t.sol
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
Due: check, forge

fix(evm): auth-guard `validate` function in SignerValidator
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

test(sdk): set owner on validator
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
Due: check

test(evm): Add fuzz tests for SignerValidator
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

test(evm): Add SignerValidator test that fuzzes a signature payload
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge
