Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

chore(evm): add contract coverage
  .vscode/extensions.json
  README.md
  packages/evm/package.json
Due: check

test(evm): ContractAction not initializing
  packages/evm/test/actions/ContractAction.t.sol
Due: forge

refactor(evm): remove initialize from AContractAction (unreachable)
  packages/evm/contracts/actions/AContractAction.sol
Due: forge

chore(evm): remove unreachable getComponentInterface
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/test/BoostRegistry.t.sol
Due: forge

test(evm): EventAction coverage
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/test/actions/EventAction.t.sol
Due: forge

feat(evm): remove unused burn from erc1155 mock
  packages/evm/contracts/shared/Mocks.sol
Due: forge

test(evm): SignerValidator fail init
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

feat(evm): removed unused Cloneable getComponentInterface implementation
  packages/evm/contracts/shared/Cloneable.sol
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/shared/Cloneable.t.sol
Due: forge

feat(evm): remove unused onlyBeforeInitialization
  packages/evm/contracts/shared/Cloneable.sol
Due: forge

refactor(evm): move getComponentInterface out of Incentive
  packages/evm/contracts/incentives/AAllowListIncentive.sol
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/APointsIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/Incentive.sol
Due: forge

test(evm): PointsIncentive coverage
  packages/evm/test/incentives/PointsIncentive.t.sol
Due: forge

test(evm): ERC20VariableIncentive full coverage
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

chore(evm): APointsIncentive remove unreachable initi error
  packages/evm/contracts/incentives/APointsIncentive.sol
Due: forge

test(evm): test init in CGDAIncentive
  packages/evm/test/incentives/CGDAIncentive.t.sol
Due: forge

test(evm): PointsIncentive test failed init
  packages/evm/test/incentives/PointsIncentive.t.sol
Due: forge

feat(evm): remove unused getComponentInterface in Action
  packages/evm/contracts/actions/AContractAction.sol
  packages/evm/contracts/actions/Action.sol
Due: forge

feat(evm): ERC20Incentive remove Mint strategy
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
Due: forge

test(evm): add reclaim raffle limit zero; remove mint tests
  packages/evm/test/incentives/ERC20Incentive.t.sol
Due: forge

test(evm): cover EventAction constructor
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/test/actions/EventAction.t.sol
Due: forge

refactor(evm): remove initialize from abstract contracts
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/actions/ERC721MintAction.sol
  packages/evm/contracts/allowlists/ASimpleAllowList.sol
  packages/evm/contracts/allowlists/ASimpleDenyList.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ASimpleBudget.sol
  packages/evm/contracts/budgets/AVestingBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/SimpleBudget.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/contracts/incentives/AAllowListIncentive.sol
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/actions/EventAction.t.sol
Due: forge

feat(evm): remove getComponentInterface from AllowList
  packages/evm/contracts/allowlists/ASimpleAllowList.sol
  packages/evm/contracts/allowlists/ASimpleDenyList.sol
  packages/evm/contracts/allowlists/AllowList.sol
Due: forge

test(evm): add passthrough auth test
  packages/evm/test/auth/PassthroughAuth.sol
Due: forge

test(evm): cover SimpleDenyList constructor
  packages/evm/test/allowlists/SimpleDenyList.t.sol
Due: forge

test(evm): full budget coverage
  packages/evm/contracts/budgets/Budget.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
Due: forge

test(evm): points incentive fix
  packages/evm/test/incentives/PointsIncentive.t.sol
Due: forge

chore(evm): refactor Incentive `claim` interface
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/incentives/AAllowListIncentive.sol
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/APointsIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/Incentive.sol
  packages/evm/test/BoostRegistry.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/incentives/AllowListIncentive.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/evm/test/incentives/PointsIncentive.t.sol
Due: forge

test(evm): e2e test for SignerValidator and ERC20VariableIncentive
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

chore: rename `reclaim` to `clawback`
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ASimpleBudget.sol
  packages/evm/contracts/budgets/AVestingBudget.sol
  packages/evm/contracts/budgets/Budget.sol
  packages/evm/contracts/incentives/AAllowListIncentive.sol
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/APointsIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/Incentive.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
  packages/evm/test/budgets/VestingBudget.t.sol
  packages/evm/test/incentives/AllowListIncentive.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/evm/test/incentives/PointsIncentive.t.sol
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
Due: check, forge

chore(evm): migrate unshared business logic to impl contracts
  packages/evm/contracts/actions/AContractAction.sol
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/contracts/actions/ContractAction.sol
  packages/evm/contracts/actions/ERC721MintAction.sol
  packages/evm/contracts/actions/EventAction.sol
  packages/evm/contracts/allowlists/AAllowList.sol
  packages/evm/contracts/allowlists/ASimpleAllowList.sol
  packages/evm/contracts/allowlists/ASimpleDenyList.sol
  packages/evm/contracts/allowlists/SimpleAllowList.sol
  packages/evm/contracts/allowlists/SimpleDenyList.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ASimpleBudget.sol
  packages/evm/contracts/budgets/AVestingBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/SimpleBudget.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/contracts/incentives/AAllowListIncentive.sol
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/APointsIncentive.sol
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/actions/ContractAction.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

feat(sdk): ERC20VariableIncentive sdk integration + tests
  README.md
  packages/cli/src/commands/deploy.ts
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  packages/sdk/vite-env.d.ts
  turbo.json
Due: check, forge

chore(sdk): update tests for latest api
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Due: check, forge

chore: fix tests
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/sdk/src/Incentives/Incentive.ts
Due: check, forge

feat(sdk): managed budget sdk integration
  README.md
  packages/cli/src/commands/deploy.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  turbo.json
Due: check

fix: typo
  packages/sdk/test/helpers.ts
Due: check

chore: add basic action test
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/test/helpers.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
