Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

feat(sdk): merge knownsignatures with our registry
  packages/sdk/src/Actions/EventAction.ts
  packages/signatures/manifests/functions.json
Due: check

feat(sdk,signatures): merge known signatures with signatures in eventaction, add mint
  .changeset/nasty-windows-mate.md
  packages/sdk/src/Actions/EventAction.ts
Due: check

[ADHOC] feat(sdk): merge knownsignatures with our registry (#202)
  .changeset/nasty-windows-mate.md
  packages/sdk/src/Actions/EventAction.ts
  packages/signatures/manifests/functions.json
Due: check

refactor: change boostIndex to boostId
  packages/evm/contracts/BoostCore.sol
  packages/sdk/src/BoostCore.ts
Due: check, forge

fix(evm): fix clawback calculations in erc1155 fixes #471
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Due: forge

fix(evm): address audit issue 485
  packages/evm/contracts/incentives/CGDAIncentive.sol
Due: forge

fix(evm): remove redundant init owner call
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Due: forge

fix(evm): correct limit/claims handling
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Due: forge

fix: address audit issue 486
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Due: forge

fix(evm): resolve audit issue number 477
  packages/evm/contracts/BoostCore.sol
Due: forge

chore(evm): lint fixes
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

fix(evm): use abstract registry for enums
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

feat(evm): add protocol fee handling in make incentives calls
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): fix fee handling in tests
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

feat: remove all referral fee references
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
Due: check, forge

feat(evm): remove unused fee state
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): add clawback to BoostCore
  packages/evm/contracts/BoostCore.sol
Due: forge

fix(evm): change the clawback code call in core
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): add incentive information in the _makeIncentives call
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): pay out protocol fees on claim
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): clawback with 0 amount
  packages/evm/test/BoostCore.t.sol
Due: forge

test(evm): add fuzz tests for clawbacks
  packages/evm/test/BoostCore.t.sol
Due: forge

feat(evm): switch clawbackFromTarget in ABudget
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/shared/IClaw.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Due: forge

feat(evm): add fee balance tracking to BoostCore
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostError.sol
Due: forge

feat(evm): add auth to clawback in BoostCore
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): add protocol fee settlement
  packages/evm/contracts/BoostCore.sol
Due: forge

ci(evm,viaIR): add param for successful evm build
  packages/evm/package.json
Due: check

test(evm): update incentive clawback tests
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Due: forge

fix(evm): transfer to claim target not protocol fee receiver
  .vscode/settings.json
  packages/evm/contracts/BoostCore.sol
Due: check, forge

feat(evm): change initial perms on incentive
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Due: forge

fix(evm): cleanup clawback interfaces and returns
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/shared/IClaw.sol
Due: forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
