Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

ci: add token to checkout to get changesets working
  .github/actions/install-dependencies/action.yml
  .github/workflows/danger.yaml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/use-cases.yml
  .github/workflows/verify.yml
Due: none

fix(evm): enable multiple claims by an address for ERC1155Incentives
  packages/evm/contracts/incentives/AAllowListIncentive.sol
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/APointsIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
Due: forge

test: add agora vote example
  examples/agora-vote/.env.sample
  examples/agora-vote/hardhat.config.cjs
  examples/agora-vote/package.json
  examples/agora-vote/src/agora-vote.test.ts
  examples/agora-vote/tsconfig.json
  examples/agora-vote/vitest.config.ts
  packages/signatures/manifests/events.json
  test/src/viem.ts
Due: check

chore: update pnpm-lock to include agora-vote
  pnpm-lock.yaml
Due: none

chore: add changeset
  .changeset/fifty-frogs-repair.md
Due: none

chore: address PR comments
  examples/agora-vote/src/agora-vote.test.ts
  packages/signatures/manifests/functions.json
Due: check

docs(signatures): create README, add readable signatures as keys to abi manifests
  .changeset/healthy-socks-stare.md
  packages/signatures/README.md
  packages/signatures/build.js
Due: check

[BOOST-4684] test: add agora vote example (#160)
  .changeset/fifty-frogs-repair.md
  examples/agora-vote/.env.sample
  examples/agora-vote/hardhat.config.cjs
  examples/agora-vote/package.json
  examples/agora-vote/src/agora-vote.test.ts
  examples/agora-vote/tsconfig.json
  examples/agora-vote/vitest.config.ts
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
  pnpm-lock.yaml
  test/src/viem.ts
Due: check

chore: tweak changesets pr title
  .github/workflows/on-push-to-main.yml
Due: none

ci: ignore danger if in changeset pr
  dangerfile.ts
Due: check

test: remove hash and chain id checks since they are now enforced by types
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Due: check

chore: add changeset
  .changeset/nasty-planes-remain.md
Due: none

feat(action-step): handle data fetching at action step level
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

refactor(errors): add validation errors for hash and chain id
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Due: check

refactor: simplify action step params type
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Due: check

ci: fix zora mint test
  examples/zora-mint/src/zora-mint.test.ts
Due: check

docs: add missing input param
  packages/sdk/src/Actions/EventAction.ts
Due: check

[BOOST-4797] feat(action-step): handle data fetching at action step level (#173)
  .changeset/nasty-planes-remain.md
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Due: check

chore(danger): don't fail if not using the pr template and wrote some stuff
  dangerfile.ts
Due: check

feat(evm): implement Variable Incentive Criteria
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
Due: forge

test(evm): test variable criteria incentive
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Due: forge

feat(sdk): add ts helper file for Variable Criteria Incetive
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

fix(evm): make initialize virtual
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Due: forge

feat(evm): add variable criteria incentive to deploy modules
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

refactor(sdk): change inheritance for Variable Critiria Incentive
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

feat(sdk): add variable criteria incentive to CLI deplo
  packages/cli/src/commands/deploy.ts
Due: check

feat(sdk): add variable crtieria incentive plumbing
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Due: check

refactor(sdk): move tx lookup order in getIncentiveScalar
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

feat(sdk): add ERC20VariableCriteriaIncentive to Inentive helper file
  packages/sdk/src/Incentives/Incentive.ts
Due: check

test(sdk): variable criteria incentives test
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/signatures/manifests/functions.json
Due: check

chore: deploy
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426652.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426757.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426769.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426947.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728427070.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1728427352.json
  packages/evm/deploys/11155111.json
Due: check, forge

refactor(sdk): prefer wagmi utils vs viem
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

chore(sdk): move custom errors and add comments
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/errors.ts
Due: check

Create witty-jokes-accept.md
  .changeset/witty-jokes-accept.md
Due: none

feat(sdk): add method to BoostCore
  .changeset/plenty-ligers-notice.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Due: check
