Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

test: add sepolia url to gh action environment
  .github/workflows/verify.yml
Due: none

feat(evm): generate interface for ManagedBudgetWithFeesV2
  packages/evm/script/solidity/ComponentInterface.s.sol
Due: forge

feat(sdk): add ManagedBudgetWithFeesV2 to BoostCore
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/index.ts
Due: check

feat(sdk): add ManagedBudgetWithFeesV2
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.ts
  test/src/helpers.ts
Due: check

chore: add changeset
  .changeset/beige-peaches-attack.md
Due: none

fix: utilize ManagedBudgetV2 in sdk tests
  packages/sdk/src/Budgets/ManagedBudgetWithFees.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.ts
  test/src/helpers.ts
Due: check

[ADHOC] Add ManagedBudgetWithFeesV2 to SDK (#394)
  .changeset/beige-peaches-attack.md
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Due: check, forge

Version Packages (#395)
  .changeset/beige-peaches-attack.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore(sdk): allow overwrite of addresses in BoostCore
  packages/sdk/src/BoostCore.ts
Due: check

chore: add changset
  .changeset/late-boxes-sell.md
Due: none

[ADHOC] Allow overwrite of addresses in BoostCore (#396)
  .changeset/late-boxes-sell.md
  packages/sdk/src/BoostCore.ts
Due: check

Version Packages (#397)
  .changeset/late-boxes-sell.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

hotfix(sdk): make address optional
  packages/sdk/src/BoostCore.ts
Due: check

[ADHOC] hotfix(sdk): make address optional (#398)
  packages/sdk/src/BoostCore.ts
Due: check

test(sdk): add tests to core for pegged variable criteria incentive and topup
  packages/sdk/src/BoostCore.test.ts
Due: check

fix(sdk): tweak default placeholder values in getTopupPayload
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Due: check

Revert "[ADHOC] hotfix(sdk): make address optional (#398)"
  packages/sdk/src/BoostCore.ts
Due: check

Revert "[ADHOC] Allow overwrite of addresses in BoostCore (#396)"
  packages/sdk/src/BoostCore.ts
Due: check

chore: add changeset
  .changeset/cyan-jokes-play.md
Due: none

[ADHOC] Revert #396 & #398 (#400)
  .changeset/cyan-jokes-play.md
  packages/sdk/src/BoostCore.ts
Due: check

Version Packages (#401)
  .changeset/cyan-jokes-play.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

test(ERC20PeggedIncentive): Add test for claim rejection on duplicate claims
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
Due: forge

fix: mark claim as completed after transfer
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
Due: forge

chore: format
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
Due: forge

chore(evm): deploy LimitedSignerValidator
  packages/evm/README.md
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

chore(evm): deploy LimitedSignerValidator
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1739217115.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1739217966.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1739218119.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1739218063.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Due: check, forge

chore(evm): add more security details to readme
  packages/evm/README.md
Due: none

add changeset
  .changeset/forty-rockets-yell.md
Due: none

feat(sdk): switch default validator to LimitedSignerValidator with maxClaimCount of 1
  packages/sdk/src/BoostCore.ts
Due: check

test(sdk): add signer to default LimitedSignerValidator in local testing
  packages/sdk/src/BoostCore.ts
Due: check

test(sdk): Ensure default behavior is limited by LimitedSignerValidator
  packages/sdk/src/BoostCore.test.ts
Due: check

chore: changeset
  .changeset/chilled-walls-explode.md
Due: none

chore(sdk): address @topocount nits
  packages/sdk/src/BoostCore.test.ts
Due: check
