Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

feat: add deployment script for BoostForwarder proxy
  packages/evm/script/solidity/Deploy_BoostForwarder.s.sol
Due: forge

feat: add upgrade script for BoostForwarder implementation
  packages/evm/script/solidity/Upgrade_BoostForwarder.s.sol
Due: forge

chore: rename to TBIForwarder
  packages/evm/contracts/timebased/TBIForwarder.sol
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: forge

chore: update stale natspec
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
Due: forge

feat: add zero address validation to TBIForwarder initialization
  packages/evm/contracts/timebased/TBIForwarder.sol
Due: forge

docs: clarify Compound v2 cToken deposit limitations
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
Due: forge

chore: add log output to TBIForwarder upgrade script
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
Due: forge

[ADHOC] Add TBIForwarder stateless deposit router (#529)
  packages/evm/contracts/timebased/TBIForwarder.sol
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: forge

chore: deploy tbi to new chains
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-1776287008085.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-1776287082183.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-1776286817238.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-1776285113973.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-1776287249961.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/1/run-1776283221410.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/42161/run-1776283066763.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/999/run-1776281971678.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/999/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776284731864.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776285200104.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776285292494.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-1776284414550.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-1776284581498.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/999/run-1776283796756.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/999/run-latest.json
  packages/evm/deploys/1.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/999.json
Due: check, forge

[ADHOC] Deploy TBI contracts to additional EVM chains (#530)
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-1776287008085.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-1776287082183.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-1776286817238.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-1776285113973.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-1776287249961.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/1/run-1776283221410.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/42161/run-1776283066763.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/999/run-1776281971678.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/999/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776284731864.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776285200104.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-1776285292494.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/1/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-1776284414550.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-1776284581498.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/42161/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/999/run-1776283796756.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/999/run-latest.json
  packages/evm/deploys/1.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/999.json
Due: check, forge

chore: deploy on arbitrum
  packages/evm/broadcast/Deploy.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42161/run-latest.json
  packages/evm/deploys/42161.json
Due: check, forge

chore: deploy to mainnet
  packages/evm/broadcast/Deploy.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/1/run-latest.json
  packages/evm/deploys/1.json
Due: check, forge

chore: deploy to hyperevm
  packages/evm/broadcast/Deploy.s.sol/999/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/999/run-1776303984703.json
  packages/evm/broadcast/Deploy_Modules.s.sol/999/run-latest.json
  packages/evm/deploys/999.json
Due: check, forge

[ADHOC] deploy on arbitrum (#531)
  packages/evm/broadcast/Deploy.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42161/run-latest.json
  packages/evm/deploys/42161.json
Due: check, forge

[ADHOC] deploy on mainnet (#532)
  packages/evm/broadcast/Deploy.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/1/run-latest.json
  packages/evm/deploys/1.json
Due: check, forge

[ADHOC] deploy on hyperevm (#533)
  packages/evm/broadcast/Deploy.s.sol/999/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/999/run-1776303984703.json
  packages/evm/broadcast/Deploy_Modules.s.sol/999/run-latest.json
  packages/evm/deploys/999.json
Due: check, forge

feat: add support for Arbitrum, Ethereum, and HyperEVM chains
  .changeset/light-cheetahs-notice.md
Due: none

chore: exit pre-release mode and format changeset config
  .changeset/pre.json
Due: check

[ADHOC] SDK release 8.1.0 (#534)
  .changeset/light-cheetahs-notice.md
  .changeset/pre.json
Due: check

Version Packages (#535)
  .changeset/light-cheetahs-notice.md
  .changeset/pre.json
  .changeset/rude-owls-divide.md
  .changeset/three-readers-deny.md
  .changeset/three-swans-prove.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat(TBIForwarderAdapters): Support explicit receiver for deposit adapters
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: forge

feat(evm): TBIForwarder deployments on all mainnets
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-1777493924397.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-1777493401045.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-1777492906640.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-1777493294633.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-1777493080664.json
  packages/evm/deploys/1.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/999.json
Due: check, forge

feat(TBIForwarder): Add support for kyber swap
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779385151226.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779385248128.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779398185385.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779398321943.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779823717399.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779823777258.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779828117280.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-latest.json
  packages/evm/contracts/timebased/TBIForwarder.sol
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: check, forge

feat(TBIForwarder): Add support for Lido
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/1/run-1781047208879.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/1/run-latest.json
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: check, forge

feat: upgrade op module contracts
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1781300316346.json
  packages/evm/deploys/10.json
Due: check, forge

feat: deploy boostcore to polygon
  packages/evm/broadcast/Deploy.s.sol/137/run-1781301071277.json
  packages/evm/broadcast/Deploy.s.sol/137/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/137/run-1781301663310.json
  packages/evm/broadcast/Deploy_Modules.s.sol/137/run-latest.json
  packages/evm/deploys/137.json
Due: check, forge

chore: deploy tbi contracts on op and polygon
  packages/evm/broadcast/Deploy_TimeBased.s.sol/10/run-1781303918797.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/137/run-1781304469664.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/137/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/10/run-1781306179511.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/10/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/137/run-1781306321232.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/137/run-latest.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
Due: check, forge

[ADHOC] Contract deployments to OP and Polygon (#537)
  packages/evm/broadcast/Deploy.s.sol/137/run-1781301071277.json
  packages/evm/broadcast/Deploy.s.sol/137/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1781300316346.json
  packages/evm/broadcast/Deploy_Modules.s.sol/137/run-1781301663310.json
  packages/evm/broadcast/Deploy_Modules.s.sol/137/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/10/run-1781303918797.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/137/run-1781304469664.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/137/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/10/run-1781306179511.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/10/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/137/run-1781306321232.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/137/run-latest.json
  packages/evm/deploys/137.json
Due: check, forge

feat(TBIForwarderAdapters): Add generic Midas depositInstant adapter
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: forge

[BOOST-6525] Add generic Midas depositInstant adapter (#538)
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: forge

chore(evm): upgrade forwarder on optimism and polygon
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/10/run-1781733371772.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/10/run-latest.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/137/run-1781733466965.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/137/run-latest.json
Due: check, forge

chore(evm): deploy forwarder to optimism and polygon
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/10/run-1781732721596.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/137/run-1781732841427.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/137/run-latest.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
Due: check, forge

[ADHOC] Adds explicit receiver to deposit adapters (#536)
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/1/run-1777493924397.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/10/run-1781732721596.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/137/run-1781732841427.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/137/run-latest.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/42161/run-1777493401045.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/480/run-1777492906640.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/8453/run-1777493294633.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/999/run-1777493080664.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/1/run-1781047208879.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/1/run-latest.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/10/run-1781733371772.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/10/run-latest.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/137/run-1781733466965.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/137/run-latest.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779385151226.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779385248128.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779398185385.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779398321943.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779823717399.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779823777258.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-1779828117280.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/8453/run-latest.json
  packages/evm/contracts/timebased/TBIForwarder.sol
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/deploys/1.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/999.json
  packages/evm/script/solidity/Deploy_TBIForwarder.s.sol
  packages/evm/script/solidity/Upgrade_TBIForwarder.s.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: check, forge

feat: add TBI timelock deployment script with Solady handover support
  packages/evm/script/solidity/Deploy_TBITimelock.s.sol
Due: forge

test: fix stale proof test to respect monotonic commitment
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Due: forge

feat: enforce commitment constraints in setMerkleRoot
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
Due: forge
