Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

wip: original tests passing
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/contracts/shared/IReadCore.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostRegistry.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

refactor(EventAction): update transfer logs decoding logic
  packages/sdk/src/Actions/EventAction.ts
Due: check

fix(EventAction): fix lint warning for reordered args
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/cold-days-yell.md
Due: none

fix: use FEE_DENOMINATOR
  packages/evm/contracts/budgets/ManagedBudget.sol
Due: forge

test: integrate topups to prove them out
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

fix(EventAction): combine log and decodedLog objects
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/cool-turkeys-punch.md
Due: none

feat(evm): only trigger dust hatch if there is a value amount
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): incentives can be added to existing boosts
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): adding incentives to existing boosts
  packages/evm/test/BoostCore.t.sol
Due: forge

[BOOST-5197] update transfer signature logic to allow for deriving claimant (#364)
  .changeset/cold-days-yell.md
  packages/sdk/src/Actions/EventAction.ts
Due: check

feat(evm): add INT to primitive types
  packages/evm/contracts/actions/AEventAction.sol
Due: forge

feat(sdk): add INT to primitive types for Event Action
  packages/sdk/src/Actions/EventAction.ts
Due: check

feat(evm): add topups from budgets to boost core
  packages/evm/contracts/BoostCore.sol
Due: forge

fix(evm): modify topupIncentiveFromBudget to pipe accounting correctly
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): add approves into topupIncentiveFromBudget
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): incentives can be toped up without a budget
  packages/evm/contracts/BoostCore.sol
Due: forge

fix(evm): revert changes to _getFeeDisbursal
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): add topup function to ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Due: forge

feat(sdk): add terminators to field indexes automatically
  packages/sdk/src/Actions/EventAction.ts
Due: check

test(sdk): test automatic termination for arrays smaller than 5
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

[BOOST-5209] fix: signature event issue address undefined is invalid (#365)
  .changeset/cool-turkeys-punch.md
  packages/sdk/src/Actions/EventAction.ts
Due: check

Create breezy-jokes-judge.md
  .changeset/breezy-jokes-judge.md
Due: none

refactor(EventAction): use structuredClone for event assignment to prevent mutation
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/smart-falcons-joke.md
Due: none

docs: update changeset description
  .changeset/smart-falcons-joke.md
Due: none

test(sdk): update event subscribe to expect the incentive events
  packages/sdk/src/BoostCore.test.ts
Due: check

feat(evm): implement managed budget V2
  packages/evm/contracts/budgets/AManagedBudgetWithFeesV2.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
Due: forge

feat(EventAction): add padding to action step signatures
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/proud-pianos-pretend.md
Due: none

feat: make signatureType optional and add detection function
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/tame-bikes-run.md
Due: none

feat(EventAction): add signature padding to actionClaimant
  packages/sdk/src/Actions/EventAction.ts
Due: check

refactor: reinstate typeguard for EventActionPayloadSimple
  packages/sdk/src/Actions/EventAction.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
