Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

test(SimpleBudget): add test for invalid ERC1155 allocation
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

chore: format
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

test(SimpleBudget): add test for disburse to zero address
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

test(SimpleBudget): add test for insufficient funds disbursement
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

test(SimpleBudget): add test for onERC1155Received function
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

test(SimpleBudget): add test for onERC1155BatchReceived
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

test(SimpleBudget): update target address in transfer test
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

test(SimpleBudget): rename reclaim tests to clawback
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

test(SimpleBudget): rename clawback test for clarity
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

test(evm): BoostCore constructor
  packages/evm/test/BoostCore.t.sol
Due: forge

test(evm): increase boostcore coverage
  packages/evm/test/BoostCore.t.sol
Due: forge

chore(evm): add incentive count to BoostCreated log
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): BoostCore add fee setters
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): BoostCore fee setters
  packages/evm/test/BoostCore.t.sol
Due: forge

feat(evm): add signature type to EventAction validator
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/contracts/actions/EventAction.sol
Due: forge

test(evm): signature type on EventAction validator
  packages/evm/test/actions/EventAction.t.sol
Due: forge

feat(sdk): signature type on EventAction validator
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.ts
Due: check

feat(evm): script to deploy and register module bases
  packages/evm/foundry.toml
  packages/evm/package.json
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Due: check, forge

feat(evm): implement deploy scripts for core contracts
  .gitignore
  packages/evm/.env.example
  packages/evm/deploys/.gitkeep
  packages/evm/foundry.toml
  packages/evm/package.json
  packages/evm/script/solidity/Deploy.s.sol
Due: check, forge

chore: update component ids
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Validators/Validator.ts
Due: check

chore(sdk): comment out omitted interfaces, replace tests with managedbudget, eventaction
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.test.ts
  packages/sdk/src/Budgets/VestingBudget.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
Due: check

chore(sdk,signatures): initial sepolia release
  .changeset/witty-beers-melt.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  packages/signatures/package.json
Due: check

chore: include signatures in alpha prerelease
  .changeset/pre.json
Due: check

chore: include latest changeset in release
  .changeset/pre.json
Due: check

chore: remove uncaught interfaces
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Incentives/Incentive.ts
Due: check

ci(build): add base contract addresses to build env
  .github/workflows/verify.yml
Due: none

ci(build): add base contract addresses to build env for release
  .github/workflows/on-push-to-main.yml
Due: none

chore(sdk): remove omitted interfaces from root export, docs
  .nvmrc
  packages/cli/src/commands/deploy.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/index.ts
  packages/sdk/test/helpers.ts
Due: check

feat(evm): implement componentInterface script
  packages/evm/deploys/componentInterfaces.json
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Util.s.sol
Due: check, forge

feat(evm): wire up componentInterface script for `build`
  .gitignore
  packages/evm/deploys/componentInterfaces.json
  packages/evm/package.json
Due: check, forge

test(sdk): initial fork test for zora mint; missing params
  packages/sdk/.env.sample
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

feat(sdk): add alternate interface to EventActionPayload for ergonomics, typed errors
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/viem.ts
Due: check

fix(sdk,EventAction): fix component interface, remove dupe test
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

chore(sdk,EventAction): add tests, fix validation, add jsdocs
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/MockERC721.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
