Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

fix(sdk): correct asset retrieval in getTopupPayload
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Due: check

chore: update lockfile
  pnpm-lock.yaml
Due: none

feat(evm): topup functionality on incentives contracts
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/shared/IToppable.sol
Due: forge

test(evm): add topup tests to incentive testing
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

feat(evm): add topups from budgets to boost core
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): add approves into topupIncentiveFromBudget
  packages/evm/contracts/BoostCore.sol
Due: forge

fix(evm): modify topupIncentiveFromBudget to pipe accounting correctly
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): incentives can be toped up without a budget
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): add topup function to ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Due: forge

fix(evm): revert changes to _getFeeDisbursal
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(sdk): account for fee as an additional amount instead of a discounted amount
  packages/evm/contracts/BoostCore.sol
Due: forge

fix(evm): correct total amount handling and encoing
  packages/evm/contracts/BoostCore.sol
Due: forge

wip: add integration tests for budget topups
  packages/evm/test/BoostCore.t.sol
Due: forge

test(evm): uncomment the assertion in the topup fuzz test
  packages/evm/test/BoostCore.t.sol
Due: forge

fix(evm): utilize the same compiler configs as foundry
  packages/evm/hardhat_build.config.cjs
Due: check

test(evm): enable topup fuzz testing
  packages/evm/test/BoostCore.t.sol
Due: forge

feat(evm): tweak topup accounting in topupIncentiveFromSender
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): implement Topup events in core
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Due: forge

fix(evm): increment management fee on disbursement rather than set it
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Due: forge

feat(sdk): add topup helpers to core
  packages/sdk/src/BoostCore.ts
Due: check

feat(sdk): add topup payload helpers to incentives
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Due: check

fix(sdk): typo in getTopupPayload call
  packages/sdk/src/BoostCore.ts
Due: check

feat(sdk): throw if topup is zero in SDK
  packages/sdk/src/BoostCore.ts
Due: check

fix(evm): tweak topup approval flow for sender topup
  packages/evm/contracts/BoostCore.sol
Due: forge

test(sdk): add running incentive topup test
  packages/sdk/src/BoostCore.test.ts
Due: check

fix(evm): _getFeeDisbursal merge regression
  packages/evm/contracts/BoostCore.sol
Due: forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
