Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

fix(sdk): fix address imports
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
Due: check

docs(sdk): testing docs categories
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
Due: check

docs(sdk): testing docs groups
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
Due: check

docs(sdk): test basic typedoc formatting, @see directive
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Deployable/Contract.ts
Due: check

docs(sdk): test basic typedoc formatting, @see directive
  packages/sdk/src/BoostRegistry.ts
Due: check

docs(sdk): test basic typedoc formatting, @see directive
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/test/helpers.ts
Due: check

docs(sdk): test doc inheritance
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/utils.ts
Due: check

docs(sdk): contract, utility documentation
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/utils.ts
Due: check

docs(sdk): boostcore, deployable, errors
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/errors.ts
Due: check

docs(sdk): deployables, actions, allowlists, budgets
  packages/evm/artifacts/index.ts
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Due: check, forge

docs(sdk): allowlistincentive
  packages/sdk/src/Incentives/AllowListIncentive.ts
Due: check

fix(sdk): fix tests to account for privatized erc1155
  packages/sdk/test/helpers.ts
Due: check

fix(sdk): fix tests to account for privatized erc1155
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
Due: check

chore(sdk): add failing erc1155 test
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
Due: check

chore(sdk): enter prelease mode for changesets
  .changeset/README.md
  .changeset/config.json
  .changeset/polite-jars-lie.md
  .changeset/pre.json
  ccashwell.dart
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore(sdk): test release alpha.1
  .changeset/silent-ants-impress.md
Due: none

chore(ci): fix commit msg hook to not format in ci
  .github/workflows/on-push-to-main.yml
  .lefthook/commit-msg/commitlint.sh
Due: none

chore(sdk): publicize sdk
  .changeset/config.json
  .changeset/curly-suns-fix.md
  .lefthook/commit-msg/commitlint.sh
  packages/evm/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: check

feat(validators): add event based signer validator
  packages/evm/contracts/validators/EventSignerValidator.sol
Due: forge

test(validators): event based signer validator
  packages/evm/test/validators/EventSignerValidator.t.sol
Due: forge

fix(contracts): rename ActionEventValidator
  packages/evm/contracts/validators/ActionEventValidator.sol
  packages/evm/test/validators/ActionEventValidator.sol
Due: forge

chore(lefthook): refine the forge fmt scope
  lefthook.yml
Due: none

chore: lint
  packages/evm/contracts/validators/ActionEventValidator.sol
  packages/evm/test/validators/ActionEventValidator.sol
Due: forge

refactor(evm): update action event validator to include component interfaces
  packages/evm/contracts/validators/AActionEventValidator.sol
Due: forge

docs(sdk): add info on deployment / configuration
  README.md
Due: none

chore(readme): update command
  README.md
Due: none

chore(license): add glp3-or-later to root and all packages
  LICENSE
  examples/kitchen-sink/package.json
  package.json
  packages/cli/LICENSE
  packages/cli/package.json
  packages/evm/LICENSE
  packages/evm/package.json
  packages/sdk/LICENSE
  packages/sdk/package.json
Due: check

build(evm,sdk): bundle wagmi codegen correctly
  packages/evm/package.json
  packages/evm/vite.config.js
  packages/sdk/vite.config.js
Due: check

ci(turbo): ensure ci tests have build in cache
  turbo.json
Due: check

feat(evm): delete event validator
  packages/evm/contracts/validators/AActionEventValidator.sol
  packages/evm/contracts/validators/ActionEventValidator.sol
Due: forge

feat(evm): add event action
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/contracts/actions/EventAction.sol
Due: forge

test(evm): event action
  packages/evm/test/actions/EventAction.t.sol
  packages/evm/test/validators/ActionEventValidator.sol
Due: forge
