Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

Version Packages (canary) (#492)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat: deploy to celo mainnet
  packages/evm/broadcast/Deploy.s.sol/42220/run-1760471202157.json
  packages/evm/broadcast/Deploy.s.sol/42220/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42220/run-1760472249803.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42220/run-latest.json
  packages/evm/deploys/42220.json
Due: check, forge

chore: add changeset
  .changeset/mighty-cows-develop.md
Due: none

[ADHOC] Celo (#493)
  .changeset/mighty-cows-develop.md
  packages/evm/broadcast/Deploy.s.sol/42220/run-1760471202157.json
  packages/evm/broadcast/Deploy.s.sol/42220/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42220/run-1760472249803.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42220/run-latest.json
  packages/evm/deploys/42220.json
Due: check, forge

Version Packages (canary) (#494)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat: allow wildcard claimant targetContract
  packages/sdk/src/Actions/EventAction.ts
Due: check

feat: allow wildcard claimant targetContract for functions
  packages/sdk/src/Actions/EventAction.ts
Due: check

[ADHOC] allow wildcard claimant targetContract (#497)
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: add changeset for SDK version bump
  .changeset/silent-lobsters-relax.md
Due: none

[ADHOC] add changeset for SDK version bump (#498)
  .changeset/silent-lobsters-relax.md
Due: none

chore: exit canary pre-release mode
  .changeset/beige-radios-cry.md
  .changeset/early-keys-sort.md
  .changeset/loud-spies-nail.md
  .changeset/mighty-cows-develop.md
  .changeset/modern-moose-cough.md
  .changeset/ninety-carpets-end.md
  .changeset/odd-cobras-yawn.md
  .changeset/pre.json
  .changeset/silent-lobsters-relax.md
  .changeset/slow-rivers-peel.md
  .changeset/spotty-doors-own.md
  .changeset/stale-nails-prove.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

[ADHOC] exit canary pre-release mode (#500)
  .changeset/beige-radios-cry.md
  .changeset/early-keys-sort.md
  .changeset/loud-spies-nail.md
  .changeset/mighty-cows-develop.md
  .changeset/modern-moose-cough.md
  .changeset/ninety-carpets-end.md
  .changeset/odd-cobras-yawn.md
  .changeset/pre.json
  .changeset/silent-lobsters-relax.md
  .changeset/slow-rivers-peel.md
  .changeset/spotty-doors-own.md
  .changeset/stale-nails-prove.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore(evm): script to deploy factory
  packages/evm/script/solidity/Deploy_ManagedBudgetWithFeesV2Factory.s.sol
Due: forge

feat(evm): create factory
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2Factory.sol
Due: forge

chore(evm): upgrade eth sepolia budgets
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1764627631905.json
  packages/evm/deploys/11155111.json
Due: check, forge

test(evm): add test for managed budget factory
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Due: forge

test(evm): update role
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Due: forge

fix(evm): initalize owner with param
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2Factory.sol
  packages/evm/script/solidity/Deploy_ManagedBudgetWithFeesV2Factory.s.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Due: forge

chore(evm): emit nonce and enforce owner deployer
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2Factory.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Due: forge

feat(evm): implement nonce tracking and remove owner and nonce params for budget deployments
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2Factory.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Due: forge

chore(evm): deploy factory to testnets
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764631708977.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764710501741.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764881757386.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764631820251.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764710585822.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764881895798.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-latest.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
Due: check, forge

test(evm): add tests for setImplementation
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Due: forge

chore(evm); deploy mainnets
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/10/run-1765173815873.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/42220/run-1765173969398.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/42220/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/480/run-1765173926378.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/8453/run-1765173856443.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/8453/run-latest.json
  packages/evm/deploys/10.json
  packages/evm/deploys/42220.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
Due: check, forge

chore: add changeset
  .changeset/tender-candles-jump.md
Due: none

[ADHOC] Cross Chain Budget Accounts (#496)
  .changeset/tender-candles-jump.md
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/10/run-1765173815873.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764631708977.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764710501741.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-1764881757386.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/42220/run-1765173969398.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/42220/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/480/run-1765173926378.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/8453/run-1765173856443.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764631820251.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764710585822.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-1764881895798.json
  packages/evm/broadcast/Deploy_ManagedBudgetWithFeesV2Factory.s.sol/84532/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1764627631905.json
  packages/evm/contracts/budgets/ManagedBudgetWithFeesV2Factory.sol
  packages/evm/deploys/10.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/42220.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_ManagedBudgetWithFeesV2Factory.s.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2Factory.t.sol
Due: check, forge

Version Packages (#501)
  .changeset/tender-candles-jump.md
  packages/evm/CHANGELOG.md
  packages/evm/package.json
Due: check

style(biome.json): remove unused warning rule
  biome.json
Due: check

feat(EventAction): mark third input as indexed for NFT transfer
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/nine-seas-crash.md
Due: none

feat(EventAction): clone event before modifying inputs
  packages/sdk/src/Actions/EventAction.ts
Due: check

[ADHOC] fix nft transfer abi bug (#502)
  .changeset/nine-seas-crash.md
  biome.json
  packages/sdk/src/Actions/EventAction.ts
Due: check

[ADHOC] chore: version packages (#503)
  .changeset/nine-seas-crash.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

build: update viem package to version 2.41.2
  package.json
  pnpm-lock.yaml
Due: check

fix(EventAction): update log argument decoding process
  packages/sdk/src/Actions/EventAction.ts
Due: check

test: add test for TransferReference event handling
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

chore: generate changeset
  .changeset/eighty-ears-approve.md
Due: none

docs: Add JSDoc comments for decodeAndReorderLogArgs function
  packages/sdk/src/Actions/EventAction.ts
Due: check

fix(EventAction): handle missing topics in log decoding
  packages/sdk/src/Actions/EventAction.ts
Due: check

[ADHOC] fix reordering bug (#504)
  .changeset/eighty-ears-approve.md
  package.json
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  pnpm-lock.yaml
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
