Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

[ADHOC] Build Claim Data for ERC20PeggedIncentive (#311)
  .changeset/slow-apricots-heal.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check

Chore(evm): deploy on base & base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1733503766.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1733504284.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1733504111.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1733504620.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
Due: check, forge

Create heavy-shirts-doubt.md
  .changeset/heavy-shirts-doubt.md
Due: none

chore: deploy onto sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733522693.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
Due: check, forge

Create sweet-cougars-live.md
  .changeset/sweet-cougars-live.md
Due: none

chore: fix core an registry addresses
  packages/evm/deploys/84532.json
Due: check, forge

chore: add changeset for deployment
  .changeset/hot-points-begin.md
Due: none

feat(evm): add protocol fee token to core
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/IProtocolFeeModule.sol
Due: forge

test(evm): add protocol asset to protocol fee module mock and test
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/BoostCore.t.sol
Due: forge

chore(evm): cleanup comments and loose code
  packages/evm/contracts/BoostCore.sol
Due: forge

chore(evm): deploy on base, sepolia & base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1733855708.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1733855795.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1733856937.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1733856476.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855816.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855868.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855882.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733855897.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733856409.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1733857430.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1733856825.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Due: check, forge

Create shy-wombats-beg.md
  .changeset/shy-wombats-beg.md
Due: none

Update shy-wombats-beg.md
  .changeset/shy-wombats-beg.md
Due: none

test: add test for protocol fee transfer in BoostCore
  packages/evm/test/BoostCore.t.sol
Due: forge

fix: update asset balance retrieval logic to use incentive address
  packages/evm/contracts/BoostCore.sol
Due: forge

chore: generate changeset
  .changeset/five-numbers-hide.md
Due: none

refactor: pass incentive contract instead of boost+id
  packages/evm/contracts/BoostCore.sol
Due: forge

core: format
  packages/evm/contracts/BoostCore.sol
Due: forge

chore(evm): sweep the dust in boost core
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Due: forge

chore(evm): deploy to base, sepolia and base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1733945427.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1733946668.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1733946167.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1733946091.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1733947031.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1733946501.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Due: check, forge

Create tame-lobsters-care.md
  .changeset/tame-lobsters-care.md
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
