Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

feat(seed): enhance CreateBoostPayload structure and validation
  packages/cli/src/commands/seed.ts
Due: check

chore: generate changeset
  .changeset/real-suns-explode.md
Due: none

[ADHOC] feat(cli): allow Validator to be optional in seed (#277)
  .changeset/real-suns-explode.md
  packages/cli/src/commands/seed.ts
Due: check

fix(cli): encode function and event signatures correctly
  packages/cli/src/commands/seed.ts
Due: check

add changeset for #280
  .changeset/gold-ladybugs-relate.md
Due: none

chore(evm): refactor abstracts to be getters instead of state vars
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/shared/BoostError.sol
Due: forge

feat(evm): implement Managed Budget with Fees
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Due: forge

chore(evm): add docstring comments to ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Due: forge

refactor(evm): change attribution for clawback event in core
  packages/evm/contracts/BoostCore.sol
Due: forge

Create new-dodos-join.md
  .changeset/new-dodos-join.md
Due: none

feat(evm): add combined function for clawbacks and fee payouts
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Due: forge

chore(evm): add tests and respond to review feedback
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Due: forge

Version Packages (#279)
  .changeset/gold-ladybugs-relate.md
  .changeset/real-suns-explode.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: check

fix(evm): allow admins to set fees for ManagedBudgetWithFees
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
Due: forge

feat(evm): allow Budget Fees to be claimed before incentive finishes
  packages/evm/contracts/budgets/AManagedBudgetWithFees.sol
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Due: forge

ci: fix changesets vcs
  .github/workflows/on-push-to-main.yml
  .npmrc
Due: none

chore(evm): add Budget with Fees to deploy script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

feat(sdk): ManagedBudgetWithFees sdk impl
  .changeset/famous-chefs-brake.md
  packages/cli/src/commands/deploy.ts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Due: check, forge

chore(evm): deploy core and other protocol bits again
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1732564478.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1732564783.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1732565295.json
  packages/evm/deploys/11155111.json
Due: check, forge

chore(sdk): add live deploy of ManagedBudgetWithFees
  .changeset/spotty-shirts-perform.md
  packages/sdk/src/Budgets/ManagedBudgetWithFees.ts
Due: check

[ADHOC] chore: deploy new protocol to base-sepolia
  .changeset/real-geckos-tan.md
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732569361.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1732569830.json
  packages/evm/deploys/84532.json
  packages/evm/foundry.toml
Due: check, forge

fix: add owner param to BoostCore constructor
  packages/evm/contracts/BoostCore.sol
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

chore: use BOOST_CORE_OWNER_ADDRESS to set owner
  packages/evm/script/solidity/Deploy.s.sol
Due: forge

[ADHOC] fix: add owner param to BoostCore constructor (#291)
  packages/evm/contracts/BoostCore.sol
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge
