Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm

chore: createBoost and retrieve payload in tests
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/test/viem.ts
Due: check

chore: try to genericize result retrieval from write calls
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/viem.ts
Due: check

chore: sync
  packages/sdk/src/BoostCore.ts
Due: check

chore: add remaining boost core methods, attach id to boost class
  packages/evm/artifacts/build-info/6f082a321b893129257b3ddecdb52e51.json
  packages/evm/artifacts/contracts/BoostCore.sol/BoostCore.d.ts
  packages/evm/artifacts/contracts/BoostCore.sol/BoostCore.dbg.json
  packages/evm/artifacts/contracts/BoostCore.sol/BoostCore.json
  packages/evm/artifacts/generated.ts
  packages/sdk/hardhat.config.cjs
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.ts
Due: check, forge

chore: sync
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
Due: check

chore: sync
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
Due: check

chore(sdk): progress on mock test fixtures - budget,tokens, etc
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/test.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/MockERC20.ts
  packages/sdk/test/MockERC721.ts
  packages/sdk/test/helpers.ts
Due: check

chore(sdk): better typed test helpers
  packages/sdk/test/helpers.ts
Due: check

refactor(sdk): better viem contract parameter typing
  packages/evm/artifacts/index.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/utils.ts
Due: check, forge

refactor(sdk): simulate write tx's and return result
  packages/evm/artifacts/build-info/822fae1d1a1761b7b4362d73bc965c0f.json
  packages/evm/artifacts/contracts/BoostCore.sol/BoostCore.dbg.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/MockERC20.ts
  packages/sdk/test/MockERC721.ts
  packages/sdk/test/helpers.ts
Due: check, forge

chore(sdk): fix budget fixture helpers
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/test/helpers.ts
Due: check

chore(sdk): add boost registry deployable
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.test.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.test.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.test.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/errors.ts
  packages/sdk/test/MockERC20.ts
  packages/sdk/test/helpers.ts
  packages/sdk/vite-env.d.ts
Due: check

feat(sdk): typedoc
  .gitignore
  packages/sdk/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/test/MockERC20.ts
  pnpm-lock.yaml
Due: check

chore(test): add hardhat for fixture helpers
  package.json
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/test/MockERC20.ts
  pnpm-lock.yaml
Due: check

chore(sdk): depend on build for typedoc
  turbo.json
Due: check

test(sdk): core reuse tests, fixture loading
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/errors.ts
  packages/sdk/test/helpers.ts
Due: check

chore: more tests
  packages/sdk/src/BoostCore.test.ts
Due: check

chore(sdk): re-export transfer interfaces
  packages/evm/artifacts/index.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/test/helpers.ts
Due: check, forge

chore: get cgda working
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Due: check

test(sdk): more core tests, utils
  packages/evm/artifacts/index.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/AllowLists/SimpleAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleDenyList.test.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/SimpleBudget.test.ts
  packages/sdk/src/Budgets/VestingBudget.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.test.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/MockPoints.ts
  packages/sdk/test/helpers.ts
Due: check, forge

test(sdk): allowlist, denylist, vesting budget, simple budget
  packages/evm/artifacts/index.ts
  packages/sdk/src/AllowLists/SimpleAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleDenyList.test.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Budgets/SimpleBudget.test.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.test.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/test/helpers.ts
Due: check, forge

test(sdk): contract action
  packages/evm/test/utils/helpers.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/accounts.ts
Due: check, forge

test(sdk): erc721mint action
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/test/helpers.ts
Due: check

test(sdk): more incentive tests
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/test/accounts.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/viem.ts
Due: check

test(sdk): incentives tests
  packages/evm/artifacts/index.ts
  packages/evm/package.json
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  pnpm-lock.yaml
Due: check, forge

test(sdk): signer, points incentive tests
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/test/accounts.ts
  packages/sdk/test/helpers.ts
Due: check

test(sdk): finish up incentives tests
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/VestingBudget.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Due: check

fix(sdk): allow address passing for incentives
  packages/evm/artifacts/index.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Due: check, forge

docs(sdk): add ci config for prebuilt vercel deploy
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-to-main.yml
Due: none

docs(sdk): test cooler theme
  package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/typedoc.json
  pnpm-lock.yaml
Due: check

docs(sdk): add jsdoc templates for all public api's
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
