Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

chore(sdk): re-add test that should pass now
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

chore: add changeset
  .changeset/strange-parents-lay.md
Due: none

test(sdk): add manager to incentive init params
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Due: check

fix(evm): utilize consistent manager paradigm for incentives
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

chore: redeploy modules with new names
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1734385056.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1734385339.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1734385202.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: check, forge

chore(evm): cleanup deploy addresses
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: check, forge

chore: update pnpm version to 9.15.0
  .github/actions/install-dependencies/action.yml
  package.json
Due: check

chore(ci): make danger re-run on PR edits
  .github/workflows/danger.yaml
Due: none

chore: add sdk/cache to ignored paths in biome.json
  biome.json
Due: check

feat(EventAction): add transfer log decoding for ERC20/ERC721
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.ts
Due: check

chore: generate changeset
  .changeset/sixty-mirrors-wink.md
Due: none

feat(utils): update transfer signature to use events selector
  packages/sdk/src/utils.ts
Due: check

refactor(EventAction): remove unused crypto import
  packages/sdk/src/Actions/EventAction.ts
Due: check

fix(ci): danger gives a false pass if the PR description is empty
  dangerfile.ts
Due: check

chore: deploy pegged variable crtieria
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1734388185.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1734388263.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1734388225.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: check, forge

fix: update bases for pegged incentives
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

chore: generate changeset
  .changeset/sixty-windows-yell.md
Due: none

[ADHOC] update pegged incentive bases (#339)
  .changeset/sixty-windows-yell.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

Version Packages (#340)
  .changeset/sixty-windows-yell.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat: add decodeClaimData method to pegged variable incentive
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

chore: generate changeset
  .changeset/calm-numbers-add.md
Due: none

[ADHOC] add decode method to pegged variable incentive (#341)
  .changeset/calm-numbers-add.md
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

fix(sdk): auto-add boostcore as ManagedBudget manager
  .changeset/few-pugs-behave.md
  packages/sdk/src/BoostCore.ts
Due: check

fix: add contracts to build inputs
  turbo.json
Due: check

[ADHOC] chore: version packages (#343)
  .changeset/calm-numbers-add.md
  .changeset/few-pugs-behave.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat(evm): add initial contracts to intent settlement and validation
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/contracts/intents/ERC7683.sol
  packages/evm/contracts/intents/ResolvedCrossChainOrderLib.sol
  packages/evm/contracts/intents/SignatureVerification.sol
  packages/evm/contracts/intents/Structs.sol
  packages/evm/contracts/intents/account/ExperimentalDelegation.sol
  packages/evm/contracts/shared/IGetBoost.sol
  packages/evm/contracts/shared/ILatchValidator.sol
  packages/evm/contracts/validators/IntentValidator.sol
Due: forge

fix(evm): intent validator - add fillerData param
  packages/evm/contracts/intents/DestinationSettler.sol
Due: forge

fix(evm): get stuff compiling
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/contracts/intents/Structs.sol
  packages/evm/contracts/intents/utils/ECDSA.sol
  packages/evm/contracts/intents/utils/MultiSend.sol
  packages/evm/contracts/intents/utils/P256.sol
  packages/evm/contracts/intents/utils/WebAuthnP256.sol
  packages/evm/contracts/shared/IGetBoost.sol
  packages/evm/contracts/shared/ILatchValidator.sol
  packages/evm/contracts/validators/IntentValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
Due: forge

chore: add extra artifacts
  packages/evm/contracts/intents/ERC7683Permit2Lib.sol
  packages/evm/contracts/intents/IPermit2.sol
  packages/evm/contracts/intents/OriginSettler.sol
Due: forge

chore(evm): deploy relevant intent artifacts
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

test(evm): Intent Validator
  packages/evm/test/validators/IntentValidator.t.sol
Due: forge

fix(evm): make intent validator abstract and fix imports
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/contracts/validators/AIntentValidator.sol
Due: forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
