Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

chore: fix build
  packages/sdk/src/BoostCore.ts
Due: check

chore: fix test helpers
  test/src/helpers.ts
Due: check

chore: fix build v2
  packages/cli/src/commands/deploy.ts
  packages/sdk/.env.sample
Due: check

[ADHOC] feat(evm,sdk): BREAKING erc20variablecriteria v2 upgrade (#425)
  .changeset/pre.json
  .changeset/warm-rivers-act.md
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/evm/README.md
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentiveV2.sol
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
  packages/sdk/.env.sample
  packages/sdk/package.json
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.ts
  test/src/helpers.ts
Due: check, forge

chore: try to fix tests
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/TransparentBudget.test.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
  test/src/helpers.ts
Due: check, forge

chore: TWEAK CONTRACTS TO DEBUG REVERT THIS
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/sdk/package.json
Due: check, forge

chore: formatting
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/TransparentBudget.sol
Due: forge

chore: fix tests
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/TransparentBudget.test.ts
Due: check, forge

fix: formatting
  packages/evm/contracts/budgets/TransparentBudget.sol
Due: forge

fix: build
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/src/Budgets/Budget.ts
  test/src/helpers.ts
Due: check, forge

fix: build
  packages/evm/script/solidity/ComponentInterface.s.sol
  test/src/helpers.ts
Due: check, forge

fix: build
  packages/cli/src/commands/seed.ts
Due: check

[BOOST-5262] feat(sdk): TransparentBudget implementation (#421)
  .changeset/fifty-hotels-rhyme.md
  packages/cli/src/commands/seed.ts
  packages/evm/contracts/BoostCore.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/sdk/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/TransparentBudget.test.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Due: check, forge

Version Packages (canary) (#422)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore(evm,sdk): re-add v1 incentive criteria
  .changeset/cool-spiders-notice.md
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/package.json
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Due: check, forge

fix: tests
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
Due: check, forge

fix: tests again
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
Due: check

[ADHOC] chore(evm,sdk): re-add v1 incentive criteria (#426)
  .changeset/cool-spiders-notice.md
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/package.json
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Due: check, forge

[ADHOC] chore: version packages (canary) (#427)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore: re-add `ERC20VariableCriteriaIncentive` and `ERC20PeggedVariableCriteriaIncentive` deployments
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

chore: deploy on sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1742318991.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1742319884.json
  packages/evm/deploys/11155111.json
Due: check, forge

chore: deploy on base sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Due: check, forge

chore: deploy on base
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-latest.json
  packages/evm/deploys/8453.json
Due: check, forge

chore: add changeset
  .changeset/orange-seahorses-chew.md
Due: none

[ADHOC] Module Deployments (#428)
  .changeset/orange-seahorses-chew.md
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1742318991.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1742319884.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-latest.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: check, forge

chore: add sdk changeset
  .changeset/strong-masks-smell.md
Due: none

[ADHOC] chore: add sdk changeset (#430)
  .changeset/strong-masks-smell.md
Due: none

Version Packages (canary) (#429)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat(evm): deploy contracts on optimism
  packages/evm/broadcast/Deploy.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-latest.json
  packages/evm/deploys/10.json
Due: check, forge

chore: add changeset
  .changeset/wicked-grapes-float.md
Due: none

[ADHOC] Optimism (#431)
  .changeset/wicked-grapes-float.md
  packages/evm/broadcast/Deploy.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-latest.json
  packages/evm/deploys/10.json
Due: check, forge

Version Packages (canary) (#432)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore: exit prerelease
  .changeset/pre.json
Due: check

Version Packages (#433)
  .changeset/clean-parents-laugh.md
  .changeset/cool-spiders-notice.md
  .changeset/fifty-hotels-rhyme.md
  .changeset/green-clouds-fly.md
  .changeset/orange-seahorses-chew.md
  .changeset/pre.json
  .changeset/silver-schools-worry.md
  .changeset/strong-masks-smell.md
  .changeset/warm-rivers-act.md
  .changeset/wicked-grapes-float.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat(sdk): expose BoostCore.prepareCreateBoostPayload
  .changeset/wise-mangos-compete.md
  packages/sdk/src/BoostCore.ts
Due: check

Version Packages (#439)
  .changeset/wise-mangos-compete.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

test(criteria field index functions): add tests for criteria packing
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

fix(EventAction): return first matching addressCandidate
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/fifty-cougars-melt.md
Due: none

[ADHOC]: return first matching addressCandidate (#445)
  .changeset/fifty-cougars-melt.md
  packages/sdk/src/Actions/EventAction.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
