Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

test: add asset type check in BoostCore tests
  packages/sdk/src/BoostCore.test.ts
Due: check

build: deploy sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1736015138.json
  packages/evm/deploys/11155111.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: check, forge

feat(EventAction): reorder indexed parameters in ABI inputs
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/bright-kids-pay.md
Due: none

[BOOST-5140] add `getIncentiveFeesInfo` sdk method to boostcore (#355)
  .changeset/mighty-snakes-leave.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Due: check

feat: add `createBoostRaw` function
  packages/sdk/src/BoostCore.ts
Due: check

chore: add changeset
  .changeset/wild-rings-itch.md
Due: none

test: add test for `createBoostRaw`
  packages/sdk/src/BoostCore.test.ts
Due: check

[ADHOC] Add createBoostRaw function (#356)
  .changeset/wild-rings-itch.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Due: check

chore: remove tuple changeset
  .changeset/itchy-news-exercise.md
Due: none

feat(EventAction): re-order event params based on abi
  packages/sdk/src/Actions/EventAction.ts
Due: check

test: add decodeAndReorderLogArgs unit test
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

test(EventAction): remove unnecessary line in test file
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

test(EventAction): add test for reorder log arguments
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

test(EventAction): add test for correctly ordered event params
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

chore: format
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

test(EventAction): add test for non-indexed event params
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

docs: update changelog for event args reordering
  .changeset/bright-kids-pay.md
Due: none

refactor(EventAction): simplify log args reordering logic
  packages/sdk/src/Actions/EventAction.ts
Due: check

refactor(EventAction): simplify log args return structure
  packages/sdk/src/Actions/EventAction.ts
Due: check

docs(EventAction): update return type in JSDoc comment
  packages/sdk/src/Actions/EventAction.ts
Due: check

feat: add EventLog type for single event log handling
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: add `decodeClaimData` to ERC20PeggedIncentive
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check

chore: add changeset
  .changeset/silly-carpets-jog.md
Due: none

feat: deploy base-sepolia eventaction module
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Due: check, forge

feat: deploy EventAction module base mainnet
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1736392101.json
  packages/evm/deploys/8453.json
Due: check, forge

feat: add broadcast log for EventAction deployment on base sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1736390232.json
Due: check, forge

[BOOST-5108] fix order of indexed params in events to match abi (#358)
  .changeset/bright-kids-pay.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/empty-monkeys-decide.md
Due: none

refactor: remove postfix from EventAction registration string
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

[ADHOC] Add decodeClaimData to ERC20PeggedIncentive (#359)
  .changeset/silly-carpets-jog.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check

fix(ERC20PeggedIncentive): update getRemainingClaimPotential to use totalClaimed instead of claims
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check

chore: generate changeset
  .changeset/clean-items-pay.md
Due: none

feat(evm): add incentive we can top up
  packages/evm/contracts/incentives/ERC20TopupIncentive.sol
Due: forge

test(evm): top up tests - includes fuzz test for multi-topups
  packages/evm/test/incentives/ERC20TopupIncentive.t.sol
Due: forge

[BOOST-5185] fix `getRemainingClaimPotential` on ERC20Pegged (#361)
  .changeset/clean-items-pay.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check

feat(evm): topup functionality on incentives contracts
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/shared/IToppable.sol
Due: forge

[ADHOC] deploy EventAction module (#360)
  .changeset/empty-monkeys-decide.md
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1736015138.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1736392101.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1736390232.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: check, forge

Version Packages (#354)
  .changeset/bright-kids-pay.md
  .changeset/clean-items-pay.md
  .changeset/empty-monkeys-decide.md
  .changeset/itchy-news-exercise.md
  .changeset/mighty-snakes-leave.md
  .changeset/silly-carpets-jog.md
  .changeset/wild-rings-itch.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

test(evm): add topup tests to incentive testing
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
