Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

feat(aave-v4): add LedgerDeposit event and GiverNotActivePositionManager error
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
Due: forge

test: add Aave v4 mock contracts
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: forge

feat(aave-v4): implement depositAaveV4 adapter function
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
Due: forge

test: add Vm import and IGiverPositionManager to test imports
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: forge

test: add comprehensive Aave v4 adapter unit tests
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: forge

test: initialize Aave v4 mocks in test setup
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: forge

test: add Aave v4 fork test for end-to-end integration
  packages/evm/test/timebased/TBIForwarderAaveV4Fork.t.sol
Due: forge

[BOOST-6602] Add domain separation and startTime validation to merkle leaf encoding (#543)
  packages/evm/broadcast/DeployCampaignBase.s.sol/1/run-1784925690636.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/1/run-latest.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/10/run-1784925210616.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/10/run-latest.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/137/run-1784925512280.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/137/run-latest.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/42161/run-1784925455145.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/42161/run-latest.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/480/run-1784925600499.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/480/run-latest.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/8453/run-1784924980677.json
  packages/evm/broadcast/DeployCampaignBase.s.sol/8453/run-latest.json
  packages/evm/broadcast/UpgradeCampaignBase.s.sol/84532/run-1784846659453.json
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/DeployCampaignBase.s.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Due: check, forge

[BOOST-6710] Add Aave v4 Spoke adapter with governance-authenticated position manager routing (#548)
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
  packages/evm/test/timebased/TBIForwarder.t.sol
  packages/evm/test/timebased/TBIForwarderAaveV4Fork.t.sol
Due: forge

chore: upgrade forwarder for aavev4 support mainnet
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-1787696346121.json
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-1787696509493.json
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-latest.json
Due: check, forge

chore: deploy boost core on rh chain
  packages/evm/broadcast/Deploy.s.sol/4663/run-1787957173682.json
  packages/evm/broadcast/Deploy.s.sol/4663/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957391383.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957574798.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Due: check, forge

[ADHOC] deploy boost core on rh chain (#550)
  packages/evm/broadcast/Deploy.s.sol/4663/run-1787957173682.json
  packages/evm/broadcast/Deploy.s.sol/4663/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957391383.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957574798.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Due: check, forge

[ADHOC] deploy boost core on rh chain (#551)
  packages/evm/broadcast/Deploy.s.sol/4663/run-1787957173682.json
  packages/evm/broadcast/Deploy.s.sol/4663/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957391383.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-1787957574798.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Due: check, forge

chore: add changeset
  .changeset/loud-phones-teach.md
Due: none

[ADHOC] chore: add changeset (#552)
  .changeset/loud-phones-teach.md
Due: none

[ADHOC] chore: version packages (#553)
  .changeset/loud-phones-teach.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

[ADHOC] Deploy timelock contracts across networks (#542)
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/1/run-1783636890420.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/1/run-1783636982780.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/1/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/10/run-1783639661471.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/10/run-1783639697009.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/10/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/137/run-1783639852745.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/137/run-1783639928490.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/137/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/42161/run-1783640063175.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/42161/run-1783640100519.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/480/run-1783634821534.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/480/run-1783636318808.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/8453/run-1783640374429.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/8453/run-1783640416071.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/8453/run-latest.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/84532/run-1783631504062.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/84532/run-latest.json
  packages/evm/deploys/1.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/deploys/999.json
  packages/evm/script/solidity/Deploy_TBITimelock.s.sol
Due: check, forge

chore: deploy timelocks on rh chain
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-1788202412071.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-1788202534551.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Due: check, forge

[ADHOC] Deploy timelocks on Rh chain (#554)
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-1788202412071.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-1788202534551.json
  packages/evm/broadcast/Deploy_TBITimelock.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Due: check, forge

[ADHOC] Deploy TBIForwarder upgrade for Aave V4 support (#549)
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-1787696346121.json
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-1787696509493.json
  packages/evm/broadcast/DeployImpl_TBIForwarder.s.sol/1/run-latest.json
Due: check, forge

feat(evm): Enhance referral distributor finalization and campaign creation
  packages/evm/contracts/timebased/ReferralDistributor.sol
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/ReferralDistributor.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerReferrals.t.sol
Due: forge

feat(evm): Add script for TBI referral system deployment and activation
  packages/evm/script/solidity/DeployImpl_TBIReferrals.s.sol
Due: forge

refactor(evm): Restrict ReferralDistributor access to TimeBasedIncentiveManager
  packages/evm/contracts/timebased/ReferralDistributor.sol
Due: forge

docs(evm): Update TimeBasedIncentiveManager.claimReferral NatSpec
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

test(evm): Specify exact revert reason for ReferralDistributor re-initialization tests
  packages/evm/test/timebased/ReferralDistributor.t.sol
Due: forge

fix(evm): Validate referral distributor implementation has bytecode
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerReferrals.t.sol
Due: forge

feat(evm): Integrate referral distribution into incentive manager
  packages/evm/contracts/timebased/ReferralDistributor.sol
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/ReferralDistributor.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerReferrals.t.sol
Due: forge

chore(evm): Refine TBI referral deployment and upgrade logic
  packages/evm/script/solidity/DeployImpl_TBIReferrals.s.sol
Due: forge

test(evm): Update ReferralDistributor tests for new access control
  packages/evm/test/timebased/ReferralDistributor.t.sol
Due: forge

feat(evm): Bind referral merkle leaves to chainid
  packages/evm/contracts/timebased/ReferralDistributor.sol
  packages/evm/test/timebased/ReferralDistributor.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerReferrals.t.sol
Due: forge

chore(evm): Update deploys.json and add broadcast logs for TBI referrals
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787255212758.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787255508221.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787255607026.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787256676340.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787675035987.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Due: check, forge

chore(evm): Update deployment addresses for TimeBasedIncentiveManager and ReferralDistributor
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/84532/run-1787698504414.json
  packages/evm/deploys/84532.json
Due: check, forge

chore(evm): deploy to mainnets
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/1/run-1787946849969.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/1/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/10/run-1787947195944.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/10/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/137/run-1787947086003.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/137/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/42161/run-1787946982667.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/42161/run-1787947875859.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/42161/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/480/run-1787946661954.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/480/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/8453/run-1787946794398.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/8453/run-latest.json
  packages/evm/deploys/1.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
Due: check, forge

chore(evm): deploy tbi on robinhood chain
  packages/evm/broadcast/Deploy_TimeBased.s.sol/4663/run-1788217556474.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Due: check, forge

chore(evm): upgrade tbi
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/4663/run-1788222367084.json
  packages/evm/broadcast/DeployImpl_TBIReferrals.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Due: check, forge

chore(evm): deploy and upgrade forwarder on robinhood chain
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/4663/run-1788225966007.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/4663/run-1788226149761.json
  packages/evm/broadcast/Deploy_TBIForwarder.s.sol/4663/run-latest.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/4663/run-1788226893923.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/4663/run-1788279190236.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/4663/run-1788279473018.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/4663/run-1788279702795.json
  packages/evm/broadcast/Upgrade_TBIForwarder.s.sol/4663/run-latest.json
  packages/evm/deploys/4663.json
Due: check, forge

feat(timebased): add RewardPoolMismatch error and update SwapInputMismatch docs
  packages/evm/contracts/timebased/TBIForwarderAdapters.sol
Due: forge

test: add Beefy CLM and reward pool mock contracts
  packages/evm/test/timebased/TBIForwarder.t.sol
Due: forge
