Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

feat: setup ens commit transaction
  packages/sdk/test/ens-register.test.ts
Due: check

refactor: reorganize imports
  packages/sdk/test/ens-register.test.ts
Due: check

feat(EventAction): handle address filtering in not equal case
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/little-seals-punch.md
Due: none

Revert "chore: generate changeset"
  .changeset/honest-seals-invite.md
Due: none

feat(changeset): add NameRegistered event to signatures
  .changeset/clever-planets-listen.md
Due: none

test: Remove unused actionType and validator in tests
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

refactor: use encodeClaimData method
  packages/sdk/test/ens-register.test.ts
Due: check

refactor: update imports
  packages/sdk/test/swap-specific-dex.test.ts
Due: check

refactor: use historic block in tests
  packages/sdk/test/swap-specific-dex.test.ts
Due: check

feat(sdk): support Regex filtering on string events
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  packages/signatures/manifests/events.json
Due: check, forge

chore(sdk): remove json import from public package
  packages/sdk/package.json
  packages/sdk/vite.config.js
  pnpm-lock.yaml
Due: check

docs: update `ERC20VariableIncentive` sdk docs
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Due: check

fix: move reset and clean up logs
  packages/sdk/test/agora-fork-vote.test.ts
Due: check

chore: remove timeout config
  packages/sdk/vitest.config.ts
Due: check

chore: agora vote init
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/agora-fork-vote.test.ts
  packages/sdk/vitest.config.ts
  packages/signatures/manifests/events.json
Due: check

fix: correct the import paths
  packages/sdk/test/agora-fork-vote.test.ts
Due: check

fix: remove additional chainid
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

chore: use dynamic rewards
  packages/sdk/test/agora-fork-vote.test.ts
Due: check

feat(sdk): ManagedBudgetRoles as ts enum, tweak gha cache strategy
  .changeset/cuddly-toes-push.md
  .github/actions/install-dependencies/action.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-to-main.yml
  biome.json
  packages/sdk/src/Budgets/ManagedBudget.ts
Due: check

fix(sdk,tests): actually test managedbudget
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
Due: check

ci: consolidate build/test actions, test:ci requires build, saves time
  .github/workflows/verify.yml
Due: none

chore: address PR comments
  packages/sdk/test/agora-fork-vote.test.ts
Due: check

feat(sdk): add OpenAllowList as zero config extension of SimpleDenyList
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/AllowLists/OpenAllowList.test.ts
  packages/sdk/src/AllowLists/OpenAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/test/helpers.ts
Due: check

chore(sdk, OpenAllowList): remove redundant static props
  .changeset/chatty-eagles-collect.md
  packages/sdk/src/AllowLists/OpenAllowList.ts
Due: check

test(sdk): update OpenAllowList test helpers
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/AllowLists/AllowList.test.ts
  packages/sdk/src/AllowLists/OpenAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleDenyList.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/test/helpers.ts
Due: check

build: update nvmrc to 20.x
  .nvmrc
Due: none

chore(sdk): enable tsconfig for test files
  .gitignore
  packages/cli/tsconfig.json
  packages/sdk/package.json
  packages/sdk/tsconfig.build.json
Due: check

[BOOST-4729] fix(evm): make mulitiple CGDA claims impossible
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

[BOOST-4730] fix(evm): revert createBoost if no Validator
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

feat: make asset fields default to the zero address
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.test.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.test.ts
  packages/sdk/src/Budgets/VestingBudget.ts
Due: check

chore: add changeset
  .changeset/silver-bobcats-switch.md
Due: none

ci(cache): tweak cache key to use git sha
  .github/actions/install-dependencies/action.yml
Due: none

fix(sdk): tweak error handling in EventAction
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Due: check

test(sdk): add tests for function handling in event actions
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

feat(sdk): add additional helpers into EventAction for function validation
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Due: check

feat(sdk): use trim and additional error handling in isActionFunctionValid
  packages/sdk/src/Actions/EventAction.ts
Due: check

refactor(sdk): change validation types to address nit from @sammccord
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

fix(sdk): rectify SignatureType import post utils refactor
  packages/sdk/src/Actions/EventAction.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
