Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

updates
  packages/sdk/test/uniswap-fork-swap.test.ts
Due: check

feat: clone examples for swap test
  examples/swap-specific-dex/.env.sample
  examples/swap-specific-dex/hardhat.config.cjs
  examples/swap-specific-dex/package.json
  examples/swap-specific-dex/tsconfig.json
  examples/swap-specific-dex/vitest.config.ts
Due: check

feat(signatures): add SwappedV3 event signature
  packages/signatures/manifests/events.json
Due: check

refactor(tests): rename and update swap-specific-dex test
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  test/src/swap-specific-dex.test.ts
Due: check

feat(test): add arbitrum chain to test configuration
  test/src/viem.ts
Due: check

build: update pnpm-lock.yaml with new dependencies
  pnpm-lock.yaml
Due: none

chore: generate changeset
  .changeset/red-kiwis-hope.md
Due: none

feat(sdk,allowlists): add owner method to both allow and denylists
  .changeset/lovely-tigers-accept.md
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
Due: check

chore(evm): improve turbo build caching
  .gitignore
  packages/evm/.gitignore
Due: none

refactor(evm,sdk,budget,allowlist): use common rbac contract for auth
  packages/evm/contracts/allowlists/AAllowList.sol
  packages/evm/contracts/allowlists/ASimpleAllowList.sol
  packages/evm/contracts/allowlists/ASimpleDenyList.sol
  packages/evm/contracts/allowlists/SimpleAllowList.sol
  packages/evm/contracts/allowlists/SimpleDenyList.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/SimpleBudget.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/contracts/shared/RBAC.sol
  packages/evm/test/allowlists/SimpleAllowList.t.sol
  packages/evm/test/allowlists/SimpleDenyList.t.sol
  packages/evm/test/shared/RBAC.t.sol
  packages/sdk/package.json
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/index.ts
Due: check, forge

fix(sdk): fix uint field value uint comparison and cover all cases
  packages/sdk/package.json
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  pnpm-lock.yaml
Due: check

chore(sdk): stop ignore dist in IDE tsconfig.json
  packages/sdk/tsconfig.json
Due: check

fix(sdk,managedbudget): remove extra auth methods, now in rbac
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/allowlists/AAllowList.sol
  packages/evm/contracts/allowlists/ASimpleAllowList.sol
  packages/evm/contracts/allowlists/ASimpleDenyList.sol
  packages/evm/contracts/allowlists/SimpleAllowList.sol
  packages/evm/contracts/allowlists/SimpleDenyList.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/shared/RBAC.sol
  packages/evm/test/allowlists/SimpleAllowList.t.sol
  packages/evm/test/shared/RBAC.t.sol
  packages/sdk/src/Budgets/ManagedBudget.ts
Due: check, forge

feat: make validator optional in CreateBoostPayload
  packages/sdk/src/BoostCore.ts
Due: check

chore: simplify hardhat config
  packages/sdk/hardhat.config.cjs
Due: check

chore: update hardhat config file for ens test
  examples/ens-register/hardhat.config.cjs
Due: check

chore: update hardhat config in sdk so tests work
  packages/sdk/hardhat.config.cjs
Due: check

Revert "chore: update hardhat config in sdk so tests work"
  packages/sdk/hardhat.config.cjs
Due: check

test(boostcore): add tests for boost with default validator
  packages/sdk/src/BoostCore.test.ts
Due: check

feat(boostcore): allow custom parameters in validator
  packages/sdk/src/BoostCore.ts
Due: check

chore(feedback,evm): remove simplebudget, allow managers to setallowed/denied
  README.md
  packages/cli/src/commands/deploy.ts
  packages/evm/contracts/allowlists/SimpleAllowList.sol
  packages/evm/contracts/allowlists/SimpleDenyList.sol
  packages/evm/contracts/budgets/ASimpleBudget.sol
  packages/evm/contracts/budgets/SimpleBudget.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostRegistry.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/sdk/.env.sample
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.test.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/index.test.ts
Due: check, forge

chore(changeset): add changeset
  .changeset/stupid-donuts-bathe.md
Due: none

fix(sdk,SignerValidator): fix default test config
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  test/src/helpers.ts
Due: check

chore: remove console logs from helpers.ts
  test/src/helpers.ts
Due: check

chore: generate changeset
  .changeset/purple-islands-cheer.md
Due: none

fix(evm): check claims against allowlist in BoostCore
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Due: forge

fix(zora): ensure imposter is on allowlist
  examples/zora-mint/src/zora-mint.test.ts
Due: check

ci(labeler): tryfix labeler action
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

ci(labeler): update config to v5 syntax
  .github/labeler.yml
Due: none

chore(sdk): more jsdoc fixes, remove Read/Write generic params to prevent doc bloat
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/transfers.ts
  packages/sdk/src/utils.ts
Due: check

chore(sdk): correct all typedoc return types
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
Due: check

[ADHOC] chore(sdk): correct all typedoc return types (#182)
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/transfers.ts
  packages/sdk/src/utils.ts
Due: check

fix(evm,sdk): fix encoded interfaceIds to 4 bytes
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/src/Incentives/Incentive.ts
Due: check, forge

fix(evm): enable multiple claims by an address for ERC1155Incentives
  packages/evm/contracts/incentives/AAllowListIncentive.sol
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/APointsIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
Due: forge

chore(ci,repo): replace all rabbitholegg with boostxyz, replace GITHUB_TOKEN bc transfer broke perms
  .changeset/config.json
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/danger.yaml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/use-cases.yml
  .github/workflows/verify.yml
  README.md
  dangerfile.ts
  package.json
  packages/cli/package.json
  packages/evm/foundry.toml
  packages/evm/package.json
  packages/sdk/package.json
  packages/signatures/package.json
Due: check
