Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

docs: add wallet provider integration guide
  WALLET_PROVIDER_INTEGRATION.md
Due: none

feat: deploy on world chain sepolia
  packages/evm/broadcast/Deploy.s.sol/4801/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907268.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907301.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907367.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907461.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-latest.json
  packages/evm/deploys/4801.json
Due: check, forge

chore: add changeset
  .changeset/bright-penguins-matter.md
Due: none

[ADHOC] World Chain Sepolia (#455)
  .changeset/bright-penguins-matter.md
  packages/evm/broadcast/Deploy.s.sol/4801/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907268.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907301.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907367.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1748907461.json
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-latest.json
  packages/evm/deploys/4801.json
Due: check, forge

Version Packages (#456)
  .changeset/bright-penguins-matter.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore: update .gitignore to include cursor rules
  .gitignore
Due: none

refactor: update bases to handle optional env variables
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/SignerValidator.ts
Due: check

refactor: update address check logic for bases
  packages/sdk/src/Deployable/DeployableTarget.ts
Due: check

chore: generate changeset
  .changeset/heavy-suits-march.md
Due: none

feat: add payable validator
  packages/evm/contracts/validators/APayableLimitedSignerValidator.sol
  packages/evm/contracts/validators/LimitedSignerValidator.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
Due: forge

feat(validator): set global claimFee on base contract
  packages/evm/contracts/validators/APayableLimitedSignerValidator.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
Due: forge

test: add tests for global fee update mechanism
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
Due: forge

feat(validator): handle claim fee retrieval safely
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
Due: forge

feat(deploy): add PayableLimitedSignerValidator support
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
Due: check

feat: add PayableLimitedSignerValidator to BoostCore
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/index.ts
Due: check

feat(test): add PayableLimitedSignerValidator support
  test/src/helpers.ts
Due: check

test: add tests for PayableLimitedSignerValidator
  packages/sdk/src/Validators/PayableLimitedSignerValidator.test.ts
Due: check

feat: add PayableLimitedSignerValidator implementation
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
Due: check

refactor(cli): replace claimFee with baseImplementation
  packages/cli/src/commands/seed.ts
Due: check

feat: add PayableLimitedSignerValidator deployment function
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

feat: add APayableLimitedSignerValidator interface support
  packages/evm/script/solidity/ComponentInterface.s.sol
Due: forge

feat: add owner parameter to PayableLimitedSignerValidator
  packages/cli/src/commands/deploy.ts
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
  packages/sdk/src/Validators/PayableLimitedSignerValidator.test.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
  test/src/helpers.ts
Due: check, forge

test deploy
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: check, forge

fix(deploy): update baseOwner private key variable
  packages/evm/.env.example
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

chore: generate changeset
  .changeset/sharp-lamps-drop.md
Due: none

[ADHOC] conditionally add hardhat chain to bases (#457)
  .changeset/heavy-suits-march.md
  .gitignore
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.ts
  packages/sdk/src/Budgets/TransparentBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/SignerValidator.ts
Due: check

chore: update comment
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
Due: check

refactor(validators): remove unused claim data helper function
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
Due: check

feat: add initial claim fee to PayableLimitedSignerValidator
  packages/cli/src/commands/deploy.ts
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
  packages/sdk/src/Validators/PayableLimitedSignerValidator.test.ts
  test/src/helpers.ts
Due: check, forge

feat: add ClaimFeePaid event and related tests
  packages/evm/contracts/validators/APayableLimitedSignerValidator.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidator.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
Due: forge

deploy new test contract
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Due: check, forge

chore: deploy base-sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1750879785645.json
  packages/evm/deploys/84532.json
Due: check, forge

chore: deploy sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1750880031285.json
  packages/evm/deploys/11155111.json
Due: check, forge

chore: deploy optimism
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1750883824656.json
  packages/evm/deploys/10.json
Due: check, forge

chore: deploy world sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/4801/run-1750885206232.json
  packages/evm/deploys/4801.json
Due: check, forge

chore: deploy base
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1750885517562.json
  packages/evm/deploys/8453.json
Due: check, forge

chore: update readme and example env file
  packages/evm/.env.example
  packages/evm/README.md
Due: none

chore: update readme
  payable-limited-signer-validator-sdk-implementation-plan.md
Due: none

fix(validator): add error handling for chain ID checks
  packages/sdk/src/Validators/PayableLimitedSignerValidator.ts
Due: check
