Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

fix(evem): getComponentInterface in AEventAction
  packages/evm/contracts/actions/AEventAction.sol
Due: forge

feat(sdk): add EventAction
  packages/cli/src/commands/deploy.ts
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
Due: check

feat(evm): add ERC20VariableIncentive
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Due: forge

chore: minor tweaks
  README.md
  packages/sdk/test/helpers.ts
Due: check

test(evem): getComponentInterface in AEventAction
  packages/evm/test/actions/EventAction.t.sol
Due: forge

chore: add event action to sample .env
  packages/sdk/.env.sample
Due: none

fix(sdk): type EventActionArtifact
  packages/cli/src/commands/deploy.ts
Due: check

chore(sdk): cleanup, rename generic event to log
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/vite-env.d.ts
Due: check

feat(sdk): basic fully typed subscribe, almost all getLogs
  packages/sdk/package.json
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/utils.ts
  packages/sdk/vite-env.d.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
  pnpm-lock.yaml
Due: check

test(evm): ERC20VariableIncentive
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

ci: fix frozen lockfile error
  pnpm-lock.yaml
Due: none

feat(sdk): implement getLogs/subscribe api for all contracts
  packages/sdk/events.config.js
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
  packages/sdk/vite-env.d.ts
  packages/sdk/vite.config.js
  pnpm-lock.yaml
Due: check

refactor(sdk): replace build time event vars with runtime getAbiItem
  packages/sdk/events.config.js
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/vite-env.d.ts
  packages/sdk/vite.config.js
Due: check

refactor(sdk): make subscribe, getLogs generic
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/MockERC20.ts
  packages/sdk/test/MockERC721.ts
  packages/sdk/test/helpers.ts
Due: check

refactor(sdk): genericize event handling
  packages/sdk/src/Deployable/Contract.ts
Due: check

ci(sdk): remove .only
  packages/sdk/src/BoostCore.test.ts
Due: check

chore: hoist subscribe, getLogs
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/MockERC20.ts
  packages/sdk/test/MockERC721.ts
Due: check

ci: fix build
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: org imports, rebase, remove old getLogs, subscribe comments
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
Due: check

s/Validator/AValidator/g
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

chore: install ethereum-cryptography
  package.json
  pnpm-lock.yaml
Due: check

fix(evm): make SignerValidator utilize EIP712
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/shared/IBoostClaim.sol
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

refactor(evm): tweak incentive ID vs incentive quantity in hash
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

test(sdk): update SignerValidator utils and interfaces
  packages/sdk/src/Validators/SignerValidator.test.ts
Due: check

test(sdk): update cgda test for new signer
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
Due: check

test(sdk): update pointsincentive test for new signer
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Due: check

test(sdk): update allowlist tests for new signature
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/test/helpers.ts
Due: check

feat(sdk): update SignerValidator utils and interfaces
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
Due: check

fix(sdk): don't hardcode incentiveQuantity
  packages/sdk/src/utils.ts
Due: check

fix(evm): incentiveId -> incentiveQuantity
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

test(sdk): update erc20 intentive test for new signer
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
Due: check

test(sdk): update prepareSignerValidatorClaimDataPayload
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Due: check

test(sdk): update erc1155 incentive test for new signer
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
Due: check

refactor(sdk): generate hashed data locally
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
Due: check

s/Validator/AValidator/g
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/actions/Action.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/e2e/EndToEnd.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
  packages/sdk/src/Validators/Validator.ts
Due: check, forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
