Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

chore: changeset
  .changeset/stale-snakes-search.md
Due: none

[ADHOC] chore(sdk): better support for linking, (#216)
  .changeset/stale-snakes-search.md
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
  packages/sdk/.env.sample
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/vite.config.js
  test/src/helpers.ts
  test/src/viem.ts
  turbo.json
Due: check

chore: don't publish sdk and signatures together
  .changeset/config.json
  .changeset/curly-rice-cough.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  test/package.json
  test/src/allKnownSignatures.ts
Due: check

chore: fix pnpm-lock
  pnpm-lock.yaml
Due: none

feat(signatures): add new event and function signatures
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Due: check

chore: generate changeset
  .changeset/clean-suits-tie.md
Due: none

chore: fixup examples
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/vitest.config.ts
Due: check

chore: deploy to sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1729631460.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729631990.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729632338.json
  packages/evm/deploys/11155111.json
Due: check, forge

chore: typo
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: undo hardhat setup
  packages/sdk/vitest.config.ts
Due: check

chore: deploy to base sepolia
  packages/evm/broadcast/Deploy.s.sol/84532/run-1729633231.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1729633314.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1729633783.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Due: check, forge

[ADHOC] feat(sdk): mandatory knownSignatures for validation (#217)
  .changeset/config.json
  .changeset/curly-rice-cough.md
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  pnpm-lock.yaml
  test/package.json
  test/src/allKnownSignatures.ts
Due: check

[ADHOC]: add signatures for sound and zora (#218)
  .changeset/clean-suits-tie.md
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Due: check

Version Packages (alpha) (#214)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Due: check

chore(evm): migrate IncentiveBits to its own file
  packages/evm/contracts/shared/IncentiveBits.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/shared/IncentiveBits.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

feat(evm): implement LimitedSignerValidator
  packages/evm/contracts/shared/BoostError.sol
  packages/evm/contracts/validators/ALimitedSignerValidator.sol
  packages/evm/contracts/validators/LimitedSignerValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/validators/LimitedSignerValidator.t.sol
Due: forge

feat(sdk,EventAction): add msgSenderClaimant utility, test
  .changeset/fair-chicken-confess.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: address feedback, rename to transactionSenderClaimant
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: fix changeset
  .changeset/fair-chicken-confess.md
Due: none

[ADHOC] feat(sdk,EventAction): add msgSenderClaimant utility, test (#221)
  .changeset/fair-chicken-confess.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

feat: add FlexibleFeeBudget contract for fee management
  packages/evm/contracts/budgets/FlexibleFeeBudget.sol
Due: forge

test(FlexibleFeeBudget): add initial tests for FlexibleFeeBudget
  packages/evm/test/budgets/FlexibleFeeBudget.t.sol
Due: forge

chore: format
  packages/evm/contracts/budgets/FlexibleFeeBudget.sol
Due: forge

Version Packages (alpha) (#223)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat(sdk): add helper for gas rebates
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

test(sdk): helpers for variable criteria gas rebates
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
Due: check

style(test): Update comments for FlexibleFeeBudget tests
  packages/evm/test/budgets/FlexibleFeeBudget.t.sol
Due: forge

feat(budgets): add IFlexibleFee interface and extend contract
  packages/evm/contracts/budgets/FlexibleFeeBudget.sol
  packages/evm/contracts/budgets/IFlexibleFee.sol
Due: forge

feat(sdk): implement LimitedSignerValidator in the SDK
  .changeset/sweet-shrimps-prove.md
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Validators/LimitedSignerValidator.test.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Due: check

chore(sdk,LimitedSigner): backfill refs into more places for compat
  packages/cli/src/commands/deploy.ts
  packages/sdk/.env.sample
  packages/sdk/package.json
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
Due: check

refactor(sdk): use an enum for cheat codes
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/utils.ts
Due: check

Create chilly-pets-live.md
  .changeset/chilly-pets-live.md
Due: none

feat(signatures): add boost events
  packages/signatures/manifests/events.json
Due: check

chore: generate changeset
  .changeset/real-planes-ring.md
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
