Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

Create tame-lobsters-care.md
  .changeset/tame-lobsters-care.md
Due: none

chore: remove unused variables
  packages/evm/test/BoostCore.t.sol
Due: forge

test(evm): add fuzz testing for additional fees
  packages/evm/test/BoostCore.t.sol
Due: forge

feat(evm): Pegged Variable Criteria Incentive
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Due: forge

test(evm): Pegged Variable Criteria Incentive
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
Due: forge

feat(evm): Pegged Variable Criteria Incentive scripts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

test(sdk): Pegged Variable Criteria Incentive
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Due: check

feat(signatures): add new event and function signatures
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Due: check

chore: generate changeset
  .changeset/empty-weeks-cross.md
Due: none

fix(evm): tweak deploy script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

fix(sdk): capitilization issue
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
Due: check

[ADHOC]: add new signatures for coop records (#327)
  .changeset/empty-weeks-cross.md
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Due: check

Version Packages (#328)
  .changeset/empty-weeks-cross.md
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Due: check

refactor: correct interface name and update comments
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

refactor(Incentives): rename methods for clarity and consistency
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

feat(Incentives): add peg method for peggedVariableCriteriaIncenitve
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

feat: add criteria to incentive payload interface
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

feat: add getIncentiveScalar method to Erc20PeggedVariableCriteriaIncentive class
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

feat(helpers): add ERC20PeggedVariableCriteriaIncentive support
  test/src/helpers.ts
Due: check

test: add ERC20PeggedVariableCriteriaIncentive tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

refactor(Incentive): update incentive type mapping key
  packages/sdk/src/Incentives/Incentive.ts
Due: check

feat(evm): add criteria to ERC20PeggedIncentive
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Due: forge

chore: format
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
Due: forge

feat: add criteria parameter to incentive payload function
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

test: add ERC20PeggedVariableCriteriaIncentive tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  test/src/helpers.ts
Due: check

test: add basic and owner-related tests for ERC20 incentive
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

fix: grant proper roles for clawbackFromTarget test
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

fix: rearrange params
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check, forge

test: Remove unused function and update test values
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

feat(EventAction): add transfer log decoding for ERC20/ERC721
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.ts
Due: check

chore: add sdk/cache to ignored paths in biome.json
  biome.json
Due: check

refactor(EventAction): remove unused crypto import
  packages/sdk/src/Actions/EventAction.ts
Due: check

feat(utils): update transfer signature to use events selector
  packages/sdk/src/utils.ts
Due: check

chore: generate changeset
  .changeset/sixty-mirrors-wink.md
Due: none

chore: generate changeset
  .changeset/five-chicken-float.md
Due: none

fix(evm): utilize consistent manager paradigm for incentives
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

test(sdk): add manager to incentive init params
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Due: check

chore(sdk): remove failing test
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
