Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

test(evm): create test for signature malleability
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

feat: add OR_EQUAL filters to event action
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check, forge

feat(evm): add max reward to variable criteria incentive
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Due: forge

test(evm): max reward in variable criteria incentive
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Due: forge

feat(sdk): add ts helper changes necesary to support max reward
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

fix(evm): ensure additional protocol fees can be set on a per-boost basis
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

refactor(evm): remove unused bytes data in add incentive
  packages/evm/contracts/BoostCore.sol
Due: forge

[ADHOC] refactor(evm): remove unused bytes data in add incentive (#246)
  packages/evm/contracts/BoostCore.sol
Due: forge

Version Packages (alpha) (#241)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

fix(sdk): set per-boost protocol fee to 0
  packages/sdk/src/BoostCore.test.ts
Due: check

fix(sdk): update maxReward in variable criteria incentive tests
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
Due: check

fix(sdk): cleanup maxReward issues in variable criteria incentive helper
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

chore: deploy contracts to sepolia and base sepolia
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1730299498.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1730299991.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299576.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299603.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299615.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299627.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299640.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299651.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299663.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299689.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1730299917.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1730300429.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
Due: check, forge

Create early-rats-perform.md
  .changeset/early-rats-perform.md
Due: none

chore: docs, createBoost signature
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/utils.ts
Due: check

chore: fix deployableOptions
  packages/sdk/src/BoostCore.ts
Due: check

refactor(Budgets): deprecate ManagedBudgetRoles for RBAC Roles
  packages/sdk/src/Budgets/ManagedBudget.ts
Due: check

fix: update ManagedBudgetRoles to Roles in helpers.ts
  test/src/helpers.ts
Due: check

chore: add changeset for deprecating ManagedBudgetRoles enum
  .changeset/lazy-cows-sip.md
Due: none

chore(sdk): remove evm as optional dep
  .npmrc
  .pnpmfile.cjs
  pnpm-lock.yaml
Due: check

chore(sdk): undo unnecessary pnpm lock
  .npmrc
  pnpm-lock.yaml
Due: none

chore(sdk): tweak turbo config to force dep graph
  .pnpmfile.cjs
  packages/sdk/package.json
  pnpm-lock.yaml
  turbo.json
Due: check

[BOOST-4904] deprecate managedbudgetroles enum for roles (#257)
  .changeset/lazy-cows-sip.md
  packages/sdk/src/Budgets/ManagedBudget.ts
  test/src/helpers.ts
Due: check

chore(sdk): changeset
  .changeset/fair-baboons-sin.md
Due: none

ci: fix lock
  pnpm-lock.yaml
Due: none

[ADHOC] chore(sdk): remove evm as optional dep (#259)
  .changeset/fair-baboons-sin.md
  packages/sdk/package.json
  pnpm-lock.yaml
  turbo.json
Due: check

[ADHOC][DONT MIND ME] chore: general cleanup i'm adding to gradually (#250)
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/utils.ts
Due: check

fix(zora-mint); hh block config
  examples/zora-mint/hardhat.config.cjs
Due: check

ci: fix typedoc dep graph
  turbo.json
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
