Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

chore(evm): address CodeRabbit suggestions
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
Due: forge

chore: disable format on save for solidity files (utilize lefthook)
  .vscode/settings.json
Due: check

feat(sdk): support V2 Validators
  packages/sdk/package.json
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFees.test.ts
  packages/sdk/src/Budgets/ManagedBudgetWithFeesV2.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/LimitedSignerValidatorV2.test.ts
  packages/sdk/src/Validators/LimitedSignerValidatorV2.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidatorV2.test.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidatorV2.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/SignerValidatorV2.test.ts
  packages/sdk/src/Validators/SignerValidatorV2.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Due: check

fix(evm): handle underflow
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): add tests for referrals
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndSignerValidatorV2.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/evm/test/validators/LimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/SignerValidatorV2.t.sol
Due: forge

chore: reuse IBoostCore interface
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
Due: forge

chore(evm): cleanup
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/validators/SignerValidatorV2.t.sol
Due: forge

feat(evm): add new validators to handle referrals in claim data
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/IBoostClaim.sol
  packages/evm/contracts/validators/ALimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/APayableLimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/ASignerValidatorV2.sol
  packages/evm/contracts/validators/LimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/SignerValidatorV2.sol
Due: forge

test(sdk): check referral balance
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Due: check

fix(evm): address CodeRabbit suggestions
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/validators/LimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/validators/LimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/SignerValidatorV2.t.sol
Due: forge

test(evm): clean up component interface tests
  packages/evm/test/actions/ContractAction.t.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/actions/EventAction.t.sol
  packages/evm/test/allowlists/SimpleAllowList.t.sol
  packages/evm/test/allowlists/SimpleDenyList.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/budgets/VestingBudget.t.sol
  packages/evm/test/incentives/AllowListIncentive.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/evm/test/incentives/PointsIncentive.t.sol
  packages/evm/test/shared/Cloneable.t.sol
  packages/evm/test/validators/LimitedSignerValidator.t.sol
  packages/evm/test/validators/LimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidator.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
  packages/evm/test/validators/SignerValidatorV2.t.sol
Due: forge

fix(sdk): address CodeRabbit suggestions
  packages/sdk/src/Validators/LimitedSignerValidatorV2.test.ts
  packages/sdk/src/Validators/LimitedSignerValidatorV2.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidator.test.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidatorV2.test.ts
  packages/sdk/src/Validators/PayableLimitedSignerValidatorV2.ts
  packages/sdk/src/Validators/SignerValidatorV2.test.ts
  packages/sdk/src/Validators/SignerValidatorV2.ts
Due: check

chore(evm): deploy new modules on eth sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1759363169.json
  packages/evm/deploys/11155111.json
Due: check, forge

chore(evm): update BoostCore version
  packages/evm/contracts/BoostCore.sol
Due: forge

chore(evm): add version check in upgrade script
  packages/evm/script/solidity/UpgradeBoostCore.s.sol
Due: forge

chore(evm): upgrade BoostCore
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-1759363448.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-1759363633.json
Due: check, forge

chore: update changeset
  .changeset/stale-nails-prove.md
Due: none

[ADHOC] chore: version packages (canary) (#484)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

ci: increase build size
  .github/workflows/on-push-to-main.yml
Due: none

[ADHOC] ci: increase build size (#485)
  .github/workflows/on-push-to-main.yml
Due: none

[ADHOC] ci: increase build size (#486)
  .github/workflows/on-push-to-main.yml
Due: none

ci: use env var
  .github/workflows/on-push-to-main.yml
Due: none

[ADHOC] ci: use env var (#487)
  .github/workflows/on-push-to-main.yml
Due: none

fix: add targetContract check in action validation
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/beige-radios-cry.md
Due: none

refactor(EventAction): replace event selector with signature
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/early-keys-sort.md
Due: none

refactor(EventAction): replace toEventSelector with signature
  packages/sdk/src/Actions/EventAction.ts
Due: check

[BOOST-5830] add targetContract check in action validation (#488)
  .changeset/beige-radios-cry.md
  packages/sdk/src/Actions/EventAction.ts
Due: check

[ADHOC] filter decoded logs using action step signature (#489)
  .changeset/early-keys-sort.md
  packages/sdk/src/Actions/EventAction.ts
Due: check

Version Packages (canary) (#490)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat(evm): deploy modules and upgrade base sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1759947284.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-1759947520.json
  packages/evm/deploys/84532.json
Due: check, forge

feat(evm): deploy modules and upgrade optimism
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1759948334.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-1759948792.json
  packages/evm/deploys/10.json
Due: check, forge

feat(evm): deploy modules and upgrade base
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1759949679.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-1759950110.json
  packages/evm/deploys/8453.json
Due: check, forge

feat(evm): deploy modules and upgrade worldchain
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-1759950944.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-1759951376.json
  packages/evm/deploys/480.json
Due: check, forge

chore: add changeset
  .changeset/ninety-carpets-end.md
Due: none

[ADHOC] Deploy Modules and BoostCore Upgrade (#491)
  .changeset/ninety-carpets-end.md
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1759948334.json
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-1759950944.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1759949679.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1759947284.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-1759948792.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-1759951376.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-1759950110.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-1759947520.json
  packages/evm/deploys/10.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Due: check, forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
