Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

feat: add budget address to campaign creation events
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Due: forge

refactor: update event parameters in CampaignCreated for clarity
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

refactor: add idempotent check and update test function name
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Due: forge

[ADHOC] Add campaign finalization gate for withdrawals and unified withdrawal flow (#520)
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Due: forge

docs: Add upgrade reference annotation to TimeBasedIncentiveManager
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

archive: Add TimeBasedIncentiveManagerV1 for upgrade safety
  packages/evm/contracts/archive/TimeBasedIncentiveManagerV1.sol
Due: forge

test: Add ValidateTimeBasedUpgrade script for upgrade safety
  packages/evm/script/solidity/ValidateTimeBasedUpgrade.s.sol
Due: forge

feat: Add version() method to TimeBasedIncentiveManager
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

script: Add UpgradeTimeBased deployment script
  packages/evm/script/solidity/UpgradeTimeBased.s.sol
Due: forge

chore: Record broadcast transactions for TimeBased upgrade
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-1772228635481.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-latest.json
Due: check, forge

chore: Update TimeBasedIncentiveCampaign address in deploys
  packages/evm/deploys/84532.json
Due: check, forge

[ADHOC] Upgrade TimeBasedIncentiveManager to V2 on BaseSepolia (#521)
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-1772228635481.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-latest.json
  packages/evm/contracts/archive/TimeBasedIncentiveManagerV1.sol
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/UpgradeTimeBased.s.sol
  packages/evm/script/solidity/ValidateTimeBasedUpgrade.s.sol
Due: check, forge

chore: deploy tbi V2 upgrade on worldchain
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-1772240058954.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-latest.json
  packages/evm/deploys/480.json
Due: check, forge

[ADHOC] Deploy Time-Based Incentive V2 upgrade on Worldchain (#522)
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-1772240058954.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-latest.json
  packages/evm/deploys/480.json
Due: check, forge

fix: apply early finalization condition to manager withdrawal
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

docs: clarify campaign end conditions in updateRootsBatch
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

feat: enable early campaign finalization when budget fully committed
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
Due: forge

test: add comprehensive early finalization test suite
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Due: forge

[BOOST-6262] Enable early campaign finalization when budget fully committed (#523)
  packages/evm/contracts/timebased/TimeBasedIncentiveCampaign.sol
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Due: forge

chore: add broadcast artifacts for time-based upgrade deployment
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-1773769048319.json
Due: check, forge

feat: add TimeBasedIncentiveManagerV2 archive for upgrade safety
  packages/evm/contracts/archive/TimeBasedIncentives/TimeBasedIncentiveManagerV2.sol
Due: forge

chore: reorganize time-based incentive archive structure
  packages/evm/contracts/archive/TimeBasedIncentives/TimeBasedIncentiveManagerV1.sol
Due: forge

style: improve code formatting in tests
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Due: forge

chore: update deployed contract address for campaign implementation
  packages/evm/deploys/84532.json
Due: check, forge

chore: update upgrade reference from V1 to V2 archive
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/script/solidity/ValidateTimeBasedUpgrade.s.sol
Due: forge

bump: version to 2.1.0
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

[ADHOC] budget exhaustion release basesepolia (#524)
  packages/evm/broadcast/UpgradeTimeBased.s.sol/84532/run-1773769048319.json
  packages/evm/contracts/archive/TimeBasedIncentives/TimeBasedIncentiveManagerV1.sol
  packages/evm/contracts/archive/TimeBasedIncentives/TimeBasedIncentiveManagerV2.sol
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/ValidateTimeBasedUpgrade.s.sol
  packages/evm/test/timebased/TimeBasedIncentiveManager.t.sol
Due: check, forge

chore: deploy tbi upgrade v2_1 to world
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-1773796309599.json
  packages/evm/deploys/480.json
Due: check, forge

[ADHOC] Deploy TimeBasedIncentive upgrade v2.1 to worldchain (#525)
  packages/evm/broadcast/UpgradeTimeBased.s.sol/480/run-1773796309599.json
  packages/evm/deploys/480.json
Due: check, forge

feat: upgrade time-based incentive manager with enhanced implementation
  packages/evm/broadcast/UpgradeTimeBased.s.sol/8453/run-1773860150725.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/8453/run-latest.json
Due: check, forge

feat: add time-based incentive campaign and manager contracts
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-1773859752147.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-1773859879874.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-latest.json
  packages/evm/deploys/8453.json
Due: check, forge

[ADHOC] Deploy time-based incentive contracts on Base (#526)
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-1773859752147.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-1773859879874.json
  packages/evm/broadcast/Deploy_TimeBased.s.sol/8453/run-latest.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/8453/run-1773860150725.json
  packages/evm/broadcast/UpgradeTimeBased.s.sol/8453/run-latest.json
  packages/evm/deploys/8453.json
Due: check, forge

chore(sdk): update signer
  packages/sdk/.env.sample
Due: none

fix: improve error handling in Hardhat process stderr logging
  test/src/setup.hardhat.ts
Due: check

chore: add changeset
  .changeset/three-readers-deny.md
Due: none

[ADHOC] update default validator signer in sdk (#527)
  .changeset/three-readers-deny.md
  packages/sdk/.env.sample
  test/src/setup.hardhat.ts
Due: check

Version Packages (canary) (#528)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat: add BoostForwarder UUPS upgradeable proxy contract
  packages/evm/contracts/timebased/BoostForwarder.sol
Due: forge

feat: add BoostForwarderAdapters with protocol deposit implementations
  packages/evm/contracts/timebased/BoostForwarderAdapters.sol
Due: forge

test: add comprehensive BoostForwarder test suite
  packages/evm/test/timebased/BoostForwarder.t.sol
Due: forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
