Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

refactor(sdk): prefer wagmi utils vs viem
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

feat(sdk): add variable crtieria incentive plumbing
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/index.ts
  test/src/helpers.ts
Due: check

feat(sdk): add ERC20VariableCriteriaIncentive to Inentive helper file
  packages/sdk/src/Incentives/Incentive.ts
Due: check

chore(sdk): move custom errors and add comments
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/errors.ts
Due: check

feat(evm): add variable criteria incentive to deploy modules
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

chore: deploy
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426652.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426757.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426769.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728426947.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1728427070.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1728427352.json
  packages/evm/deploys/11155111.json
Due: check, forge

fix(evm): make initialize virtual
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Due: forge

feat(sdk): add variable criteria incentive to CLI deplo
  packages/cli/src/commands/deploy.ts
Due: check

Create witty-jokes-accept.md
  .changeset/witty-jokes-accept.md
Due: none

refactor(sdk): change inheritance for Variable Critiria Incentive
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

test(evm): test variable criteria incentive
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Due: forge

test(sdk): fix getClaimFromTransaction test
  packages/sdk/src/BoostCore.test.ts
Due: check

[BOOST-4786] feat(sdk): add `getClaimFromTransaction` method to BoostCore (#190)
  .changeset/plenty-ligers-notice.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Due: check

ci: tryfix changesets
  package.json
  pnpm-workspace.yaml
Due: check

feat(evm): implement erc165 for BoostRegistry
  packages/evm/contracts/ABoostRegistry.sol
  packages/evm/contracts/BoostRegistry.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/BoostRegistry.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

fix(sdk): re-add boostRegistryAbi, add test for all public exports
  .changeset/quiet-lies-lick.md
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/index.test.ts
Due: check

[ADHOC] chore: version packages (alpha) (#195)
  .changeset/pre.json
  examples/agora-vote/CHANGELOG.md
  examples/agora-vote/package.json
  examples/delegate-action/CHANGELOG.md
  examples/delegate-action/package.json
  examples/ens-register/CHANGELOG.md
  examples/ens-register/package.json
  examples/swap-specific-dex/CHANGELOG.md
  examples/swap-specific-dex/package.json
  examples/zora-mint/CHANGELOG.md
  examples/zora-mint/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  test/CHANGELOG.md
  test/package.json
Due: check

feat(sdk,EventAction): add deriveActionClaimantFromTransaction method, refactor ValidateActionStepParams slightly
  .changeset/calm-moles-fry.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.test.ts
Due: check

fix(examples): add private:true to package json to prevent publishing
  examples/agora-vote/package.json
  examples/delegate-action/package.json
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
  examples/zora-mint/package.json
Due: check

[BOOST-4786] feat(sdk,EventAction): add deriveActionClaimantFromTransaction method (#194)
  .changeset/calm-moles-fry.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.test.ts
Due: check

Version Packages (alpha) (#196)
  .changeset/pre.json
  examples/agora-vote/CHANGELOG.md
  examples/agora-vote/package.json
  examples/delegate-action/CHANGELOG.md
  examples/delegate-action/package.json
  examples/ens-register/CHANGELOG.md
  examples/ens-register/package.json
  examples/swap-specific-dex/CHANGELOG.md
  examples/swap-specific-dex/package.json
  examples/zora-mint/CHANGELOG.md
  examples/zora-mint/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  test/CHANGELOG.md
  test/package.json
Due: check

fix(sdk,BoostCore): fix overlooked assert by chain id in readBoost
  packages/sdk/src/BoostCore.ts
Due: check

feat(sdk,BoostCore): add BoostNotFoundError to read/get Boost for friendlier message
  .changeset/perfect-flies-rest.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/errors.ts
  turbo.json
Due: check

feat(sdk,BoostCore): allow numerical strings for id arg in readBoost
  .changeset/moody-horses-own.md
  packages/sdk/src/BoostCore.ts
Due: check

fix(sdk): fix syntax error in readBoost
  packages/sdk/src/BoostCore.ts
Due: check

chore(sdk): fix typedoc interface names
  packages/sdk/src/Boost.ts
Due: check

[BOOST-4735] feat(evm): implement erc165 for BoostRegistry (#183)
  packages/evm/contracts/ABoostRegistry.sol
  packages/evm/contracts/BoostRegistry.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/test/BoostRegistry.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

feat(evm): implement OpenAllowList predeploy
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Due: forge

fix(sdk,BoostRegistry): fix getClone method, now returns Clone
  .changeset/young-experts-reply.md
  packages/sdk/src/BoostRegistry.test.ts
  packages/sdk/src/BoostRegistry.ts
Due: check

[BOOST-4777] feat(evm): implement OpenAllowList predeploy (#201)
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Due: forge

fix(evm): utilize RBAC on Incentives with clawback impls
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/shared/RBAC.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

feat(evm): implement `claimFromIncentive`
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Due: forge

fix(sdk): downstream tests from Incentive RBAC impl
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.test.ts
Due: check

chore(evm): forge fmt
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Due: forge

test(sdk): fix boostcore test
  packages/sdk/src/BoostCore.test.ts
Due: check
