Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

chore: check implementation address
  packages/evm/script/solidity/UpgradeBoostCore.s.sol
Due: forge

feat(evm): mainnet upgrades
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-1758312217.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-1758312300.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-1758312166.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-latest.json
Due: check, forge

chore: generate changeset
  .changeset/slow-rivers-peel.md
Due: none

[ADHOC] feat: add clawbackevent (#477)
  .changeset/slow-rivers-peel.md
  .github/workflows/verify.yml
  .gitmodules
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-1758312217.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/10/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-1758311573.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-1758312300.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/480/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-1758312166.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/8453/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-1758311741.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-latest.json
  packages/evm/contracts/archive/BoostCoreV1.sol
  packages/evm/foundry.toml
  packages/evm/script/solidity/UpgradeBoostCore.s.sol
  packages/evm/script/solidity/ValidateBoostCoreUpgrade.s.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Due: check, forge

test: add tests for getScalarValueFromTuple function
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

feat(EventAction): use 32bit index packing for variable criteria incentive
  packages/sdk/src/Actions/EventAction.ts
Due: check

docs: mark CriteriaFieldIndex methods as deprecated
  packages/sdk/src/Actions/EventAction.ts
Due: check

refactor: rename and deprecate getScalarValueFromTuple
  packages/sdk/src/Actions/EventAction.ts
Due: check

test: Update tests to use getScalarValue function
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

feat: add 32bit tuple support to variable incentives
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Due: check

chore: generate changeset
  .changeset/loud-spies-nail.md
Due: none

test(EventAction): add tests for error handling and return value
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

refactor: add early return if bigint found
  packages/sdk/src/Actions/EventAction.ts
Due: check

[BOOST-5819] add nested tuple support to variable incentives (#479)
  .changeset/loud-spies-nail.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Due: check

Version Packages (canary) (#478)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore(evm): archive BoostCoreV1.1
  packages/evm/contracts/archive/BoostCoreV1_1.sol
Due: forge

feat(evm): enable referral fees
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Due: forge

chore: add changeset
  .changeset/stale-nails-prove.md
Due: none

chore: increase size
  .github/workflows/on-pull-request.yml
  .github/workflows/use-cases.yml
  .github/workflows/verify.yml
Due: none

test: add protocol fee tests
  packages/evm/test/BoostCore.t.sol
Due: forge

fix: update fieldIndex type to uint32 in payloads
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Due: check

chore: generate changeset
  .changeset/odd-cobras-yawn.md
Due: none

fix(evm): add incentive id to event
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Due: forge

[ADHOC] update field index types from unit8 to uint32 (#481)
  .changeset/odd-cobras-yawn.md
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentiveV2.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentiveV2.ts
Due: check

Version Packages (canary) (#482)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore: disable format on save for solidity files (utilize lefthook)
  .vscode/settings.json
Due: check

feat(evm): add new validators to handle referrals in claim data
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/IBoostClaim.sol
  packages/evm/contracts/validators/ALimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/APayableLimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/ASignerValidatorV2.sol
  packages/evm/contracts/validators/LimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/SignerValidatorV2.sol
Due: forge

test(evm): add tests for referrals
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndSignerValidatorV2.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentiveV2.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
  packages/evm/test/validators/LimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
  packages/evm/test/validators/SignerValidatorV2.t.sol
Due: forge

chore(evm): update scripts
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

chore: reuse IBoostCore interface
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
Due: forge

fix(evm): handle underflow
  packages/evm/contracts/BoostCore.sol
Due: forge

chore(evm): address CodeRabbit suggestions
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/validators/PayableLimitedSignerValidatorV2.t.sol
Due: forge

fix(evm): accept LimitedSignerValidatorV2 and PayableLimitedValidatorV2
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/validators/ALimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/APayableLimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/ASignerValidatorV2.sol
  packages/evm/contracts/validators/LimitedSignerValidatorV2.sol
  packages/evm/contracts/validators/PayableLimitedSignerValidatorV2.sol
  packages/evm/test/e2e/EndToEndLimitedSignerValidatorV2.t.sol
Due: forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
