Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

test(ens-fork-mint): add test for ENS registration boost
  packages/sdk/test/ens-fork-mint.test.ts
Due: check

refcator: fetch logs from real ens registration transaction
  packages/sdk/test/ens-fork-mint.test.ts
Due: check

test: Remove unused import and update comment for clarity
  packages/sdk/test/ens-fork-mint.test.ts
Due: check

test: Update block number for ens-fork-mint test
  packages/sdk/test/ens-fork-mint.test.ts
Due: check

refactor(test): rename ens-fork-mint.test to ens-register.test
  packages/sdk/test/ens-register.test.ts
Due: check

feat(signatures): add DelegateChanged event signature
  packages/signatures/manifests/events.json
Due: check

test: add tests for delegate action incentive functionality
  packages/sdk/test/delegate-action.test.ts
Due: check

feat(sdk): add additional helpers into EventAction for function validation
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Due: check

fix(sdk): tweak error handling in EventAction
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Due: check

fix(sdk): split EventAction input params into two objects
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/wicked-feet-tap.md
Due: none

chore: generate changeset
  .changeset/honest-seals-invite.md
Due: none

test: add tests for swpaping on specific dex
  packages/sdk/test/swap-specific-dex.test.ts
Due: check

feat(signatures): add execute function sig
  packages/signatures/manifests/functions.json
Due: check

test: update comments on zora mint test
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

test: Add chainid to event action and payload structures
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

test(zora-fork-mint): update value to use parseEther()
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

test(zora-fork-mint): simplify action steps in tests
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

chore: start refactor
  .changeset/sixty-turtles-taste.md
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/claiming.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/transfers.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

chore: update docs, tests with new api
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/test/delegate-action.test.ts
Due: check

chore: fix tests
  packages/sdk/src/Validators/SignerValidator.test.ts
Due: check

chore: fix test helper type
  packages/sdk/test/helpers.ts
Due: check

feat(sdk): make ActionStep.actionType optional, default to 0 on encode if not provided
  .changeset/wild-rabbits-compare.md
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/test/delegate-action.test.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

chore(evm): add etherscan info to config
  packages/evm/.env.example
  packages/evm/foundry.toml
Due: none

feat(evm): skip registration if already deployed
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Due: forge

feat(evm): skip deployment if already deployed to address
  packages/evm/script/solidity/Util.s.sol
Due: forge

docs: add deployment info to docs
  README.md
Due: none

chore(evm): broadcast new deployment
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1727198739.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1727199269.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199546.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199802.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199820.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727199985.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727200143.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727200293.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201496.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201526.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201749.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201799.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201818.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201930.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201958.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727201965.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727202254.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1727202457.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/deploys/11155111.json
Due: check, forge

feat(evm): update deploy modules to include signer and allowlists
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

refactor(evm): use helper for registration check
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/Util.s.sol
Due: forge

docs: tell people it's fine to not always generate a changeset
  README.md
  dangerfile.ts
Due: check

refactor(sdk,tests): refactor testing api to support same api as non-test usage
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/Actions/ContractAction.test.ts
  packages/sdk/src/Actions/ERC721MintAction.test.ts
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/AllowLists/AllowList.test.ts
  packages/sdk/src/AllowLists/SimpleAllowList.test.ts
  packages/sdk/src/AllowLists/SimpleDenyList.test.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/test/delegate-action.test.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

chore: re-add og boostcore erc1155 incentive test
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/test/helpers.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
