Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

test(evm): add destination settler test contracts
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/contracts/validators/AIntentValidator.sol
  packages/evm/contracts/validators/IntentValidator.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/intents/DestinationSettler.t.sol
Due: forge

fix(evm): small merge regression
  packages/evm/contracts/intents/DestinationSettler.sol
Due: forge

feat(signatures): add WowToken event signatures to JSON
  packages/signatures/manifests/events.json
Due: check

chore: generate changeset
  .changeset/khaki-squids-compare.md
Due: none

[ADHOC] add wow event signatures (#346)
  .changeset/khaki-squids-compare.md
  packages/signatures/manifests/events.json
Due: check

chore(evm): deploy relevant intent artifacts
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

fix(evm): make imports consistent so wagmi builds
  packages/evm/contracts/intents/DestinationSettler.sol
  packages/evm/contracts/intents/OriginSettler.sol
  packages/evm/contracts/intents/account/ExperimentalDelegation.sol
Due: forge

fix(evm): remove unused param from IntentValidator test setup
  packages/evm/test/validators/IntentValidator.t.sol
Due: forge

test(ERC20PeggedVariableCriteriaIncentive): minor update for tests
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

feat: fix decodeClaimData for `ERC20PeggedVariableCriteriaIncentive`
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

test: add test for claiming ERC20PeggedVariableIncentive
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
Due: check

chore: add option to pass in reward and maxReward
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

chore: create second helper for decoding
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

chore: add changeset
  .changeset/wicked-humans-fix.md
Due: none

[ADHOC] Fix decodeClaimData for ERC20PeggedVariableCriteriaIncentive (#345)
  .changeset/wicked-humans-fix.md
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
Due: check

forge install: forge-std
  .gitmodules
Due: none

Version Packages (#347)
  .changeset/khaki-squids-compare.md
  .changeset/wicked-humans-fix.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Due: check

test(evm): validate eip-7702 deploy flow and permissioned delegation
  packages/evm/package.json
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/SetupIntents.s.sol
Due: check, forge

hack together a rough deploy and boost creation script
  packages/evm/contracts/validators/IntentValidator.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/evm/script/solidity/SetupIntents.s.sol
Due: forge

make it a little less painful to use other deployers
  packages/evm/contracts/intents/OriginSettler.sol
  packages/evm/script/solidity/SetupIntents.s.sol
Due: forge

feat(evm): add contract changes for tuple EventAction support
  packages/evm/contracts/actions/AEventAction.sol
  packages/sdk/src/Actions/EventAction.ts
Due: check, forge

feat(sdk): modify EventAction.ts to support tuples
  packages/sdk/src/Actions/EventAction.ts
Due: check

fix(sdk): tweak type and function flow in EventAction for tuples
  packages/sdk/src/Actions/EventAction.ts
Due: check

test(sdk): EventAction for tuples
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

chore(sdk): add some tuple related info in readme
  packages/sdk/README.md
Due: none

test(sdk): cleanup error messages
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/errors.ts
Due: check

chore(sdk): add error and fix imports
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

Create itchy-news-exercise.md
  .changeset/itchy-news-exercise.md
Due: none

feat: add incentive fees information retrieval method
  packages/sdk/src/BoostCore.ts
Due: check

test: add test for incentive fees information retrieval
  packages/sdk/src/BoostCore.test.ts
Due: check

chore: generate changeset
  .changeset/mighty-snakes-leave.md
Due: none

refactor: remove unused AssetType enum from BoostCore
  packages/sdk/src/BoostCore.ts
Due: check
