Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

test(evm): pegged incentive
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
Due: forge

feat(sdk): pegged incentive
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check

chore(evm): fix limit comment in AERC20PeggedIncentive
  packages/evm/contracts/incentives/AERC20PeggedIncentive.sol
Due: forge

chore(evm): remove LibPRNG
  packages/evm/contracts/incentives/AERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
Due: forge

feat(sdk): add ERC20PeggedIncentive to main Incentive
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/index.ts
Due: check

chore(sdk): add pegged incentive to BoostCore
  packages/sdk/src/BoostCore.ts
Due: check

feat(evm): pegged incentive deploy
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

feat(evm): pegged incentive
  packages/evm/contracts/incentives/AERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
Due: forge

feat(evm): add events to modules
  packages/evm/contracts/actions/EventAction.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/validators/SignerValidator.sol
Due: forge

chore: add changeset
  .changeset/brave-poems-wait.md
Due: none

fix: add ERC20PeggedIncentive to script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

chore: update comments
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check

chore: deploy to sepolia
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/deploys/11155111.json
Due: check, forge

fix: add peg read function
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check

[ADHOC] Minor Updates for ERC20PeggedIncentive (#308)
  .changeset/brave-poems-wait.md
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/deploys/11155111.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check, forge

Version Packages (#309)
  .changeset/brave-poems-wait.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat(evm): add fee module to core and pass value to validators
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/ERC721MintAction.sol
  packages/evm/contracts/shared/IProtocolFeeModule.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/contracts/validators/LimitedSignerValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
Due: forge

fix(evm): fix the protocol fee save points in core
  packages/evm/contracts/BoostCore.sol
Due: forge

refactor(evm): create boost payload struct moved to lib
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/contracts/shared/IProtocolFeeModule.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

test(evm): test protocol module in core
  packages/evm/test/BoostCore.t.sol
Due: forge

test(evm): ad bad protocol module tests
  packages/evm/test/BoostCore.t.sol
Due: forge

test(evm): add protocol module mocks
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/shared/Mocks.t.sol
Due: forge

test(evm): add bad module mocks for protocol fee
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/BoostCore.t.sol
Due: forge

fix(signatures): correct Transfer event signature format
  packages/signatures/manifests/events.json
Due: check

chore: generate changeset
  .changeset/wicked-pens-cover.md
Due: none

fix: build claim data
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check

chore: add changeset
  .changeset/slow-apricots-heal.md
Due: none
