Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

feat(evm): remove manager from incentive initpayloads
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

fix(zora): decrease incentive limit after taking protocol fee up front
  examples/zora-mint/src/zora-mint.test.ts
Due: check

chore(sdk): change interface comments
  packages/sdk/src/Incentives/Incentive.ts
Due: check

test(sdk): update SDK amounts to account for protocol fees
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  test/src/helpers.ts
Due: check

feat(evm): remove manager from RBAC perms
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Due: forge

feat(evm): fix core handling of non-token incentives
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): remove hoaxes to pass tests
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

feat: remove all referral fee references
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
Due: check, forge

fix(evm): transfer to claim target not protocol fee receiver
  .vscode/settings.json
  packages/evm/contracts/BoostCore.sol
Due: check, forge

feat(evm): add protocol fee settlement
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): change initial perms on incentive
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Due: forge

feat(evm): add incentive information in the _makeIncentives call
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): add auth to clawback in BoostCore
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): update incentive clawback tests
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Due: forge

fix(evm): cleanup clawback interfaces and returns
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/shared/IClaw.sol
Due: forge

fix(evm): change the clawback code call in core
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): fix fee handling in tests
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

feat(evm): add fee balance tracking to BoostCore
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/shared/BoostError.sol
Due: forge

feat(evm): pay out protocol fees on claim
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): clawback with 0 amount
  packages/evm/test/BoostCore.t.sol
Due: forge

ci(evm,viaIR): add param for successful evm build
  packages/evm/package.json
Due: check

test(evm): add fuzz tests for clawbacks
  packages/evm/test/BoostCore.t.sol
Due: forge

feat(evm): switch clawbackFromTarget in ABudget
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/shared/IClaw.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
Due: forge

feat(evm): remove unused fee state
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): add clawback to BoostCore
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): add protocol fee handling in make incentives calls
  packages/evm/contracts/BoostCore.sol
Due: forge

chore(evm): rename incentive to newIncentive to avoid shadowing
  packages/evm/contracts/BoostCore.sol
Due: forge

fix(evm): rm via-ir
  packages/evm/package.json
Due: check

chore(evm): rename currentReward to currentRewardAmount
  packages/evm/contracts/incentives/CGDAIncentive.sol
Due: forge

chore(evm): lint fix
  packages/evm/contracts/BoostCore.sol
Due: forge

chore(evm): remove unused code
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Due: forge

feat(sdk,BoostRegistry): add initializeRaw method
  .changeset/swift-ties-guess.md
  packages/sdk/src/BoostRegistry.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
