Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

Version Packages (#505)
  .changeset/eighty-ears-approve.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

test: add tests for grouped action step validation
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

feat(EventAction): add event-based action step grouping logic
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/three-swans-prove.md
Due: none

chore: activate canary mode
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/sdk/CHANGELOG.md
Due: check

[ADHOC] actionstep grouping (#506)
  .changeset/pre.json
  .changeset/three-swans-prove.md
  packages/cli/CHANGELOG.md
  packages/sdk/CHANGELOG.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: remove changeset reference from pre.json
  .changeset/pre.json
Due: check

[ADHOC] canary release (#507)
  .changeset/pre.json
Due: check

chore: clean up CHANGELOG entries for cli and sdk
  packages/cli/CHANGELOG.md
  packages/sdk/CHANGELOG.md
Due: none

Version Packages (canary) (#508)
  .changeset/pre.json
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

test(EventAction): update referenceId type to string
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

refactor(EventAction): simplify log argument decoding logic
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/rude-owls-divide.md
Due: none

refactor(EventAction): simplify input name assignment logic
  packages/sdk/src/Actions/EventAction.ts
Due: check

[ADHOC] fix viem log order bug (#509)
  .changeset/rude-owls-divide.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

[ADHOC] chore: version packages (canary) (#510)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

test: add comprehensive test suite for StreamingManager
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

feat: add StreamingManager factory for campaign creation and orchestration
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

feat: add StreamingCampaign contract for campaign reward management
  packages/evm/contracts/streaming/StreamingCampaign.sol
Due: forge

test: update insufficient funds error expectation with fee calculation
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

test: add test for campaign creation with 100% protocol fee
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

refactor: rename StreamingCampaign Initialized event to CampaignInitialized
  packages/evm/contracts/streaming/StreamingCampaign.sol
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

feat: add setProtocolFee and setProtocolFeeReceiver methods
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

test: add setProtocolFee and setProtocolFeeReceiver test cases
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

feat: add protocol fee management events to StreamingManager
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

fix: apply CEI pattern in createCampaign for reentrancy safety
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

chore: format
  packages/evm/contracts/streaming/StreamingCampaign.sol
  packages/evm/contracts/streaming/StreamingManager.sol
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

test(StreamingManager): add test for disburse failure in createCampaign
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

feat(StreamingCampaign): add access control to initialize function
  packages/evm/contracts/streaming/StreamingCampaign.sol
Due: forge

test(StreamingCampaign): add test for unauthorized initialize call
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

refactor(streaming): convert constructor to initializer pattern
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

feat(streaming): add campaign implementation setter and upgrade authorization
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

test(streaming): update tests for initializer pattern
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

feat(streaming): add UUPS upgradeable pattern to StreamingManager
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

test(streaming): update initialization tests and add upgrade tests
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

[BOOST-6102] Streaming Incentives Campaign Creation & Configuration (#511)
  packages/evm/contracts/streaming/StreamingCampaign.sol
  packages/evm/contracts/streaming/StreamingManager.sol
  packages/evm/test/streaming/StreamingManager.t.sol
Due: forge

feat(StreamingManager): implement operator management and root updates
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

feat(StreamingManager): add operator field for merkle root publishing
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

feat(StreamingManager): add authorization and campaign validation errors
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

feat(StreamingManager): add operator and root update events
  packages/evm/contracts/streaming/StreamingManager.sol
Due: forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
