Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

test: update incentive data with buildClaimData method
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
Due: check

chore: generate changeset
  .changeset/lazy-guests-tickle.md
Due: none

ci: tryfix release
  .changeset/config.json
  .changeset/pre.json
  .changeset/witty-jokes-accept.md
  examples/agora-vote/package.json
  examples/delegate-action/package.json
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
Due: check

ci: tryfix release v2
  .changeset/config.json
Due: check

ci: tryfix release v3
  examples/agora-vote/CHANGELOG.md
  examples/delegate-action/CHANGELOG.md
  examples/ens-register/CHANGELOG.md
  examples/swap-specific-dex/CHANGELOG.md
  examples/zora-mint/package.json
Due: check

style: update return type in JSDoc comments
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Due: check

feat: add buildClaimData method to ERC20VariableCriteriaIncentive
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

test: remove unneeded await
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
Due: check

[BOOST-4831] feat: add anyActionParam (#209)
  .changeset/fluffy-dolphins-dress.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

refactor(RBAC): rename grant and revoke roles functions
  packages/evm/contracts/shared/RBAC.sol
Due: forge

[ADHOC] add buildClaimData method to Incentives (#210)
  .changeset/lazy-guests-tickle.md
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Due: check

Version Packages (alpha) (#211)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Due: check

refactor(test): rename grantRoles to grantManyRoles
  packages/evm/test/budgets/ManagedBudget.t.sol
Due: forge

test: rename grantRoles to grantManyRoles in tests
  packages/evm/test/shared/RBAC.t.sol
Due: forge

feat(DeployableTargetWithRBAC): rename role grant/revoke methods
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

test: Update ManagedBudget test to use Roles module
  packages/sdk/src/Budgets/ManagedBudget.test.ts
Due: check

test: update AllowListIncentive test roles management
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
Due: check

test(incentives): update role granting in AllowList test
  packages/evm/test/incentives/AllowListIncentive.t.sol
Due: forge

test: update comments to reflect manyRoles
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

refactor(Budgets): remove unused imports in ManagedBudget.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
Due: check

feat(DeployableTargetWithRBAC): add grant and revoke roles methods
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

refactor: update role type from bigint to Roles
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

test: add tests for role granting and revoking functionality
  packages/sdk/src/Budgets/ManagedBudget.test.ts
Due: check

chore: generate changeset
  .changeset/poor-feet-destroy.md
Due: none

docs: Update example to use correct Roles reference
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

style: Fix formatting in example documentation comments
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

chore(sdk): better support for linking
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
  packages/sdk/.env.sample
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
  test/src/helpers.ts
  test/src/viem.ts
  turbo.json
Due: check

docs: Update example to use bitwise OR operator
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

test: add RBAC tests for role management functions
  packages/sdk/src/Deployable/RBAC.test.ts
Due: check

test(RBAC): add role checks to RBAC tests
  packages/sdk/src/Deployable/RBAC.test.ts
Due: check

test: Remove unused import in RBAC test file
  packages/sdk/src/Deployable/RBAC.test.ts
Due: check

test(RBAC): fix role check in RBAC test case
  packages/sdk/src/Deployable/RBAC.test.ts
Due: check

test: rename RBAC.test.ts to DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
Due: check

feat: add manager back to erc20 incentive for raffle
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/sdk/src/Incentives/ERC20Incentive.ts
Due: check, forge

feat(sdk): make allowlist optional, default to openallowlist
  packages/cli/src/commands/deploy.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
  test/src/viem.ts
Due: check

[BOOST-4821] add `grantManyRoles` and `revokeManyRoles` methods to RBAC (#212)
  .changeset/poor-feet-destroy.md
  packages/evm/contracts/shared/RBAC.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/incentives/AllowListIncentive.t.sol
  packages/evm/test/shared/RBAC.t.sol
  packages/sdk/src/Budgets/ManagedBudget.test.ts
  packages/sdk/src/Budgets/ManagedBudget.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
Due: check, forge

chore: sync
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
Due: check

chore: set up viet builds for signatures package
  packages/signatures/package.json
  packages/signatures/src/build.ts
  packages/signatures/src/index.ts
  packages/signatures/tsconfig.json
  packages/signatures/vite.config.ts
Due: check

chore: fix up
  packages/sdk/.env.sample
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/vitest.config.ts
Due: check
