Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

fix(gha): remove build dep on nonexistent task
  .github/workflows/verify.yml
Due: none

chore(gha): workflow fixes to get jobs running
  .github/actions/install-dependencies/action.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/verify.yml
  .vscode/extensions.json
  README.md
Due: check

chore(gha): fix fetch depth on changeset action
  .github/workflows/on-push-to-main.yml
Due: none

chore(gha): fix cache path specifier
  .github/actions/install-dependencies/action.yml
Due: none

chore(gha): install pnpm before node setup
  .github/actions/install-dependencies/action.yml
Due: none

chore(gha): specify pnpm version
  .github/actions/install-dependencies/action.yml
Due: none

chore(gha): set test var, update readme for solidity dev
  .github/workflows/verify.yml
  README.md
Due: none

chore(gha): get the env var plz
  .github/workflows/verify.yml
Due: none

chore(gha): try setting test secret in .env
  .github/workflows/verify.yml
Due: none

chore(gha): remove test matrix, just run normal
  .github/workflows/verify.yml
  turbo.json
Due: check

docs(README): update test badge
  README.md
Due: none

fix(build): use chai v4, v5 doesnt like modules
  packages/evm/package.json
  pnpm-lock.yaml
Due: check

test(evm): update latest user stories
  packages/evm/test/utils/helpers.ts
Due: check, forge

fix: start sdk logic
  ccashwell.dart
  packages/evm/artifacts/index.ts
  packages/evm/package.json
  packages/evm/test/user-stories/boosts/create.ts
  packages/evm/test/user-stories/budgets/basics.ts
  packages/evm/test/utils/helpers.ts
  packages/evm/vite.config.js
  packages/sdk/package.json
  packages/sdk/src/Budgets/index.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.ts
  packages/sdk/vite.config.js
  pnpm-lock.yaml
  tsconfig.json
Due: check, forge

test(evm): update latest user stories
  packages/evm/test/user-stories/boosts/create.ts
  packages/evm/test/user-stories/budgets/basics.ts
  packages/evm/test/utils/helpers.ts
Due: check, forge

chore: iterate budgets, enforce type imports
  .gitignore
  biome.json
  packages/sdk/.env.sample
  packages/sdk/src/Budgets/Budgets.ts
  packages/sdk/src/Budgets/index.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/artifact.ts
  packages/sdk/src/index.ts
  packages/sdk/tsconfig.json
  packages/sdk/vite-env.d.ts
Due: check

chore(sdk): stabilize deployable api, improve vite build config for max tree shakeage
  packages/evm/artifacts/index.ts
  packages/sdk/package.json
  packages/sdk/src/Budgets/Budgets.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Budgets/index.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/artifact.ts
  packages/sdk/src/errors.ts
  packages/sdk/vite.config.js
  pnpm-lock.yaml
Due: check, forge

chore(sdk): add .at(address) static api to deployable
  packages/sdk/src/Deployable/Deployable.ts
Due: check

chore(sdk): flesh out boost payload dependencies
  packages/evm/artifacts/index.ts
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/index.ts
  tsconfig.json
Due: check, forge

chore(sdk): createBoost generator functionality
  packages/sdk/package.json
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Deployable/Deployable.ts
Due: check

chore: allowlist contract method examples
  packages/evm/artifacts/generated.ts
  packages/evm/wagmi.config.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/errors.ts
Due: check, forge

chore: various api design approaches
  packages/evm/artifacts/generated.ts
  packages/evm/artifacts/index.ts
  packages/evm/test/user-stories/boosts/create.ts
  packages/evm/test/utils/helpers.ts
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.test.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostClient.test.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.ts
  packages/sdk/tsconfig.json
Due: check, forge

chore: stabilize api
  packages/evm/artifacts/index.ts
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.test.ts
  packages/sdk/src/BoostClient.test.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/utils.ts
  packages/sdk/vite.config.js
Due: check, forge

chore: use data structures for budget transfers
  packages/evm/artifacts/index.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
Due: check, forge

chore: make payload names friendlier
  packages/evm/artifacts/index.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/BoostClient.test.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
Due: check, forge

chore: good sdk test progress
  .gitignore
  package.json
  packages/evm/package.json
  packages/evm/test/user-stories/budgets/basics.ts
  packages/sdk/hardhat.config.cjs
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostClient.test.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/test.ts
  packages/sdk/test/accounts.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/setup.hardhat.ts
  packages/sdk/test/viem.ts
  packages/sdk/vitest.config.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: check, forge

chore: get contract deployments working
  packages/sdk/test/helpers.ts
  packages/sdk/test/setup.hardhat.ts
  packages/sdk/test/viem.ts
Due: check

chore: add account to configuration to make some contract ops easier
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
Due: check

chore: stabilize create, boost core tests
  package.json
  packages/evm/package.json
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostClient.test.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/index.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/viem.ts
Due: check

feat(boost core): add BoostCreated event
  packages/evm/contracts/BoostCore.sol
Due: forge

chore: lint
  packages/evm/contracts/BoostCore.sol
Due: forge

chore: createBoost and retrieve payload in tests
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/test/viem.ts
Due: check

chore: try to genericize result retrieval from write calls
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/viem.ts
Due: check

feat: expose raw/awaited api for all write methods
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/index.ts
Due: check

chore(evm): add interfaceName tests
  packages/evm/contracts/actions/ERC721MintAction.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/test/actions/ContractAction.t.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/allowlists/SimpleAllowList.t.sol
  packages/evm/test/allowlists/SimpleDenyList.t.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
  packages/evm/test/budgets/VestingBudget.t.sol
  packages/evm/test/incentives/AllowListIncentive.t.sol
  packages/evm/test/incentives/CGDAIncentive.t.sol
  packages/evm/test/incentives/ERC1155Incentive.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/PointsIncentive.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

feat(Budget): add extra interface for SimpleBudget
  packages/evm/contracts/budgets/ASimpleBudget.sol
  packages/evm/contracts/budgets/SimpleBudget.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

refactor(budget): change supportsInterface call
  packages/evm/contracts/budgets/ASimpleBudget.sol
Due: forge
