Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

[ADHOC] World Chain (#467)
  .changeset/warm-fishes-agree.md
  packages/evm/broadcast/Deploy.s.sol/480/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-latest.json
  packages/evm/deploys/480.json
Due: check, forge

Version Packages (#468)
  .changeset/warm-fishes-agree.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

test: add tests for claimant tuple field support
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

feat: add tuple support for claimant parameter
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: generate changeset
  .changeset/hungry-shirts-scream.md
Due: none

chore: update comment
  packages/sdk/src/Actions/EventAction.ts
Due: check

[BOOST-5790] add tuple support for claimant in sdk (#469)
  .changeset/hungry-shirts-scream.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

Version Packages (#470)
  .changeset/hungry-shirts-scream.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore: updates dependencies
  packages/evm/foundry.toml
Due: none

chore: install OZ foundry upgrades
  .gitmodules
Due: none

chore: remove unused dependencies
  .gitmodules
  packages/evm/foundry.toml
Due: none

feat(evm): UUPS upgradeable BoostCore
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/BoostRegistry.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

chore(evm): clean up declaration shadows
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
Due: forge

feat(evm): add upgradeability to deploy script
  packages/evm/script/solidity/Deploy.s.sol
Due: forge

test(evm): utilize OZ Upgrades contract
  .gitmodules
  packages/evm/foundry.toml
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

chore(evm): update script to use OZ Upgrades contract
  packages/evm/script/solidity/Deploy.s.sol
Due: forge

chore(evm): remove unnecessary Initializable import
  packages/evm/contracts/BoostCore.sol
Due: forge

chore(evm): exclude OZ Initializable from wagmi generate
  packages/evm/wagmi.config.ts
Due: check

chore(evm): add forge clean to test commands
  packages/evm/package.json
Due: check

fix(sdk): enable tests to utilize UUPS proxy
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  test/src/helpers.ts
Due: check

fix(cli): update the BoostCore deployment
  packages/cli/src/commands/deploy.ts
Due: check

chore: add clean command
  packages/evm/package.json
Due: check

chore: explicitly build evm package
  .github/workflows/verify.yml
Due: none

fix(evm): replace OZ upgrade with solady
  packages/evm/contracts/BoostCore.sol
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

chore: remove unused dependency
  .gitmodules
Due: none

chore: restore commands
  packages/evm/package.json
Due: check

chore: remove evm build
  .github/workflows/verify.yml
Due: none

chore: add fixture
  packages/sdk/src/BoostCore.test.ts
Due: check

refactor: replace Upgrades with ERC1967Proxy in tests
  packages/evm/foundry.lock
  packages/evm/package.json
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  pnpm-lock.yaml
Due: check, forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
