Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

chore(sdk): release
  .changeset/hungry-beds-peel.md
Due: none

chore(sdk): remove .only
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

chore(signatures): add Purchased from Zora
  packages/signatures/manifests/events.json
Due: check

fix(sdk): fix bug with fork behavior using mine()
  package.json
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
  pnpm-lock.yaml
Due: check

test(boostRegistry): add ManagedBudget clone test
  packages/evm/test/BoostRegistry.t.sol
Due: forge

test(boostRegistry): update clone deployment logic
  packages/evm/test/BoostRegistry.t.sol
Due: forge

chore(sdk): use generated component interfaces for constructing from address
  packages/evm/package.json
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Validators/Validator.ts
Due: check

ci: changeset
  .changeset/large-ladybugs-tan.md
Due: none

chore(sdk): test action interface instantiation
  .nvmrc
  packages/sdk/src/Actions/Action.test.ts
Due: check

chore(sdk): add component interface tests
  packages/sdk/src/Actions/Action.test.ts
  packages/sdk/src/AllowLists/AllowList.test.ts
  packages/sdk/src/Budgets/Budget.test.ts
  packages/sdk/src/Incentives/Incentive.test.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Validators/Validator.test.ts
  packages/sdk/src/utils.ts
  turbo.json
Due: check

ci(sdk): tweak release, caching
  .github/workflows/on-push-to-main.yml
  packages/sdk/package.json
Due: check

ci(changesets): access public
  .changeset/config.json
Due: check

ci(sdk): tryforce npm publication
  .changeset/pretty-carrots-wink.md
  .github/workflows/on-push-to-main.yml
Due: none

test(sdk): create boost working in fork tests
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

docs: add feature request issue template
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: install dotenv
  package.json
  pnpm-lock.yaml
Due: check

test(sdk): zora fork test to use dotenv and reset
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

ci: add labeler, danger
  .github/labeler.yml
  .github/workflows/danger.yaml
  .github/workflows/labeler.yml
  dangerfile.ts
  package.json
  pnpm-lock.yaml
Due: check

chore: pull request template
  .github/pull_request_template.md
Due: none

fix(sdk): build, publish sourcemaps
  .changeset/empty-feet-cheat.md
  packages/sdk/package.json
  packages/sdk/vite.config.js
Due: check

test(sdk): add viability tests for zora NFT collection
  packages/sdk/src/BoostCore.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

chore(evm): shadow hardhat in the evm repo
  packages/evm/hardhat_build.config.cjs
  packages/evm/package.json
  packages/evm/wagmi.config.ts
  pnpm-lock.yaml
Due: check

refactor(sdk): cleanup zora viability test
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

fix(sdk,EventAction): fix env passthrough for base address
  .changeset/popular-books-destroy.md
  packages/sdk/src/Actions/EventAction.ts
  turbo.json
Due: check

refactor(sdk): tweak sdk to use vitest native env helpers
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
  packages/sdk/vitest.config.ts
Due: check

test(sdk): use skipIf to skip test if key isn't defined
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

chore(sdk): address @sammccord nits
  packages/sdk/hardhat.config.cjs
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

changes
  packages/sdk/package.json
  packages/sdk/test/delegate-action.test.ts
Due: check

test(sdk): initial fork test for zora mint; missing params
  packages/sdk/.env.sample
  packages/sdk/test/zora-fork-mint.test.ts
Due: check

test(sdk): add viability tests for zora NFT collection
  packages/sdk/src/BoostCore.ts
  packages/sdk/test/zora-fork-mint.test.ts
Due: check
