Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

fix(zora-mint); hh block config
  examples/zora-mint/hardhat.config.cjs
Due: check

Version Packages (alpha) (#260)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

ci(examples): keep hardhat process alive, kill afterwards
  .github/workflows/use-cases.yml
  examples/agora-vote/src/agora-vote.test.ts
  examples/agora-vote/vitest.config.ts
  examples/delegate-action/vitest.config.ts
  examples/ens-register/vitest.config.ts
  examples/swap-specific-dex/vitest.config.ts
  examples/zora-mint/vitest.config.ts
  test/src/setup.hardhat.ts
  turbo.json
Due: check

ci: each example manage their own hardhat process
  .github/workflows/use-cases.yml
  examples/agora-vote/package.json
  examples/delegate-action/package.json
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
  examples/zora-mint/package.json
  test/src/setup.hardhat.ts
Due: check

fix(examples): reduce cost of ens-register boost
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
Due: check

ci: try to tweak substution syntax
  examples/agora-vote/package.json
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/package.json
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
  examples/zora-mint/package.json
  examples/zora-mint/src/zora-mint.test.ts
Due: check

ci: old pipestatus syntax
  examples/agora-vote/package.json
  examples/agora-vote/vitest.config.ts
  examples/delegate-action/package.json
  examples/delegate-action/vitest.config.ts
  examples/ens-register/package.json
  examples/ens-register/vitest.config.ts
  examples/swap-specific-dex/package.json
  examples/swap-specific-dex/vitest.config.ts
  examples/zora-mint/package.json
  examples/zora-mint/vitest.config.ts
Due: check

ci: leave vitest to handle hardhat process
  .github/workflows/use-cases.yml
  examples/agora-vote/vitest.config.ts
  examples/delegate-action/vitest.config.ts
  examples/ens-register/vitest.config.ts
  examples/swap-specific-dex/vitest.config.ts
  examples/zora-mint/vitest.config.ts
Due: check

ci: let vitest handle hardhat process
  .github/workflows/use-cases.yml
  examples/agora-vote/package.json
  examples/delegate-action/package.json
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
  examples/zora-mint/package.json
  test/src/setup.hardhat.ts
Due: check

ci: try toString on buffer
  test/src/setup.hardhat.ts
Due: check

ci: cleanup listeners in hardhat spawner
  test/src/setup.hardhat.ts
Due: check

feat(BoostCore): cast number incentiveId to bigint
  examples/delegate-action/src/delegate-action.test.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.ts
  test/src/setup.hardhat.ts
Due: check

fix(evm): update claims on claim
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Due: forge

fix(evm): RBAC perms for variable criteria incentives
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
Due: forge

refactor(evm): rename incentives mapping to incentivesFeeInfo
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(cli): implement seed with an incentive deployed and funded
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/utils.ts
  test/src/helpers.ts
Due: check

feat(cli): rough seed implementation
  .gitignore
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/cli/vite.config.ts
  pnpm-lock.yaml
  test/src/MockERC1155.ts
  test/src/helpers.ts
  test/tsconfig.json
Due: check

chore: refactor
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/cli/src/help.ts
  packages/cli/src/index.ts
  packages/cli/src/utils.ts
  packages/cli/vite.config.js
  packages/cli/vite.config.ts
  pnpm-lock.yaml
Due: check

feat(cli,seed): mint erc20s dynamically for incentives
  packages/cli/src/commands/create-seed.ts
Due: check

feat(cli): implement file i/o for seed configs
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/utils.ts
Due: check

feat(cli): integrate and polish seed command with cleaner CLI
  packages/cli/src/cli.ts
  packages/cli/src/commands/create-seed.ts
  packages/cli/src/commands/seed.ts
  packages/cli/src/utils.ts
  packages/cli/vite.config.ts
Due: check

fix(cli): wait for evm to build before cli attempts to build
  turbo.json
Due: check

chore: add deploy info to readme
  packages/evm/README.md
Due: none

Create slow-vans-compete.md
  .changeset/slow-vans-compete.md
Due: none

chore: force SDK release for the recent deployment
  .changeset/popular-months-fail.md
Due: none

[ADHOC] chore: force SDK release for the recent deployment (#267)
  .changeset/popular-months-fail.md
Due: none

Version Packages (alpha) (#268)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

Apply suggestions from code review
  packages/cli/package.json
  packages/cli/src/help.ts
Due: check

fix(cli): review comments
  packages/cli/package.json
  packages/cli/src/commands/seed.ts
  packages/cli/src/utils.ts
  pnpm-lock.yaml
  test/src/helpers.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
