Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

style: Clean up whitespace in test files
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
Due: forge

test: add setup for LimitedSignerValidator tests
  packages/sdk/src/BoostCore.test.ts
Due: check

test: update tests for ERC20 incentives and fixtures
  packages/sdk/src/BoostCore.test.ts
Due: check

ci: add VITE_BOOST_CORE_ADDRESS to verify workflow
  .github/workflows/verify.yml
Due: none

ci: add VITE_BOOST_CORE_ADDRESS to workflow env vars
  .github/workflows/verify.yml
Due: none

ci: update verify.yml to create SDK envfile
  .github/workflows/verify.yml
Due: none

chore: add fixtures and budget
  packages/sdk/src/BoostCore.test.ts
Due: check

chore: remove OZ contracts upgradeable
  .gitmodules
  packages/evm/foundry.toml
  packages/evm/wagmi.config.ts
Due: check

chore: remove unused import
  packages/sdk/src/utils.ts
Due: check

chore: install OZ library
  .gitmodules
  packages/evm/foundry.toml
Due: none

chore(evm): change uint8 to uint32
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
Due: forge

chore: remove etherscan keys
  packages/evm/foundry.toml
Due: none

feat(evm): deterministic proxy address
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCoreUUPS.t.sol
Due: forge

chore: sepolia init deployment
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757534344.json
  packages/evm/deploys/11155111.json
Due: check, forge

fix(evm): add broadcasts
  packages/evm/script/solidity/Deploy.s.sol
Due: forge

feat(evm): sepolia deployment
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757537639.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1757539018.json
  packages/evm/deploys/11155111.json
Due: check, forge

feat(evm): base sepolia deployment
  packages/evm/broadcast/Deploy.s.sol/84532/run-1757539679.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1757540083.json
  packages/evm/deploys/84532.json
Due: check, forge

chore: add changeset
  .changeset/modern-moose-cough.md
  .changeset/pre.json
Due: check

fix(evm): add storage gaps
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): sepolia deployment (with gaps)
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757622524.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1757622825.json
  packages/evm/deploys/11155111.json
Due: check, forge

feat(evm): base sepolia deployment (with gaps)
  packages/evm/broadcast/Deploy.s.sol/84532/run-1757623106.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1757623224.json
  packages/evm/deploys/84532.json
Due: check, forge

[ADHOC] Upgradeable Boost Core (#472)
  .changeset/modern-moose-cough.md
  .changeset/pre.json
  .github/workflows/verify.yml
  .gitmodules
  packages/cli/src/commands/deploy.ts
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757534344.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757537639.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1757622524.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1757539679.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1757623106.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1757539018.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1757622825.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1757540083.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1757623224.json
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/BoostRegistry.sol
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentiveV2.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentiveV2.sol
  packages/evm/deploys/11155111.json
  packages/evm/deploys/84532.json
  packages/evm/foundry.toml
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostCoreUUPS.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
  packages/evm/test/budgets/ManagedBudgetWithFeesV2.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
  packages/evm/test/e2e/EndToEndBasic.t.sol
  packages/evm/test/e2e/EndToEndSignerValidator.t.sol
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/utils.ts
  test/src/helpers.ts
Due: check, forge

Version Packages (canary) (#474)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore: remove worldchain sepolia + arbitrum deploys
  packages/evm/deploys/42161.json
  packages/evm/deploys/4801.json
Due: check, forge

feat(evm): base deployment
  packages/evm/broadcast/Deploy.s.sol/8453/run-1758052264.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1758052971.json
  packages/evm/deploys/8453.json
Due: check, forge

feat(evm): optimism deployment
  packages/evm/broadcast/Deploy.s.sol/10/run-1758054559.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1758054918.json
  packages/evm/deploys/10.json
Due: check, forge

feat(evm): worldchain deployment
  packages/evm/broadcast/Deploy.s.sol/480/run-1758055505.json
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-1758055901.json
  packages/evm/deploys/480.json
Due: check, forge

chore: add changeset
  .changeset/spotty-doors-own.md
Due: none

[ADHOC] Mainnet Deployments (#475)
  .changeset/spotty-doors-own.md
  packages/evm/broadcast/Deploy.s.sol/10/run-1758054559.json
  packages/evm/broadcast/Deploy.s.sol/480/run-1758055505.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1758052264.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1758054918.json
  packages/evm/broadcast/Deploy_Modules.s.sol/480/run-1758055901.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1758052971.json
  packages/evm/deploys/10.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/480.json
  packages/evm/deploys/4801.json
  packages/evm/deploys/8453.json
Due: check, forge

Version Packages (canary) (#476)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat: add clawback event and update version to 1.1.0
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Due: forge

feat: add scripts for BoostCore upgrade and validation
  packages/evm/foundry.toml
  packages/evm/script/solidity/UpgradeBoostCore.s.sol
  packages/evm/script/solidity/ValidateBoostCoreUpgrade.s.sol
Due: forge

feat(BoostCore): add initial implementation of BoostCore contract
  packages/evm/contracts/archive/BoostCoreV1.sol
Due: forge

ci: add validation for BoostCore upgrade safety check
  .github/workflows/verify.yml
Due: none

feat: add openzeppelin-foundry-upgrades submodule
  .gitmodules
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/archive/BoostCoreV1.sol
Due: forge

refactor(test): update BoostCore import for testing V2
  packages/evm/test/BoostCoreUUPS.t.sol
Due: forge

refactor: remove redundant console logs from upgrade script
  packages/evm/script/solidity/ValidateBoostCoreUpgrade.s.sol
Due: forge

refactor: replace OZ Upgrades with solady
  packages/evm/script/solidity/UpgradeBoostCore.s.sol
Due: forge

feat(evm): testnet upgrades
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-1758311573.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/11155111/run-latest.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-1758311741.json
  packages/evm/broadcast/UpgradeBoostCore.s.sol/84532/run-latest.json
Due: check, forge
