Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

fix(sdk): type EventActionArtifact
  packages/cli/src/commands/deploy.ts
Due: check

chore: minor tweaks
  README.md
  packages/sdk/test/helpers.ts
Due: check

chore: add event action to sample .env
  packages/sdk/.env.sample
Due: none

feat(sdk): basic fully typed subscribe, almost all getLogs
  packages/sdk/package.json
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/utils.ts
  packages/sdk/vite-env.d.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
  pnpm-lock.yaml
Due: check

feat(sdk): implement getLogs/subscribe api for all contracts
  packages/sdk/events.config.js
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/utils.ts
  packages/sdk/vite-env.d.ts
  packages/sdk/vite.config.js
  pnpm-lock.yaml
Due: check

refactor(sdk): replace build time event vars with runtime getAbiItem
  packages/sdk/events.config.js
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/vite-env.d.ts
  packages/sdk/vite.config.js
Due: check

chore(sdk): cleanup, rename generic event to log
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/vite-env.d.ts
Due: check

refactor(sdk): genericize event handling
  packages/sdk/src/Deployable/Contract.ts
Due: check

ci: fix frozen lockfile error
  pnpm-lock.yaml
Due: none

refactor(sdk): make subscribe, getLogs generic
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/MockERC20.ts
  packages/sdk/test/MockERC721.ts
  packages/sdk/test/helpers.ts
Due: check

chore: hoist subscribe, getLogs
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/test/MockERC1155.ts
  packages/sdk/test/MockERC20.ts
  packages/sdk/test/MockERC721.ts
Due: check

ci(sdk): remove .only
  packages/sdk/src/BoostCore.test.ts
Due: check

chore: org imports, rebase, remove old getLogs, subscribe comments
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
Due: check

ci: fix build
  packages/sdk/src/Actions/EventAction.ts
Due: check

s/Validator/AValidator/g
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/actions/Action.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/e2e/EndToEnd.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
  packages/sdk/src/Validators/Validator.ts
Due: check, forge

fix(evm): make SignerValidator utilize EIP712
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/shared/IBoostClaim.sol
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

feat(sdk): initial pass on event action validation
  packages/sdk/package.json
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.test.ts
  packages/sdk/vite.config.js
  packages/signatures/build.js
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
  packages/signatures/package.json
  pnpm-lock.yaml
  turbo.json
Due: check

ci(sdk): fix build
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/utils.test.ts
  packages/sdk/vite.config.js
Due: check

chore(sdk): expand validateActionEvents parameters to encapsulate getLogsParams
  packages/sdk/src/Actions/EventAction.ts
Due: check

feat(sdk): PassthroughAuth integration
  packages/sdk/package.json
  packages/sdk/src/Auth/Auth.ts
  packages/sdk/src/Auth/PassthroughAuth.test.ts
  packages/sdk/src/Auth/PassthroughAuth.ts
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/index.ts
Due: check

feat(evm): integrate points and pointsincentive auth schemes
  packages/evm/contracts/incentives/APointsIncentive.sol
  packages/evm/test/incentives/PointsIncentive.t.sol
Due: forge

chore: formatting
  packages/evm/contracts/incentives/APointsIncentive.sol
Due: forge

chore: remove .only
  packages/sdk/src/BoostCore.test.ts
Due: check

chore(evm): use OwnableRoles instead of Points
  packages/evm/contracts/incentives/APointsIncentive.sol
Due: forge

chore(signatures): demonstrate comments in manifests
  packages/signatures/manifests/events.json
  packages/signatures/manifests/functions.json
Due: check

chore(sdk): skip pointsincentive test for time being
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Due: check

feat(evm): add PassthroughAuth/IAuth
  packages/evm/contracts/auth/IAuth.sol
  packages/evm/contracts/auth/PassthroughAuth.sol
Due: forge

feat(evm): change createBoost auth to be optional
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): test IAuth and Boostcore passthrough auth
  packages/evm/contracts/auth/IAuth.sol
  packages/evm/contracts/auth/PassthroughAuth.sol
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/shared/Mocks.t.sol
Due: forge

fix(contracts): rename ActionEventValidator
  packages/evm/contracts/validators/ActionEventValidator.sol
  packages/evm/test/validators/ActionEventValidator.sol
Due: forge

test(validators): event based signer validator
  packages/evm/test/validators/EventSignerValidator.t.sol
Due: forge

chore: lint
  packages/evm/contracts/validators/ActionEventValidator.sol
  packages/evm/test/validators/ActionEventValidator.sol
Due: forge

feat(validators): add event based signer validator
  packages/evm/contracts/validators/EventSignerValidator.sol
Due: forge

test(evm): event action
  packages/evm/test/actions/EventAction.t.sol
  packages/evm/test/validators/ActionEventValidator.sol
Due: forge

feat(evm): delete event validator
  packages/evm/contracts/validators/AActionEventValidator.sol
  packages/evm/contracts/validators/ActionEventValidator.sol
Due: forge

feat(evm): add event action
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/contracts/actions/EventAction.sol
Due: forge

feat(evm): add address target to event action
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/test/actions/EventAction.t.sol
Due: forge

fix(evm): typo in actionParatmer vs actionParameters
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/test/actions/EventAction.t.sol
Due: forge

refactor(evm): update action event validator to include component interfaces
  packages/evm/contracts/validators/AActionEventValidator.sol
Due: forge

refactor(evm): update action event validator to include component interfaces
  packages/evm/contracts/validators/AActionEventValidator.sol
  packages/evm/contracts/validators/ActionEventValidator.sol
Due: forge
