Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

chore: changeset
  .changeset/chilled-walls-explode.md
Due: none

chore(sdk): address @topocount nits
  packages/sdk/src/BoostCore.test.ts
Due: check

test(sdk): Ensure default behavior is limited by LimitedSignerValidator
  packages/sdk/src/BoostCore.test.ts
Due: check

feat(sdk): switch default validator to LimitedSignerValidator with maxClaimCount of 1
  packages/sdk/src/BoostCore.ts
Due: check

fix(sdk): use LimitedSignerValidator base
  packages/sdk/src/Validators/LimitedSignerValidator.ts
Due: check

chore: add changeset
  .changeset/real-trainers-compete.md
Due: none

[ADHOC] fix(sdk): use LimitedSignerValidator base (#407)
  .changeset/real-trainers-compete.md
  packages/sdk/src/Validators/LimitedSignerValidator.ts
Due: check

Version Packages (#408)
  .changeset/real-trainers-compete.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore(evm): generate interface for LimitedSignerValidator
  packages/evm/script/solidity/ComponentInterface.s.sol
Due: forge

chore(sdk): export LimitedSignerValidator component interface
  packages/sdk/src/Validators/Validator.ts
Due: check

chore: add changeset
  .changeset/tough-actors-cross.md
Due: none

[ADHOC] Add limited signer valiator interface (#409)
  .changeset/tough-actors-cross.md
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/sdk/src/Validators/Validator.ts
Due: check, forge

Version Packages (#410)
  .changeset/tough-actors-cross.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

fix: sign typedData using signer.privateKey
  packages/sdk/src/Validators/LimitedSignerValidator.ts
Due: check

chore: generate changeset
  .changeset/seven-ducks-invite.md
Due: none

[ADHOC] sign typedData using signer.privateKey (#411)
  .changeset/seven-ducks-invite.md
  packages/sdk/src/Validators/LimitedSignerValidator.ts
Due: check

[ADHOC] chore: version packages (#412)
  .changeset/seven-ducks-invite.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

chore: generate changeset
  .changeset/heavy-peas-try.md
Due: none

chore(cli): create types for cli package release
  .changeset/warm-cycles-care.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/deploy.ts
  packages/cli/src/commands/seed.ts
  packages/evm/contracts/shared/Mocks.sol
  pnpm-workspace.yaml
  test/src/MockERC1155.ts
  test/src/MockERC721.ts
  test/src/helpers.ts
  test/src/viem.ts
  turbo.json
Due: check, forge

feat(cli): add util function that coerces string values into bigint values given a specific zod schema
  packages/cli/src/utils.ts
Due: check

feat(cli): adds a util that takes in a Zod type and returns a zod type with all instances of BigInt convert to strings
  packages/cli/src/utils.ts
Due: check

fix(cli): add ManagedBudgetWithFeesV2 to seed script
  packages/cli/src/commands/seed.ts
Due: check

chore(cli): create exportable parser for BoostConfigs
  packages/cli/package.json
  packages/cli/src/commands/seed.ts
  packages/cli/src/utils.ts
Due: check

feat(evm): implement Transparent Budget and Boost Creation flow
  packages/evm/contracts/budgets/ATransparentBudget.sol
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Due: forge

chore: return promises for `decodeClaimData` on incentives
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Due: check

feat: add `decodeClaimData` for `ERC20VariableCritieriaIncentive`
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

chore: remove promise from ERC20PeggedIncentive
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
Due: check

chore: add changeset
  .changeset/clean-parents-laugh.md
Due: none

chore: prevent breaking changes with the magic of generics
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Due: check

[ADHOC] Decode Claim Data Update (#419)
  .changeset/clean-parents-laugh.md
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Due: check

[BOOST-5265] feat(evm): Support Permit2 on Transparent Budget (#392)
  .github/workflows/verify.yml
  packages/evm/.env.example
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/contracts/shared/IPermit2.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Due: forge

feat(evm): add authorized clawbacks from incentives to TransparentBudget
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Due: forge

feat: add ValueType enum for incentive criteria
  packages/evm/contracts/incentives/AERC20PeggedVariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
Due: forge
