Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

chore: sepolia deployments
  packages/evm/broadcast/Deploy.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/deploys/11155111.json
Due: check, forge

chore: base sepolia deployments
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732658307.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732660593.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/84532.json
Due: check, forge

chore: arbitrum deployments
  packages/evm/broadcast/Deploy.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42161/run-latest.json
  packages/evm/deploys/42161.json
Due: check, forge

chore: base deployments
  packages/evm/broadcast/Deploy.s.sol/8453/run-1732670890.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1732671177.json
  packages/evm/deploys/8453.json
Due: check, forge

chore: optimism deployments
  packages/evm/broadcast/Deploy.s.sol/10/run-1732672112.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1732672402.json
  packages/evm/deploys/10.json
Due: check, forge

chore: add changeset
  .changeset/stupid-pans-travel.md
Due: none

[ADHOC] Deployments (#292)
  .changeset/stupid-pans-travel.md
  packages/evm/broadcast/Deploy.s.sol/10/run-1732672112.json
  packages/evm/broadcast/Deploy.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1732670890.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732658307.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732660593.json
  packages/evm/broadcast/Deploy_Modules.s.sol/10/run-1732672402.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/42161/run-latest.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1732671177.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-latest.json
  packages/evm/deploys/10.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Due: check, forge

chore: add base sepolia verification
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732674090.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1732674395.json
Due: check, forge

fix: add owner param on cli and sdk
  packages/cli/src/commands/deploy.ts
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
Due: check

chore: add changeset
  .changeset/curvy-buckets-type.md
Due: none

[ADHOC] Add owner params (#294)
  .changeset/curvy-buckets-type.md
  packages/cli/src/commands/deploy.ts
  packages/evm/broadcast/Deploy.s.sol/84532/run-1732674090.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1732674395.json
  packages/sdk/src/BoostCore.ts
  test/src/helpers.ts
Due: check, forge

Version Packages (#293)
  .changeset/curvy-buckets-type.md
  .changeset/stupid-pans-travel.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat: add ReadParams to various functions across modules
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Validators/Validator.ts
Due: check

chore: generate changeset
  .changeset/short-spies-kiss.md
Due: none

[BOOST-5051] fix issues with `core.getBoost` (#295)
  .changeset/short-spies-kiss.md
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Validators/Validator.ts
Due: check

fix: update args in isClaimable methods across incentives
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Due: check

test: add tests for isClaimable functionality
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Due: check

chore: format
  packages/sdk/src/Incentives/PointsIncentive.test.ts
Due: check

chore: format
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
Due: check

chore: generate changeset
  .changeset/quick-berries-decide.md
Due: none

refactor: use empty bytestring instead of zeroHash
  packages/sdk/src/Incentives/AllowListIncentive.ts
Due: check

chore: format
  packages/sdk/src/Incentives/AllowListIncentive.ts
Due: check

[BOOST-4992] fix `incentive.isClaimable()` throws error (#297)
  .changeset/quick-berries-decide.md
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Due: check

feat(DeployableTargetWithRBAC): add ownership transfer feature
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

feat: add ownership renouncement methods to DeployableTarget
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

feat(DeployableTargetWithRBAC): add ownership handover methods
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

feat(DeployableTargetWithRBAC): add ownership handover cancellation methods
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

feat(DeployableTargetWithRBAC): add ownership handover expiry method
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

feat(DeployableTargetWithRBAC): add role renouncement methods
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

chore: generate changeset
  .changeset/spicy-monkeys-tease.md
Due: none

chore: format
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
Due: check

[BOOST-4989] add public methods from `Ownable` to `DeployableTargetWithRBAC` (#305)
  .changeset/spicy-monkeys-tease.md
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.test.ts
  packages/sdk/src/Deployable/DeployableTargetWithRBAC.ts
Due: check

chore: add changeset
  .changeset/shiny-pandas-rush.md
Due: none

test: add tests for event action step block number validation
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

fix: allow valid `notBeforeBlockNumber` to continue validation
  packages/sdk/src/Actions/EventAction.ts
Due: check

[ADHOC] Fix block number validation (#304)
  .changeset/shiny-pandas-rush.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

Version Packages (#296)
  .changeset/quick-berries-decide.md
  .changeset/shiny-pandas-rush.md
  .changeset/short-spies-kiss.md
  .changeset/spicy-monkeys-tease.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat(evm): add events to modules
  packages/evm/contracts/actions/EventAction.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/validators/SignerValidator.sol
Due: forge

feat(evm): pegged incentive
  packages/evm/contracts/incentives/AERC20PeggedIncentive.sol
  packages/evm/contracts/incentives/ERC20PeggedIncentive.sol
Due: forge

feat(evm): pegged incentive deploy
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
