Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

feat(signatures): add SecondaryBuy event signature
  packages/signatures/manifests/events.json
Due: check

[ADHOC]: add BoostCreated and BoostClaimed events to signatures (#228)
  .changeset/real-planes-ring.md
  packages/signatures/manifests/events.json
Due: check

fix(sdk,EventAction): must specify chainId during validation to cover all conditional cases
  .changeset/fluffy-foxes-joke.md
  packages/sdk/src/Actions/EventAction.ts
Due: check

[ADHOC] fix(sdk,EventAction): must specify chainId during validation to cover all conditional cases (#230)
  .changeset/fluffy-foxes-joke.md
  packages/sdk/src/Actions/EventAction.ts
Due: check

feat(sdk): add helper for gas rebates
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
Due: check

Create chilly-pets-live.md
  .changeset/chilly-pets-live.md
Due: none

test(sdk): helpers for variable criteria gas rebates
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
Due: check

refactor(sdk): use an enum for cheat codes
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/utils.ts
Due: check

ci: fix build, update eoa to real one
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Validators/Validator.test.ts
  packages/sdk/src/index.test.ts
Due: check

feat(sdk): add BoostValidatorEOA enum, default signer to it if none provided during createBoost
  .changeset/rude-planes-hammer.md
  .github/workflows/on-push-to-main.yml
  .github/workflows/verify.yml
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
  turbo.json
Due: check

ci: fix tests
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
Due: check

ci: fix caching
  .github/actions/install-dependencies/action.yml
Due: none

[ADHOC] feat(sdk): add BoostValidatorEOA enum, default signer to it if none provided during createBoost (#227)
  .changeset/rude-planes-hammer.md
  .github/actions/install-dependencies/action.yml
  .github/workflows/on-push-to-main.yml
  .github/workflows/verify.yml
  examples/agora-vote/src/agora-vote.test.ts
  examples/delegate-action/src/delegate-action.test.ts
  examples/ens-register/src/ens-register.test.ts
  examples/swap-specific-dex/src/swap-specific-dex.test.ts
  examples/zora-mint/src/zora-mint.test.ts
  packages/sdk/.env.sample
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/AllowListIncentive.test.ts
  packages/sdk/src/Incentives/CGDAIncentive.test.ts
  packages/sdk/src/Incentives/ERC1155Incentive.test.ts
  packages/sdk/src/Incentives/ERC20Incentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.test.ts
  packages/sdk/src/Incentives/PointsIncentive.test.ts
  packages/sdk/src/Validators/SignerValidator.test.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.test.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/index.test.ts
  packages/sdk/vite.config.js
  packages/sdk/vitest.config.ts
  turbo.json
Due: check

refactor(sdk): erc20variablecriteria extends erc20variable, remove dependence on signatures
  .changeset/tender-crabs-sniff.md
  packages/sdk/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  pnpm-lock.yaml
Due: check

refactor(sdk): erc20variablecriteria extends erc20variable, remove dependence on signatures (#231)
  .changeset/tender-crabs-sniff.md
  packages/sdk/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.test.ts
  packages/sdk/src/Incentives/ERC20VariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  pnpm-lock.yaml
Due: check

Version Packages (alpha) (#226)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
Due: check

fix(SignerValidator): use PrivateKeyAccount's signTypedData
  packages/sdk/src/Validators/SignerValidator.ts
Due: check

chore: add changeset
  .changeset/ten-horses-sleep.md
Due: none

[ADHOC] Fix SignerValidator Signature (#232)
  .changeset/ten-horses-sleep.md
  packages/sdk/src/Validators/SignerValidator.ts
Due: check

Version Packages (alpha) (#233)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

fix(sdk,EventAction): transactionSenderClaimant needs chainId, always use chainId off step/claiamnt
  .changeset/great-roses-sort.md
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Validators/SignerValidator.ts
Due: check

chore: add component interface for variable critieria incentive
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
  packages/evm/contracts/incentives/ERC20VariableCriteriaIncentive.sol
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/sdk/src/Incentives/Incentive.ts
Due: check, forge

fix(evm): call super.supportsInterface
  packages/evm/contracts/incentives/AERC20VariableCriteriaIncentive.sol
Due: forge

fix(evm): tweak interface generation
  packages/evm/script/solidity/ComponentInterface.s.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
Due: forge

Revert "fix(sdk,EventAction): transactionSenderClaimant needs chainId, always use chainId off step/claiamnt"
  .changeset/great-roses-sort.md
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Validators/SignerValidator.ts
Due: check

fix(sdk): add chain id to transactionSenderClaimant
  packages/sdk/src/Actions/EventAction.test.ts
Due: check

fix(sdk,EventAction): support passing any GetTransactionParameters
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: changeset
  .changeset/soft-schools-warn.md
Due: none

[ADHOC] fix(sdk,EventAction): transactionSenderClaimant needs chainId, accept all GetTransactionParametters in validation (#235)
  .changeset/great-roses-sort.md
  .changeset/soft-schools-warn.md
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/Validators/SignerValidator.ts
Due: check

Version Packages (alpha) (#236)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

feat(sdk,EventAction): add notBeforeBlockNumber to validate params
  .changeset/tricky-phones-dream.md
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

Version Packages (alpha) (#238)
  .changeset/pre.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: check

fix: only decode matched events
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: add changeset
  .changeset/shaggy-moose-fry.md
Due: none

[ADHOC] Fix `DecodeLogTopicsMismatch` Error (#240)
  .changeset/shaggy-moose-fry.md
  packages/sdk/src/Actions/EventAction.ts
Due: check
