Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

refactor(TimeBasedIncentiveManager): extract campaign parameter validation
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

feat(TimeBasedIncentiveManager): add open-ended campaign state
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

feat(TimeBasedIncentiveManager): add open-ended campaign events and errors
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

feat(TimeBasedIncentiveManager): import OpenEndedIncentiveCampaign
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

test: add TimeBasedIncentiveManagerV2_3 archive fixture
  packages/evm/test/timebased/archive/TimeBasedIncentiveManagerV2_3.sol
Due: forge

feat(TimeBasedIncentiveManager): add setOpenEndedCampaignImplementation
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
Due: forge

test: add comprehensive OpenEndedIncentiveCampaign test suite
  packages/evm/test/timebased/OpenEndedIncentiveCampaign.t.sol
Due: forge

test: add ReferralDistributorV2_3 archive fixture
  packages/evm/test/timebased/archive/ReferralDistributorV2_3.sol
Due: forge

chore: bump version to 2.4.0
  packages/evm/contracts/timebased/TimeBasedIncentiveManager.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerFeeModule.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerReferrals.t.sol
Due: forge

[BOOST-6779] Add open-ended incentive campaigns with top-up support (#560)
  packages/evm/contracts/timebased/OpenEndedIncentiveCampaign.sol
  packages/evm/test/timebased/OpenEndedIncentiveCampaign.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerFeeModule.t.sol
  packages/evm/test/timebased/TimeBasedIncentiveManagerReferrals.t.sol
  packages/evm/test/timebased/archive/ReferralDistributorV2_3.sol
  packages/evm/test/timebased/archive/TimeBasedIncentiveManagerV2_3.sol
Due: forge

feat(OpenEndedIncentiveCampaign): add TopUpNotFunded error and reentrancy protection
  packages/evm/contracts/timebased/OpenEndedIncentiveCampaign.sol
Due: forge

chore: add deployment script for TBI open-ended rollout
  packages/evm/script/solidity/DeployImpl_TBIOpenEnded.s.sol
Due: forge

chore(deploy): update 84532 deployment addresses
  packages/evm/deploys/84532.json
Due: check, forge

test(OpenEndedIncentiveCampaign): add TopUpNotFunded validation tests
  packages/evm/test/timebased/OpenEndedIncentiveCampaign.t.sol
Due: forge

test: add ReentrantTopUpBudget helper for reentrancy testing
  packages/evm/test/timebased/OpenEndedIncentiveCampaign.t.sol
Due: forge

chore: record deployment artifacts for Base Sepolia rollout
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/84532/run-1790887337221.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/84532/run-latest.json
Due: check, forge

test: add reentrancy protection test suite for open-ended campaigns
  packages/evm/test/timebased/OpenEndedIncentiveCampaign.t.sol
Due: forge

fix: enhance version verification in DeployImpl_TBIOpenEnded script for accurate upgrade checks
  packages/evm/script/solidity/DeployImpl_TBIOpenEnded.s.sol
Due: forge

[BOOST-6779] Open-ended: reject unfunded top-ups (TopUpNotFunded) + rollout script (#561)
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/84532/run-1790887337221.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/84532/run-latest.json
  packages/evm/contracts/timebased/OpenEndedIncentiveCampaign.sol
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/DeployImpl_TBIOpenEnded.s.sol
  packages/evm/test/timebased/OpenEndedIncentiveCampaign.t.sol
Due: check, forge

chore(foundry): configure etherscan integration for robinhood chain
  packages/evm/foundry.toml
Due: none

feat: update referral distributor address and add open-ended incentive campaign
  packages/evm/deploys/1.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/4663.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
Due: check, forge

chore: add deployment broadcast artifacts for open-ended incentive campaign
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/1/run-1791230682552.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/1/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/10/run-1791230373264.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/10/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/137/run-1791230833833.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/137/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/42161/run-1791230120598.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/42161/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/4663/run-1791231552262.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/4663/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/480/run-1791230294438.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/480/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/8453/run-1791229157335.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/8453/run-latest.json
Due: check, forge

[ADHOC] Deploy open-ended incentive campaign contracts across networks (#562)
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/1/run-1791230682552.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/1/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/10/run-1791230373264.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/10/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/137/run-1791230833833.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/137/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/42161/run-1791230120598.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/42161/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/4663/run-1791231552262.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/4663/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/480/run-1791230294438.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/480/run-latest.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/8453/run-1791229157335.json
  packages/evm/broadcast/DeployImpl_TBIOpenEnded.s.sol/8453/run-latest.json
  packages/evm/deploys/1.json
  packages/evm/deploys/10.json
  packages/evm/deploys/137.json
  packages/evm/deploys/42161.json
  packages/evm/deploys/4663.json
  packages/evm/deploys/480.json
  packages/evm/deploys/8453.json
  packages/evm/foundry.toml
Due: check, forge
