Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

feat(evm): add address target to event action
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/test/actions/EventAction.t.sol
Due: forge

fix(evm): typo in actionParatmer vs actionParameters
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/test/actions/EventAction.t.sol
Due: forge

ci(turbo): ensure ci tests have build in cache
  turbo.json
Due: check

chore(types): generalize wagmi.Config, mark account optional in jsdoc, 2.x viem/wagmi peering
  .npmrc
  examples/next/src/components/MainPane/MainPane.tsx
  package.json
  packages/evm/package.json
  packages/sdk/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/BoostRegistry.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/utils.ts
  pnpm-lock.yaml
Due: check

chore(hardhat): dont hoist hardhat, it wants local always
  .npmrc
  packages/evm/package.json
  packages/sdk/src/utils.ts
Due: check

chore(types): generalize viem.LocalAccount, document
  packages/evm/package.json
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/utils.ts
Due: check

fix(evem): getComponentInterface in AEventAction
  packages/evm/contracts/actions/AEventAction.sol
Due: forge

test(evem): getComponentInterface in AEventAction
  packages/evm/test/actions/EventAction.t.sol
Due: forge

feat(sdk): add EventAction
  packages/cli/src/commands/deploy.ts
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/EventAction.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/helpers.ts
Due: check

fix(sdk): type EventActionArtifact
  packages/cli/src/commands/deploy.ts
Due: check

fix(types): locally override versions for compilation, peer w/ 2.x
  examples/next/package.json
  package.json
  packages/evm/artifacts/generated.ts
  packages/evm/package.json
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/utils.ts
  pnpm-lock.yaml
Due: check, forge

chore: minor tweaks
  README.md
  packages/sdk/test/helpers.ts
Due: check

chore: add event action to sample .env
  packages/sdk/.env.sample
Due: none

feat(evm): add PassthroughAuth/IAuth
  packages/evm/contracts/auth/IAuth.sol
  packages/evm/contracts/auth/PassthroughAuth.sol
Due: forge

feat(evm): change createBoost auth to be optional
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): test IAuth and Boostcore passthrough auth
  packages/evm/contracts/auth/IAuth.sol
  packages/evm/contracts/auth/PassthroughAuth.sol
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/shared/Mocks.t.sol
Due: forge

feat(evm): add ERC20VariableIncentive
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
Due: forge

test(evm): ERC20VariableIncentive
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

chore(evm): change forge fmt settings
  lefthook.yml
Due: none

chore(evm): add artifacts to gitignore
  packages/evm/.gitignore
Due: none

fix(evm): make SignerValidator utilize EIP712
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/shared/IBoostClaim.sol
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/contracts/validators/SignerValidator.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

feat(evm): add delegated claims interface
  packages/evm/contracts/BoostCore.sol
Due: forge

s/Validator/AValidator/g
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/actions/AERC721MintAction.sol
  packages/evm/contracts/actions/Action.sol
  packages/evm/contracts/shared/BoostLib.sol
  packages/evm/contracts/validators/ASignerValidator.sol
  packages/evm/contracts/validators/AValidator.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
  packages/evm/test/e2e/EndToEnd.t.sol
  packages/evm/test/validators/SignerValidator.t.sol
Due: forge

feat(evm): ManagedBudget contract, unit tests
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
Due: forge

ci(turbo): depend on build for ci tests
  turbo.json
Due: check

feat(validators): add event based signer validator
  packages/evm/contracts/validators/EventSignerValidator.sol
Due: forge

fix(contracts): rename ActionEventValidator
  packages/evm/contracts/validators/ActionEventValidator.sol
  packages/evm/test/validators/ActionEventValidator.sol
Due: forge

test(validators): event based signer validator
  packages/evm/test/validators/EventSignerValidator.t.sol
Due: forge

refactor(evm): update action event validator to include component interfaces
  packages/evm/contracts/validators/AActionEventValidator.sol
Due: forge

refactor(evm): update action event validator to include component interfaces
  packages/evm/contracts/validators/AActionEventValidator.sol
  packages/evm/contracts/validators/ActionEventValidator.sol
Due: forge

chore: lint
  packages/evm/contracts/validators/ActionEventValidator.sol
  packages/evm/test/validators/ActionEventValidator.sol
Due: forge

feat(evm): add event action
  packages/evm/contracts/actions/AEventAction.sol
  packages/evm/contracts/actions/EventAction.sol
Due: forge

feat(evm): delete event validator
  packages/evm/contracts/validators/AActionEventValidator.sol
  packages/evm/contracts/validators/ActionEventValidator.sol
Due: forge

test(evm): event action
  packages/evm/test/actions/EventAction.t.sol
  packages/evm/test/validators/ActionEventValidator.sol
Due: forge
