Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

test(sdk): add running incentive topup test
  packages/sdk/src/BoostCore.test.ts
Due: check

test(evm): add topup tests to incentive testing
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/ERC20PeggedIncentive.t.sol
  packages/evm/test/incentives/ERC20PeggedVariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableCriteriaIncentive.t.sol
  packages/evm/test/incentives/ERC20VariableIncentive.t.sol
Due: forge

fix(evm): correct total amount handling and encoing
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(sdk): throw if topup is zero in SDK
  packages/sdk/src/BoostCore.ts
Due: check

feat(sdk): add topup payload helpers to incentives
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/ERC20PeggedIncentive.ts
  packages/sdk/src/Incentives/ERC20PeggedVariableCriteriaIncentive.ts
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Due: check

feat(sdk): account for fee as an additional amount instead of a discounted amount
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): tweak topup accounting in topupIncentiveFromSender
  packages/evm/contracts/BoostCore.sol
Due: forge

test(evm): enable topup fuzz testing
  packages/evm/test/BoostCore.t.sol
Due: forge

fix(evm): revert changes to _getFeeDisbursal
  packages/evm/contracts/BoostCore.sol
Due: forge

fix(evm): increment management fee on disbursement rather than set it
  packages/evm/contracts/budgets/ManagedBudgetWithFees.sol
  packages/evm/test/budgets/ManagedBudgetWithFees.t.sol
Due: forge

feat(evm): implement Topup events in core
  packages/evm/contracts/BoostCore.sol
  packages/evm/test/BoostCore.t.sol
Due: forge

fix(sdk): typo in getTopupPayload call
  packages/sdk/src/BoostCore.ts
Due: check

test(evm): uncomment the assertion in the topup fuzz test
  packages/evm/test/BoostCore.t.sol
Due: forge

chore(evm): update registry string in deploy modules script
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

chore: broadcast deployments
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1737751733.json
  packages/evm/broadcast/Deploy.s.sol/8453/run-1737753961.json
  packages/evm/broadcast/Deploy.s.sol/84532/run-1737753635.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1737753567.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1737754177.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1737753824.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
Due: check, forge

Create stale-ties-know.md
  .changeset/stale-ties-know.md
Due: none

chore(evm): deploy managed budget with fee v2
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1737755204.json
  packages/evm/broadcast/Deploy_Modules.s.sol/8453/run-1737755098.json
  packages/evm/broadcast/Deploy_Modules.s.sol/84532/run-1737755143.json
  packages/evm/deploys/11155111.json
  packages/evm/deploys/8453.json
  packages/evm/deploys/84532.json
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: check, forge

fix(evm): silence 0-depth reverts
  packages/evm/test/shared/IncentiveBits.t.sol
Due: forge

test(evm): use stable foundry in ci
  .github/actions/install-dependencies/action.yml
Due: none

fix(errors): correct error message in BoostNotFoundError
  packages/sdk/src/errors.ts
Due: check

feat(evm): bbbbb token
  packages/evm/contracts/tokens/bbbbb.sol
Due: forge

test(evm): bbbbb token
  packages/evm/test/tokens/bbbbb.t.sol
Due: forge

fix(sdk): some params for calls were ReadParams vs WriteParams
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/Validators/LimitedSignerValidator.ts
  packages/sdk/src/Validators/SignerValidator.ts
Due: check

chore: set viem dep to override sub deps to local
  package.json
  pnpm-lock.yaml
Due: check

fix(sdk): tweak ReadParams vs WriteParams in core
  packages/sdk/src/BoostCore.ts
Due: check

feat(evm): add authorized clawbacks from incentives to TransparentBudget
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Due: forge

feat(evm): implement Transparent Budget and Boost Creation flow
  packages/evm/contracts/budgets/ATransparentBudget.sol
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/contracts/shared/Mocks.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Due: forge

[ADHOC] fix typo in BoostNotFoundError (#384)
  packages/sdk/src/errors.ts
Due: check

feat(evm): support permit2 on Transparent Budget
  packages/evm/.env.example
  packages/evm/contracts/budgets/TransparentBudget.sol
  packages/evm/contracts/shared/IPermit2.sol
  packages/evm/test/budgets/TransparentBudget.t.sol
Due: forge

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
