Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    forge:
      glob: "packages/evm/**/*"
      run: forge fmt packages/evm

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

fix(budget): add missing interface support
  packages/evm/contracts/budgets/ASimpleBudget.sol
Due: forge

feat(evm): add getComponentInterface to Budget
  packages/evm/contracts/budgets/ASimpleBudget.sol
  packages/evm/contracts/budgets/Budget.sol
Due: forge

feat(evm): add getComponentInterface to Action
  packages/evm/contracts/actions/Action.sol
Due: forge

refactor(evm): switch Action to general NotImplemented errors
  packages/evm/contracts/actions/Action.sol
  packages/evm/contracts/actions/ERC721MintAction.sol
  packages/evm/test/actions/ERC721MintAction.t.sol
Due: forge

fix(evm): Budget getComponentInterface doesn't override
  packages/evm/contracts/budgets/Budget.sol
Due: forge

feat(evm): push setters to Allowlist
  packages/evm/contracts/allowlists/AllowList.sol
  packages/evm/contracts/allowlists/SimpleAllowList.sol
  packages/evm/contracts/allowlists/SimpleDenyList.sol
Due: forge

feat(evm): push reward up to parent Incentive component
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/Incentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
Due: forge

chore(evm): standardize authorized_ usage
  packages/evm/contracts/budgets/Budget.sol
Due: forge

chore(evm): standardize BoostError.LengthMismatch usage
  packages/evm/contracts/budgets/ASimpleBudget.sol
  packages/evm/contracts/budgets/Budget.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/test/budgets/SimpleBudget.t.sol
Due: forge

feat(evm): add getComponentInterface to Incentive
  packages/evm/contracts/incentives/Incentive.sol
Due: forge

feat(evm): add getComponentInterface to Validator
  packages/evm/contracts/validators/Validator.sol
Due: forge

fix(evm): loose Budget.LengthMismatch
  packages/evm/test/budgets/VestingBudget.t.sol
Due: forge

fix(evm): make MockAllowList concrete
  packages/evm/test/BoostRegistry.t.sol
Due: forge

fix(evm): cleanup getComponentInterface override for ERC721 mint action
  packages/evm/contracts/actions/ERC721MintAction.sol
Due: forge

refactor(evm): change reward handling for incentives
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/BoostRegistry.t.sol
  packages/evm/test/e2e/EndToEnd.t.sol
  packages/evm/test/incentives/ERC20Incentive.t.sol
  packages/evm/test/incentives/PointsIncentive.t.sol
Due: forge

fix(evm): Allowlist overrides
  packages/evm/contracts/allowlists/SimpleAllowList.sol
  packages/evm/contracts/allowlists/SimpleDenyList.sol
Due: forge

feat(sdk): set up docs tasks on main
  .gitignore
  package.json
  packages/sdk/package.json
  packages/sdk/typedoc.json
  pnpm-lock.yaml
Due: check

chore(docs): add typedoc to turbo
  turbo.json
Due: check

test(evm): update latest user stories
  packages/evm/test/utils/helpers.ts
Due: check, forge

test(evm): update latest user stories
  packages/evm/test/user-stories/boosts/create.ts
  packages/evm/test/user-stories/budgets/basics.ts
  packages/evm/test/utils/helpers.ts
Due: check, forge

fix: start sdk logic
  ccashwell.dart
  packages/evm/artifacts/index.ts
  packages/evm/package.json
  packages/evm/test/user-stories/boosts/create.ts
  packages/evm/test/user-stories/budgets/basics.ts
  packages/evm/test/utils/helpers.ts
  packages/evm/vite.config.js
  packages/sdk/package.json
  packages/sdk/src/Budgets/index.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.ts
  packages/sdk/vite.config.js
  pnpm-lock.yaml
  tsconfig.json
Due: check, forge

chore: iterate budgets, enforce type imports
  .gitignore
  biome.json
  packages/sdk/.env.sample
  packages/sdk/src/Budgets/Budgets.ts
  packages/sdk/src/Budgets/index.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/artifact.ts
  packages/sdk/src/index.ts
  packages/sdk/tsconfig.json
  packages/sdk/vite-env.d.ts
Due: check

chore(sdk): flesh out boost payload dependencies
  packages/evm/artifacts/index.ts
  packages/sdk/package.json
  packages/sdk/src/Actions/Action.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/AllowList.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/Validators/Validator.ts
  packages/sdk/src/index.ts
  tsconfig.json
Due: check, forge

chore(sdk): stabilize deployable api, improve vite build config for max tree shakeage
  packages/evm/artifacts/index.ts
  packages/sdk/package.json
  packages/sdk/src/Budgets/Budgets.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/artifact.ts
  packages/sdk/src/errors.ts
  packages/sdk/vite.config.js
  pnpm-lock.yaml
Due: check, forge

chore(sdk): add .at(address) static api to deployable
  packages/sdk/src/Deployable/Deployable.ts
Due: check

chore: allowlist contract method examples
  packages/evm/artifacts/generated.ts
  packages/evm/wagmi.config.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/errors.ts
Due: check, forge

chore: various api design approaches
  packages/evm/artifacts/generated.ts
  packages/evm/artifacts/index.ts
  packages/evm/test/user-stories/boosts/create.ts
  packages/evm/test/utils/helpers.ts
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.test.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostClient.test.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils.ts
  packages/sdk/tsconfig.json
Due: check, forge

chore(sdk): createBoost generator functionality
  packages/sdk/package.json
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Deployable/Deployable.ts
Due: check

chore: stabilize api
  packages/evm/artifacts/index.ts
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.test.ts
  packages/sdk/src/BoostClient.test.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/utils.ts
  packages/sdk/vite.config.js
Due: check, forge

chore: make payload names friendlier
  packages/evm/artifacts/index.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/BoostClient.test.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
Due: check, forge

chore: use data structures for budget transfers
  packages/evm/artifacts/index.ts
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
Due: check, forge

chore: get contract deployments working
  packages/sdk/test/helpers.ts
  packages/sdk/test/setup.hardhat.ts
  packages/sdk/test/viem.ts
Due: check

chore: good sdk test progress
  .gitignore
  package.json
  packages/evm/package.json
  packages/evm/test/user-stories/budgets/basics.ts
  packages/sdk/hardhat.config.cjs
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/BoostClient.test.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/test.ts
  packages/sdk/test/accounts.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/setup.hardhat.ts
  packages/sdk/test/viem.ts
  packages/sdk/vitest.config.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: check, forge

chore: lint
  packages/evm/contracts/BoostCore.sol
Due: forge

chore: stabilize create, boost core tests
  package.json
  packages/evm/package.json
  packages/sdk/package.json
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Boost.ts
  packages/sdk/src/BoostClient.test.ts
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/BoostCore.ts
  packages/sdk/src/Budgets/Budget.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
  packages/sdk/src/Deployable/DeployableTarget.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/index.ts
  packages/sdk/test/helpers.ts
  packages/sdk/test/viem.ts
Due: check

feat(boost core): add BoostCreated event
  packages/evm/contracts/BoostCore.sol
Due: forge

chore: add account to configuration to make some contract ops easier
  packages/sdk/src/BoostClient.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Deployable/Deployable.ts
Due: check

feat: expose raw/awaited api for all write methods
  packages/sdk/src/Actions/ContractAction.ts
  packages/sdk/src/Actions/ERC721MintAction.ts
  packages/sdk/src/AllowLists/SimpleAllowList.ts
  packages/sdk/src/AllowLists/SimpleDenyList.ts
  packages/sdk/src/Budgets/SimpleBudget.ts
  packages/sdk/src/Budgets/VestingBudget.ts
  packages/sdk/src/Deployable/Contract.ts
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC1155Incentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
  packages/sdk/src/Validators/SignerValidator.ts
  packages/sdk/src/index.ts
Due: check
