Repository boostxyz/boost-protocol: changes, and which lefthook commands are due for each by the changed paths.
All: check, forge

check:
  run: ./node_modules/@biomejs/biome/bin/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

forge:
  run: forge fmt packages/evm/contracts && forge fmt packages/evm/test

chore(evm): lint fix
  packages/evm/contracts/BoostCore.sol
Due: forge

fix(evm): rm via-ir
  packages/evm/package.json
Due: check

chore(evm): rename currentReward to currentRewardAmount
  packages/evm/contracts/incentives/CGDAIncentive.sol
Due: forge

chore(evm): rename incentive to newIncentive to avoid shadowing
  packages/evm/contracts/BoostCore.sol
Due: forge

feat(evm): tweak managed budget disbursal tracking
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
Due: forge

chore(evm): move hardhat cache from `cache` to `cache_hh`
  .gitignore
  packages/evm/hardhat_build.config.cjs
Due: check

feat(evm): convert clawback to return uint256
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/budgets/VestingBudget.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/shared/IClaw.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
  packages/evm/test/budgets/VestingBudget.t.sol
Due: forge

feat(evm): make asset public on incentives
  packages/evm/contracts/incentives/ACGDAIncentive.sol
  packages/evm/contracts/incentives/AERC1155Incentive.sol
  packages/evm/contracts/incentives/AERC20Incentive.sol
  packages/evm/contracts/incentives/AERC20VariableIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
Due: forge

feat(evm): discount distributed amount in clawback
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/shared/IClaw.sol
Due: forge

feat(evm): pass asset address up through the fclawback calls
  packages/evm/contracts/BoostCore.sol
  packages/evm/contracts/budgets/ABudget.sol
  packages/evm/contracts/budgets/AManagedBudget.sol
  packages/evm/contracts/budgets/ManagedBudget.sol
  packages/evm/contracts/incentives/AIncentive.sol
  packages/evm/contracts/incentives/AllowListIncentive.sol
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/contracts/incentives/ERC1155Incentive.sol
  packages/evm/contracts/incentives/ERC20Incentive.sol
  packages/evm/contracts/incentives/ERC20VariableIncentive.sol
  packages/evm/contracts/incentives/PointsIncentive.sol
  packages/evm/contracts/shared/IClaw.sol
  packages/evm/test/budgets/ManagedBudget.t.sol
Due: forge

test(evm): fix eq vs gt for tests
  packages/evm/contracts/incentives/CGDAIncentive.sol
  packages/evm/test/BoostCore.t.sol
  packages/evm/test/budgets/VestingBudget.t.sol
Due: forge

chore: removes unused getAmount
  packages/evm/contracts/budgets/ManagedBudget.sol
Due: forge

chore: removes unneeded clawbackFromTarget override
  packages/evm/contracts/budgets/AManagedBudget.sol
Due: forge

refactor(evm): default asset to 0xdead
  packages/evm/contracts/incentives/AIncentive.sol
Due: forge

feat(sdk,BoostCore): add simulateCreateBoost
  .changeset/odd-moles-check.md
  packages/sdk/src/BoostCore.test.ts
  packages/sdk/src/BoostCore.ts
Due: check

chore(evm): log deployer address during script execution
  packages/evm/script/solidity/Deploy.s.sol
  packages/evm/script/solidity/Deploy_Modules.s.sol
Due: forge

feat(signatures): add hex selectors as keys in .selectors map
  .changeset/lazy-zebras-wave.md
  packages/signatures/build.js
Due: check

chore(evm): deploy new iteration of protocol
  packages/evm/broadcast/Deploy.s.sol/11155111/run-1729121768.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729122047.json
  packages/evm/broadcast/Deploy_Modules.s.sol/11155111/run-1729122360.json
  packages/evm/deploys/11155111.json
Due: check, forge

chore: update readme with deployment steps
  README.md
Due: none

Create thick-lizards-explode.md
  .changeset/thick-lizards-explode.md
Due: none

Version Packages (alpha) (#199)
  .changeset/pre.json
  examples/agora-vote/CHANGELOG.md
  examples/agora-vote/package.json
  examples/delegate-action/CHANGELOG.md
  examples/delegate-action/package.json
  examples/ens-register/CHANGELOG.md
  examples/ens-register/package.json
  examples/swap-specific-dex/CHANGELOG.md
  examples/swap-specific-dex/package.json
  examples/zora-mint/CHANGELOG.md
  examples/zora-mint/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/signatures/CHANGELOG.md
  packages/signatures/package.json
  test/CHANGELOG.md
  test/package.json
Due: check

chore: remove private from examples for now
  examples/agora-vote/package.json
  examples/delegate-action/package.json
  examples/ens-register/package.json
  examples/swap-specific-dex/package.json
  examples/zora-mint/package.json
Due: check

feat: add anyActionParam
  packages/sdk/src/Actions/EventAction.test.ts
  packages/sdk/src/Actions/EventAction.ts
Due: check

chore: add changeset
  .changeset/fluffy-dolphins-dress.md
Due: none

feat: add buildClaimData method to incentive classes
  packages/sdk/src/Incentives/AllowListIncentive.ts
  packages/sdk/src/Incentives/CGDAIncentive.ts
  packages/sdk/src/Incentives/ERC20Incentive.ts
  packages/sdk/src/Incentives/PointsIncentive.ts
Due: check

feat: add buildClaimData method to ERC20VariableIncentive
  packages/sdk/src/Incentives/ERC20VariableIncentive.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  forge: any of: packages/evm/**/*
